<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>Lingoda: free lesson request</title>
        <style>
            @import url(http://fonts.googleapis.com/css?family=Open+Sans);
            @import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);
        </style>
  </head>
    <body>

<div class="wrapper", style= "width: 640px; background-color: #F5F5F5; padding: 50px;">

	<div class="header", style= "width: 640px; background-color: #316A7E; ">
  <%= image_tag attachments['bg.jpg'].url, width: 640 %>
  </div>

	<div class="content", style="width: 558px; margin: 0 auto; border-left: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; padding: 0px 40px 40px 40px; color: #666C74; font-size: 12px; background-color: #ffffff; font-family: 'Open Sans', helvetica, arial;">

  <div style="font-size: 25px; padding: 20px 0 20px 0; text-align: center;"><%= @trial.name %> has sent you free lesson request!</div>

  <div style="font-size: 14px; padding: 0px 0 20px 0;">
    <%= @trial.name %> is interested in <%= @trial.course.language %> <%= @trial.course.level %> course and is asking you for a free trial lesson. Send <%= @trial.name %> your feedback. In your email propose time and include Adobe Connect link.<br/><br/> 
    In attachment you can find Adobe Connect guide on how to host a meeting.
  </div>
 
	   <table style="font-size: 13px";>

        <tr>
          <td>Course language:</td>
          <td><strong><%= @trial.course.language %></strong></td>
        </tr>

        <tr>
          <td>Course level:</td>
          <td><strong><%= @trial.course.level %></strong></td>
        </tr>

        <tr>
          <td>Course type:</td>
          <td><strong><%= @trial.course.course_type %></strong></td>
        </tr>

        <tr>
          <td>Time zone:</td>
          <td><strong><%= @trial.course.time_zone %></strong></td>
        </tr>

        <tr>
          <td>Lesson time:</td>
          <td><strong><%= @trial.course.time_start %> to <%= @trial.course.time_end %></strong></td>
        </tr>

        <tr>
          <td>Days:</td>
          <td><strong><%= @trial.course.mon %> <%= @trial.course.tue %> <%= @trial.course.wed %> <%= @trial.course.thu %> <%= @trial.course.fri %> <%= @trial.course.sat %> <%= @trial.course.sun %></strong></td>
        </tr>

        <tr>
          <td>Course start:</td>
          <td><strong><%= @trial.course.course_start.to_formatted_s(:rfc822) %></strong></td>
        </tr>

        <tr>
          <td>Course end:</td>
          <td><strong><%= @trial.course.course_end.to_formatted_s(:rfc822) %></strong></td>
        </tr>  
      </table>
	
  	<div class="notice", style="width: 100%; padding: 20px 0 20px 0; font-size: 14px">
      <%= @trial.notice %>
    </div>

    <div class="notice", style="width: 100%; font-size: 14px">
      <b>Contact:</b> <%= @trial.email %>
    </div>

	</div>

    <div class="footer", style="width: 600px; padding: 20px; margin: auto; background-color: #79878E; text-align: center; font-size: 13px; color: #ffffff;">
      <b>Questions? support@lingonas.com</b><br/>
      Lingonas, Romanstr. 60, Munich, D - 80639, Germany
    </div>

</div>
  </body>
</html>