<div class="teacher_edit">
  <div class="teacher_edit_box_title">
      Profile Settings
  </div>

  <div class="teacher_edit_box">
    
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
      <%= f.text_field :name %></div>

  <div><%= f.label :surname %><br />
    <%= f.text_field :surname %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :native_language %><br />
    <%= f.text_field :native_language %></div>

    <div><%= f.label :ispeak, " I speak" %><br />
    <%= f.text_field :ispeak %></div>

    <div><%= f.label :iteach, "I teach" %><br />
    <%= f.text_field :iteach %></div>

    <div><%= f.label :age %><br />
    <%= f.number_field :age %></div>

    <div><%= f.label :location %><br />
    <%= f.text_field :location %></div>

    <div class="custom-dropdown">
    <%= f.select :time_zone,  ["American Samoa", "International Date Line West", "Midway Island", "Hawaii", "Alaska", "Pacific Time (US & Canada)", "Tijuana", "Arizona", "Chihuahua", "Mazatlan", "Mountain Time (US & Canada)", "Central America", "Central Time (US & Canada)", "Guadalajara", "Mexico City", "Monterrey", "Saskatchewan", "Bogota", "Eastern Time (US & Canada)", "Indiana (East)", "Lima", "Quito", "Caracas", "Atlantic Time (Canada)", "Georgetown", "La Paz", "Santiago", "Newfoundland", "Brasilia", "Buenos Aires", "Greenland", "Montevideo", "Mid-Atlantic", "Azores", "Cape Verde Is.", "Casablanca", "Dublin", "Edinburgh", "Lisbon", "London", "Monrovia", "UTC", "Amsterdam", "Belgrade", "Berlin", "Bern", "Bratislava", "Brussels", "Budapest", "Copenhagen", "Ljubljana", "Madrid", "Paris", "Prague", "Rome", "Sarajevo", "Skopje", "Stockholm", "Vienna", "Warsaw", "West Central Africa", "Zagreb", "Athens", "Bucharest", "Cairo", "Harare", "Helsinki", "Istanbul", "Jerusalem", "Kyiv", "Pretoria", "Riga", "Sofia", "Tallinn", "Vilnius", "Baghdad", "Kuwait", "Minsk", "Nairobi", "Riyadh", "Tehran", "Abu Dhabi", "Baku", "Moscow", "Muscat", "St. Petersburg", "Tbilisi", "Volgograd", "Yerevan", "Kabul", "Islamabad", "Karachi", "Tashkent", "Chennai", "Kolkata", "Mumbai", "New Delhi", "Sri Jayawardenepura", "Kathmandu", "Almaty", "Astana", "Dhaka", "Ekaterinburg", "Urumqi", "Rangoon", "Bangkok", "Hanoi", "Jakarta", "Novosibirsk", "Beijing", "Chongqing", "Hong Kong", "Krasnoyarsk", "Kuala Lumpur", "Perth", "Singapore", "Taipei", "Ulaanbaatar", "Irkutsk", "Osaka", "Sapporo", "Seoul", "Tokyo", "Adelaide", "Darwin", "Brisbane", "Canberra", "Guam", "Hobart", "Melbourne", "Port Moresby", "Sydney", "Yakutsk", "New Caledonia", "Solomon Is.", "Vladivostok", "Auckland", "Fiji", "Kamchatka", "Magadan", "Marshall Is.", "Wellington", "Chatham Is.", "Nuku'alofa", "Samoa", "Tokelau Is."], :prompt => 'Select timezone' %>
    </div>

    <%= f.label :about_me %><br />
    <%= f.text_area :about_me, :class => "teacher_about_me" %>

    <div class="edit_teacher_avatar">
      <%= f.label :avatar, "Profile image" %><br />
      <%= f.file_field :avatar, :class => "teacher_avatar" %>
    </div>

  </div>


  <div class="teacher_edit_box_title">
      New Password
  </div>

  <div class="teacher_edit_box">

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password, "New password" %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation, "New password confimation" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  </div>


    <div class="teacher_edit_box_title">
      Save Changes
    </div>

  <div class="teacher_edit_box">

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

    
      <%= f.submit "Save Changes", {:class => "teacher_save_changes_button"} %>
  
<% end %>
  </div>


    <div class="teacher_edit_box_title">
      Cancel Account
    </div>

  <div class="teacher_edit_box">
    <div class="teacher_edit_box_cancel">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>

</div>