<div class="teacher_edit">
  <div class="teacher_edit_box_title">
      Profile Settings
  </div>

  <div class="teacher_edit_box">
    
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
      <%= f.text_field :name %></div>

  <div><%= f.label :surname %><br />
    <%= f.text_field :surname %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :native_language %><br />
    <%= f.text_field :native_language %></div>

    <div><%= f.label :ispeak, " I speak" %><br />
    <%= f.text_field :ispeak %></div>

    <div><%= f.label :iteach, "I teach" %><br />
    <%= f.text_field :iteach %></div>

    <div><%= f.label :age %><br />
    <%= f.number_field :age %></div>

    <div><%= f.label :location %><br />
    <%= f.text_field :location %></div>

    <div class="custom-dropdown">
    <%= f.select :time_zone,  ["American Samoa", "Athens", "Adelaide", "Almaty", "Auckland", "Arizona", "Abu Dhabi", "Astana", "Atlantic Time (Canada)", "Alaska", "Azores", "Amsterdam", "Belgrade", "Brisbane", "Brasilia", "Beijing", "Bogota", "Bern", "Bratislava", "Brussels", "Budapest", "Bucharest", "Bangkok", "Baghdad", "Baku", "Buenos Aires", "Cairo", "Copenhagen", "Canberra", "Chennai", "Chongqing", "Chatham Is.", "Cape Verde Is.", "Caracas", "Chihuahua", "Casablanca", "Central America", "Central Time (US & Canada)", "Dublin", "Dhaka", "Darwin", "Eastern Time (US & Canada)", "Edinburgh", "Ekaterinburg", "Fiji", "Georgetown", "Greenland", "Guam", "Guadalajara", "Harare", "Hobart", "Helsinki", "Hanoi", "Hong Kong", "Hawaii", "Islamabad", "Istanbul", "Irkutsk", "International Date Line West", "Indiana (East)", "Jakarta", "Jerusalem", "Kabul", "Kamchatka",  "Karachi", "Kathmandu", "Kolkata", "Krasnoyarsk", "Kuwait", "Kuala Lumpur", "Kyiv", "La Paz", "Ljubljana", "Lisbon", "London", "Lima", "Madrid", "Marshall Is.", "Magadan", "Mazatlan", "Mountain Time (US & Canada)", "Monrovia", "Mexico City", "Monterrey", "Montevideo", "Mid-Atlantic", "Midway Island", "Minsk", "Moscow", "Muscat", "Mumbai", "Melbourne", "Nairobi", "New Delhi", "New Caledonia", "Newfoundland", "Novosibirsk", "Nuku'alofa", "Osaka", "Pacific Time (US & Canada)", "Paris", "Prague", "Port Moresby", "Perth", "Pretoria", "Quito", "Rangoon", "Riyadh", "Riga", "Saskatchewan", "Samoa", "St. Petersburg", "Sarajevo", "Santiago", "Sapporo", "Seoul", "Solomon Is.", "Sofia", "Sydney", "Singapore", "Skopje", "Stockholm", "Sri Jayawardenepura", "Rome", "Taipei", "Tallinn", "Tashkent", "Tehran",   "Tbilisi", "Tokyo", "Tijuana", "Tokelau Is." "Ulaanbaatar", "Urumqi", "UTC", "Vienna", "Vilnius", "Volgograd", "Vladivostok", "Warsaw", "Wellington", "West Central Africa", "Yakutsk", "Yerevan", "Zagreb"], :prompt => 'Select timezone' %>
    </div>

    <%= f.label :about_me %><br />
    <%= f.text_area :about_me, :class => "teacher_about_me" %>

    <div class="edit_teacher_avatar">
      <%= f.label :avatar, "Profile image" %><br />
      <%= f.file_field :avatar, :class => "teacher_avatar" %>
    </div>

  </div>


  <div class="teacher_edit_box_title">
      New Password
  </div>

  <div class="teacher_edit_box">

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password, "New password" %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation, "New password confimation" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  </div>


    <div class="teacher_edit_box_title">
      Save Changes
    </div>

  <div class="teacher_edit_box">

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

    
      <%= f.submit "Save Changes", {:class => "teacher_save_changes_button"} %>
  
<% end %>
  </div>


    <div class="teacher_edit_box_title">
      Cancel Account
    </div>

  <div class="teacher_edit_box">
    <div class="teacher_edit_box_cancel">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>

</div>