<div id="student_login">
    <div id="student_login_header">Forgot your password?</div>
      <div id="student_login_form">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, autofocus: true, :class => "student_login_field" %></div>

		  <div><%= f.submit "Send me reset password instructions", :class => "login_submit_button" %></div>
      <% end %>
    </div>
  </div>
  
  <div id="student_login_links">
    <%= render "students/shared/links" %>
  </div>