<div id="trial_wrapper">
	<div id="trial_box_header">
		 FREE TRIAL
	</div>

	<div id="trial_box_info">

		<div id="trial_box_info_details">
			<ul>
				<li><b>Tutor:</b> <span>
									<%= link_to @course.teacher, data: { no_turbolink: true }  do %>
										 <%= @course.teacher.name %> <%= @course.teacher.surname %>
									<% end %>
								  </span>
				</li>

				<li><b>Language:</b><span>
										<%= @course.language %>&nbsp 
											<%= link_to @course.teacher, data: { no_turbolink: true }  do %>
												 <%= @course.level %>
											<% end %>
								  	</span>
				</li>
			</ul>
		</div>

		<div id="trial_box_info_step">

			<div id="trial_box_info_flag">
				<%= image_tag "flag.png" %>
			</div>

			<ul>
				<li><b>What you need:</b> Microphone and speaker. Internet connection. Webcam (optional).</li>
				<li><b>1st step:</b> You will receive email from <%= @course.teacher.name %> <%= @course.teacher.surname %> with details and proposal on date and time.</li>
				<li><b>2nd step:</b> Right before lesson start, connect with given link and code to conferencing platform (Adobe Connect).</li>
			</ul>
		</div>

		<div id="trial_box_info_step">

			<div id="trial_box_info_info">
				<%= image_tag "info.png", width: 15 %>
			</div>

			<ul>
				<li><b>Need some help with Abobe Connect?</b> Take a look at this guide.</li>
				<li><b>Still need some help?</b> Feel free to contact us email@email.com</li>
			</ul>
		</div>
	</div>


	<div id="trial_box_form">
	  <%= form_for([@course, @trial]) do |f| %>

		<div class="trial_box_field">    
		    <%= f.label :name %><br/>
		    <%= f.text_field :name %>
	    </div>

	    <div class="trial_box_field">
		    <%= f.label :email %><br/>
		    <%= f.text_field :email %>
		</div>

	    	<%= f.submit "ASK", :class=> "trial_box_button"%>
	  <% end %>
	  </div>
	
</div>