<div id="trial_wrapper">
	<div id="trial_box_header">
		<%= @course.language %> <%= truncate(@course.level, :length => 2, :omission => "") %> free lesson request
	</div>

	<div id="trial_box">
		<ul>

			<li><%= image_tag "message.png", width: 50 %> <b>1st step:</b> Get email with details from tutor
			</li>

			<li><%= image_tag "wifi.png", width: 50 %><b>2nd step:</b> Connect to eLearning platform
			</li>

			<li><%= image_tag "mic.png", width: 50 %><b>You will need:</b> Microphone, speaker & webcam (optional)
			</li>

		<%= link_to @course.teacher, data: { no_turbolink: true }  do %>
			<li><%= image_tag "ribbon.png", :class => "trial_box_ribbon", width: 40 %><%= image_tag "user.png", width: 50 %><b>Tutor:</b> <%= @course.teacher.name %> <%= @course.teacher.surname %>
			</li>
		<% end %>
			
		<%= link_to "http://res.cloudinary.com/dhgsrpwf7/image/upload/v1414797713/participants_bbsf3i.pdf", :target => "_blank", data: { no_turbolink: true }  do %>
			<li>
				<%= image_tag "ribbon.png", :class => "trial_box_ribbon", width: 40 %><%= image_tag "guide.png", width: 50 %><b>Need help?</b> Take a look at this guide
			</li>
		<% end %>

		<%= link_to new_contact_path, data: { no_turbolink: true }  do %>
			<li><%= image_tag "ribbon.png", :class => "trial_box_ribbon", width: 40 %><%= image_tag "chat.png", width: 50 %><b>Still need some help?</b> Feel free to contact us
			</li>
		<% end %>

		</ul>
	</div>      
    	

	<div id="trial_box_form">
	  <%= form_for([@course, @trial]) do |f| %>

	  	<% if @trial.errors.any? %>
	        <div id="error_explanation">
	          <ul>
	            <% @trial.errors.full_messages.each do |msg| %>
	              <li><%= msg %></li>
	            <% end %>
	        </ul>
	      </div>
	    <% end %>

		<div class="trial_box_field">    
		    <%= f.text_field :name, :placeholder => "Name" %>
	    </div>

	    <div class="trial_box_field">
		    <%= f.text_field :email, :placeholder => "Email" %>
		</div>

		<div class="trial_box_field">
		    <%= f.text_area :notice, :class => "trial_box_area", :placeholder => "Write you achievements in language learning" %>
		</div>

	    	<%= f.submit "Send Request", :class=> "trial_box_button"%>
	  <% end %>
	  </div>
	
</div>