<div id="trial_box_header">
	 <%= image_tag "eye.png" %> <%= @course.language %> <%= truncate(@course.level, :length => 2, :omission => "") %> Free Lesson Request
</div>

<div id="trial_wrapper">
	<div id="trial_box">
		<ul>

			<li><%= image_tag "message.png", width: 50 %> <b>1st step:</b> Get email with details from tutor</li>
			<li><%= image_tag "wifi.png", width: 50 %><b>2nd step:</b> Connect to conferencing platform (Adobe Connect)</li>

			<li><%= image_tag "mic.png", width: 50 %><b>You will need:</b> Microphone, speaker & webcam (optional)</li>

			<li>
				<%= image_tag "user.png", width: 50 %>
					<b>Tutor:</b><%= link_to @course.teacher, data: { no_turbolink: true }  do %>
						 <%= @course.teacher.name %> <%= @course.teacher.surname %>
					<% end %>
			</li>
			
			<li><%= image_tag "user.png", width: 50 %><b>Still need some help?</b> Feel free to contact us email@email.com</li>

			<li><%= image_tag "chat.png", width: 50 %><b>Need help?</b> Take a look at this <%= link_to @course.teacher, data: { no_turbolink: true }  do %>guide<% end %> or contact us email@email.com </li>
		</ul>
	</div>
	

	<div id="trial_box_form">
	  <%= form_for([@course, @trial]) do |f| %>

		<div class="trial_box_field">    
		    <%= f.text_field :name, :placeholder => "Name" %>
	    </div>

	    <div class="trial_box_field">
		    <%= f.text_field :email, :placeholder => "Email" %>
		</div>

		<div class="trial_box_field">
		    <%= f.text_area :notice, :class => "trial_box_area", :placeholder => "Write you achievements in language learning" %>
		</div>

	    	<%= f.submit "Send Request", :class=> "trial_box_button"%>
	  <% end %>
	  </div>
	
</div>