<div class="login_form_wrapper">
  <div class="registration_form_header">
    <div class="registration_form_logo">
      <span class="icon-propeller"></span>
    </div>

    Sign in to AviaTraiding
  </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

        <div class="auth_form">
          <%= f.label :email, :class => "auth_label" %>
          <%= f.email_field :email, autofocus: true, :class => "auth_field" %>
        </div>

        <div class="auth_form">
          <%= f.label :password, :class => "auth_label" %>
          <%= f.password_field :password, autocomplete: "off", :class => "auth_field" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <!--<div class="new_advert_checkbox">
            <%= f.check_box :remember_me, {:id => "remember_me"} %>
            <label for="remember_me"></label>
            <span class="login_remember_me">Remember me</span>
          </div>-->
        <% end %>

        <%= f.submit "Sign in", :class => "registration_submit_button" %>

    <% end %>
    
      <div class="registration_form_links">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <% end -%>
        <%= link_to "Sign up", pricing_path %>
      </div>
</div>