<% if @student.orders.count > 0 %>

<% @student.orders.each do |order| %> 

<div id="history_wrapper">

  <div id="history_course">

  <div id="history_header">
    <div id="history_header_small">
      <% if !order.course.nil? %>
        with <%= link_to teacher_path(order.course.teacher_id), data: { no_turbolink: true }  do %><%= order.course.teacher.name unless order.course.nil? %> <%= order.course.teacher.surname unless order.course.nil? %><% end %>
      <% end %>
    </div>

      English B1 Elementary
  </div>

    <table>
      <tr> 
        <th>Course type</th>
        <th>Time zone</th>
        <th>Lesson time</th>
        <th>Days</th>
        <th>Course start</th>
        <th>Course end</th>
      </tr>
      <tr>
        <td><%= order.course_type %></td>
        <td><%= order.time_zone %></td>
        <td><%= order.time_start %> to <%= order.time_end %></td>
        <td><%= order.mon %> <%= order.tue %> <%= order.wed %> <%= order.thu %> <%= order.fri %> <%= order.sat %> <%= order.sun %></td>
        <td><%= order.course_start %></td>
        <td><%= order.course_end %></td>
      </tr>
    </table> 
  </div>

  <div id="history_order">
    <table>
      <tr>
        <th>Order</th>
      </tr>
      <tr>
        <td><%= order.created_at.strftime("%b. %d %Y") %> - Price €<%= price_helper(order.amount) %></td>
      </tr>
    </table> 
  </div>
</div>

<% end %>

<% else %>
  <div id="history_no_records">
    No history yet
  </div>
<% end %>