
<div id="masonry_container">

      <% @student.orders.each do |order| %>
               		
        <div class="box">

            <div class="box_course_title">
              <%= order.course.language unless order.course.nil? %> <%= truncate(order.course.level, :length => 2, :omission => "") unless order.course.nil? %>

              <div class="box_course_price">
                <%= order.course.price unless order.course.nil? %>€
              </div>

              <div class="box_teacher_name">
                with <%= link_to teacher_path(order.course.teacher_id), data: { no_turbolink: true } unless order.course.nil?  do %> <%= order.course.teacher.name unless order.course.nil? %> <%= order.course.teacher.surname unless order.course.nil? %><% end %>
              </div>
            </div>

            <div class="box_description">
              <%= order.course.description unless order.course.nil? %>
            </div>

              <table>

                <tr>
                  <td>Course level:</td>
                  <td><strong><%= order.course.level unless order.course.nil? %></strong></td>
                </tr>

                <tr>
                  <td>Course type:</td>
                  <td><strong><%= order.course.course_type unless order.course.nil? %></strong></td>
                </tr>

                <tr>
                  <td>Time zone:</td>
                  <td><strong><%= order.course.time_zone unless order.course.nil? %></strong></td>
                </tr>

                <tr>
                  <td>Lesson time:</td>
                  <td><strong><%= order.course.time_start unless order.course.nil? %> to <%= order.course.time_end unless order.course.nil? %></strong></td>
                </tr>

                <tr>
                  <td>Days:</td>
                  <td><strong><%= order.course.mon unless order.course.nil? %> <%= order.course.tue unless order.course.nil? %> <%= order.course.wed unless order.course.nil? %> <%= order.course.thu unless order.course.nil? %> <%= order.course.fri unless order.course.nil? %> <%= order.course.sat unless order.course.nil? %> <%= order.course.sun unless order.course.nil? %></strong></td>
                </tr>

                <tr>
                  <td>Class start:</td>
                  <td><strong><%= order.course.course_start.to_formatted_s(:rfc822) unless order.course.nil? %></strong></td>
                </tr>

                <tr>
                  <td>Class end:</td>
                  <td><strong><%= order.course.course_end.to_formatted_s(:rfc822) unless order.course.nil? %></strong></td>
                </tr>
                
              </table>

        </div>
      <% end %>
    </div>
