<div class="show_page_wrapper">
	<%= render 'users/registrations/user_navigation_panel' %>
  	<%= notice %>

	<div class="show_user_page_header">
		<div class="show_user_page_avatar">
			<%= image_tag @user.avatar_url(:avatar) %>
		</div>
	</div>

	<div class="show_user_details">
		Vitalijus Desukas

		<div class="show_user_settings">
			<ul>
				<li><%= link_to 'Update Cover image', edit_user_registration_path %></li>
				<li><%= link_to 'Change Icon', edit_user_registration_path %></li>
			</ul>
		</div>
	</div>

	<div class="show_page_content">
		<div class="show_user_sidebar">
			<% if !@user.about.blank? %>
				<% if !@user.organisation.blank? %>
					<div class="show_user_sidebar_header">
						<%= @user.organisation %>
					</div>
				<% else %>
					<div class="show_user_sidebar_header">
						Information
					</div>
				<% end %>

				<div class="show_user_sidebar_about">
					<%= @user.about %> 
				</div>
			<% else %>
				<%= link_to edit_user_registration_path do %>
					<div class="show_user_sidebar_about_button">
						<%= image_tag "edit.png", width: 20 %> Add info to your profile 
					</div>
				<% end %>
			<% end %>
		</div>

		<div class="show_user_adverts_wrapper">
			<div class="show_user_adverts_header">
				<%= pluralize(@user.adverts.count, "Advert") %>
			</div>

			<% @user.adverts.reverse_each do |advert| %>
				<div class="show_user_adverts">
					<%= link_to advert do %>
					<div class="show_user_adverts_image">
			        	<% advert.photos.each do |photo| %>
			          		<%= image_tag photo.image_url(:advert_image_user) %>
			       		<% end %>
				    </div>

					<div class="show_user_adverts_content">
						<div class="show_user_adverts_make">
							<%= advert.make %>

							<div class="show_user_adverts_model">
								<%= advert.model %>
							</div>
						</div>
					<% end %>

					    <div class="show_user_adverts_footer">
							<%= advert.country %>, <%= advert.city %>

							<% if user_signed_in? && current_user == @user %>
								<%= link_to 'Edit', edit_advert_path(advert) %>

								<%= link_to 'Delete', advert, method: :delete, :remote => true, :class => "delete_advert" %>

								<% if advert.show_advert %>
									<%= link_to show_advert_path(advert), :remote => true, :class => "show_hide_advert" do %> 
										<div class="link_to_hide_advert">Hide advert</div>
									<% end %>
								<% else %>
									<%= link_to show_advert_path(advert), :remote => true, :class => "show_hide_advert" do %> 
										Show advert
									<% end %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>