<%= render 'users/registrations/user_navigation_panel' %>

<div class="user_grid_wrapper">
	<div class="user_grid_container">
  	<%= notice %>

		<div class="frame">
			<% @user.adverts.reverse_each do |advert| %>
			    <div class="bit-4">
			    	<div class="user_ad">
			    		<% if advert.photos.empty? or advert.photos.nil?%>
			    			<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
					        	<%= image_tag "paper_plane.png" %>
					        <% end %>
				       	<% else %>
				       		<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
					       		<% advert.photos.first(1).each do |photo| %>
					          		<%= image_tag photo.image_url(:advert_image) %>
					       		<% end %>
					       	<% end %>
				       	<% end %>

				       	<% unless advert.price.nil? %>
				            <div class="user_ad_price">
				                <%= number_to_currency(advert.price, precision: 0, unit: "") %> <%= advert.currency %>
				            </div>
				        <% end %>

				       	<div class="user_ad_footer">
			       			<div class="user_ad_avatar">
					          	<%= link_to user_path(advert.user) do %>
					            	<% if advert.user.avatar.blank? or advert.user.avatar.nil? %>
					            	  	<%= image_tag "avatar.png" %>
					            	<% else %>
					              		<%= image_tag advert.user.avatar_url(:avatar_small) %>
					            	<% end %>
					          	<% end %>
					        </div>

					        <%= link_to advert_path(advert), data: { no_turbolink: true } do %>
					          	<div class="user_ad_make">
					            	<%= advert.make %>

					            	<div class="user_ad_model">
					                	<%= advert.model %>
					            	</div>
					          	</div>
					        <% end %>
			       		</div>
		       		</div>
			    </div>
			<% end %>
		</div>







		<div class="user_ads">
			<% @user.adverts.reverse_each do |advert| %>
				<div class="show_user_adverts">
					<%= link_to advert do %>
					<div class="show_user_adverts_image">
			        	<% advert.photos.each do |photo| %>
			          		<%= image_tag photo.image_url(:advert_image) %>
			       		<% end %>
				    </div>

					<div class="show_user_adverts_content">
						<div class="show_user_adverts_make">
							<%= advert.make %>

							<div class="show_user_adverts_model">
								<%= advert.model %>
							</div>
						</div>
					<% end %>

					    <div class="show_user_adverts_footer">
							<%= advert.country %>, <%= advert.city %>

							<% if user_signed_in? && current_user == @user %>
								<%= link_to 'Edit', edit_advert_path(advert) %>

								<%= link_to 'Delete', advert, method: :delete, :remote => true, :class => "delete_advert" %>

								<% if advert.show_advert %>
									<%= link_to show_advert_path(advert), :remote => true, :class => "show_hide_advert" do %> 
										<div class="link_to_hide_advert">Hide advert</div>
									<% end %>
								<% else %>
									<%= link_to show_advert_path(advert), :remote => true, :class => "show_hide_advert" do %> 
										Show advert
									<% end %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

