<%= render 'users/registrations/user_navigation_panel' %>

<div class="user_grid_wrapper">
	<div class="user_grid_in_profile">

	  	<div class="user_panel">
	  		<% if @user.avatar.nil? or @user.avatar.blank? %>
	  			<div class="company_logo">
		  			<%= image_tag "user_profile/paper_plane.png", width: 300 %>
		  		</div>
		  	<% else %>
		  		<div class="company_logo">
		  			<%= image_tag @user.avatar_url(:avatar_big) %>
		  		</div>
		  	<% end %>

	  		<ul class="company_info">
	  			<% unless @user.organisation.nil? or @user.organisation.blank? %>
		  			<li>
		  				<span class="info_icon"><%= image_tag "user_profile/user.png", width: 20 %></span>
			  			<%= @user.organisation %>
			  		</li>
			  	<% end %>

		  		<% unless @user.phone.nil? or @user.phone.blank? %>
			  		<li>
			  			<span class="info_icon"><%= image_tag "user_profile/phone.png", width: 20 %></span>
			  			<%= @user.phone %> 
			  		</li>
			  	<% end %>
			  		
			  	<% unless (@user.street.nil? or @user.street.blank?) and (@user.postal_code.nil? or @user.postal_code.blank?) and (@user.city.nil? or @user.city.blank?) and (@user.country.nil? or @user.country.blank?) %>	
		  			<li>
		  				<span class="info_icon"><%= image_tag "user_profile/pin.png", width: 20 %></span>
		  				<%= @user.street %> <%= @user.postal_code %> <%= @user.city %> <%= @user.country %> 
		  			</li>
		  		<% end %>

			  	<% unless @user.web_url.nil? or @user.web_url.blank? %>
			  		<li>
			  			<span class="info_icon"><%= image_tag "user_profile/globe.png", width: 20 %></span>
			  			<%= @user.web_url %> 
			  		</li>
			  	<% end %>

		  		<li>
		  			<span class="info_icon"><%= image_tag "user_profile/layers.png", width: 20 %></span>
		  			<%= pluralize(@user.adverts.count, "Advert") %>
		  		</li>
	  		</ul>
		</div>

		<div class="frame">
			<% @user.adverts.reverse_each do |advert| %>
			    <div class="bit-4">
			    	<div class="user_ad">
			    		<% if advert.photos.empty? or advert.photos.nil?%>
			    			<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
					        	<%= image_tag "paper_plane.png" %>
					        <% end %>
				       	<% else %>
				       		<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
					       		<% advert.photos.first(1).each do |photo| %>
					          		<%= image_tag photo.image_url(:advert_image) %>
					       		<% end %>
					       	<% end %>
				       	<% end %>

				       	<div class="user_ad_footer">
			       			<div class="user_ad_avatar">
					          	<%= link_to user_path(advert.user) do %>
					            	<% if advert.user.avatar.blank? or advert.user.avatar.nil? %>
					            	  	<%= image_tag "avatar.png" %>
					            	<% else %>
					              		<%= image_tag advert.user.avatar_url(:avatar_small) %>
					            	<% end %>
					          	<% end %>
					        </div>

					        <%= link_to advert_path(advert), data: { no_turbolink: true } do %>
					          	<div class="user_ad_make">
					            	<%= advert.make %>

					            	<div class="user_ad_model">
					                	<%= advert.model %>
					            	</div>
					          	</div>
					        <% end %>
			       		</div>

	                    <div class="user_ad_price">
	                      <ul>
	                      	<% if advert.price_options.nil? or advert.price_options.blank? %>
		                        <li>
		                          <%= number_to_currency(advert.price, precision: 0, unit: "") %> <%= currency_to_symbol_helper(advert.currency) %>
		                        </li>
		                    <% else %>
		                    	<li>
		                          <%= advert.price_options %>
		                        </li>
		                    <% end %>

	                        <li class="user_ad_price_location">
	                          <%= advert.city %>, <%= advert.country %>
	                        </li>
	                      </ul>
	                    </div>

			       		<% if user_signed_in? && current_user == @user %>
				       		<ul class="user_ad_dlt_edit">
								<%= link_to edit_advert_path(advert) do %>
									<li class="edit_icon">
										<%= image_tag "pen_1.png", width: 14 %>
										<span class="icon_tooltip">Edit</span>
									</li>
								<% end %>

								<% if advert.show_advert == true %>
									<%= link_to show_advert_path(advert) do %> 
										<li class="hide_icon">
											<%= image_tag "hide.png", width: 12 %>
											<span class="icon_tooltip">Hide</span>
										</li>
									<% end %>
								<% else advert.show_advert == false %>
									<%= link_to show_advert_path(advert) do %> 
										<li class="show_icon">
											<%= image_tag "show.png", width: 12 %>
											<span class="icon_tooltip">Show</span>
										</li>
									<% end %>
								<% end %>

								<%= link_to advert, method: :delete, data: {confirm: "Are you sure?"} do %>
					        		<li class="last_child_delete delete_icon">
					        			<%= image_tag "delete.png", width: 10 %>
					        			<span class="icon_tooltip">Delete</span>
					        		</li>
					        	<% end %>
					        </ul>
					    <% end %>
		       		</div>
			    </div>
			<% end %>
		</div>
	</div>
</div>
