<div id="order_wrapper">
  <div id="order_box_header">
     ENROLL
  </div>

<%= form_for([@course, @order]) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="order_box_info">
    <div id="order_box_info_detail">
        <ul>
          <li><b>Tutor:</b> <span>
                    <%= link_to @course.teacher, data: { no_turbolink: true }  do %>
                       <%= @course.teacher.name %> <%= @course.teacher.surname %>
                    <% end %>
                    </span>
          </li>

          <li><b>Language:</b><span>
                      <%= @course.language %>&nbsp 
                        <%= link_to @course.teacher, data: { no_turbolink: true }  do %>
                           <%= @course.level %>
                        <% end %>
                      </span>
          </li>

          <li>
            <b>Starting Date:</b><span><%= @course.course_start.to_formatted_s(:rfc822) %></span>
          </li>

          <li>
            <b>Price:</b><span><%= @course.price %></span>
          </li>

        </ul>
      </div>

  </div>

  <div id="order_box_payment_form"> 
    <div id="order_box_secure_pay">
      <ul>
        <li><%= image_tag "ssl.png", width: 115 %></li>
        <li><%= image_tag "visa.png", width: 50 %></li>
        <li><%= image_tag "mastercard.png", width: 50 %></li>
        <li><%= image_tag "amex.png", width: 50 %></li>
      </ul>
    </div>

    <%= f.hidden_field :stripe_card_token %>   

    <div class="order_box_field">
      <%= f.label :card_number %><br>
      <%= text_field_tag :card_number, nil, name: nil, placeholder: "XXXX XXXX XXXX XXXX" %>
    </div>

    <div class="order_box_field">
      <%= f.label :card_code, "3 Digits Security Code on Card (CVV)" %><br>
      <%= text_field_tag :card_code, nil, name: nil, placeholder: "XXX" %>
    </div>

    <div class="order_box_field">
      <%= label_tag :card_month, "Card Expiration" %></br>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
    </div>

  <div class="order_box_field">
    <%= f.label :name_on_card %><br>
    <%= f.text_field :name_on_card, placeholder: "Xxxx Xxxxxxx" %>
  </div>

<div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
    <div id="order_box_button">
      <%= f.submit ["ENROLL", @course.price,"€"], :class => "pay_button" %>
    </div>
  </div>
  <% end %>

</div>