<div id="order_wrapper">

<%= form_for([@course, @order]) do |f| %>
  
  <div id="order_box_info">
    <ul>
      <li><%= image_tag "message.png", width: 50 %> <b>1st step:</b> Get email with details from tutor
      </li>

      <li><%= image_tag "wifi.png", width: 50 %><b>2nd step:</b> Connect to eLearning platform
      </li>

      <li><%= image_tag "mic.png", width: 50 %><b>You will need:</b> Microphone, speaker & webcam (optional)
      </li>

      <%= link_to @course.teacher, data: { no_turbolink: true }  do %>
      <li><%= image_tag "ribbon.png", :class => "trial_box_ribbon", width: 40 %><%= image_tag "user.png", width: 50 %><b>Tutor:</b> <%= @course.teacher.name %> <%= @course.teacher.surname %>
      </li>
    <% end %>
      
      <%= link_to "http://res.cloudinary.com/dhgsrpwf7/image/upload/v1414797713/participants_bbsf3i.pdf", :target => "_blank", data: { no_turbolink: true }  do %>
      <li>
        <%= image_tag "ribbon.png", :class => "trial_box_ribbon", width: 40 %><%= image_tag "guide.png", width: 50 %><b>Need help?</b> Take a look at this guide
      </li>
    <% end %>

      <%= link_to new_contact_path, data: { no_turbolink: true }  do %>
      <li><%= image_tag "ribbon.png", :class => "trial_box_ribbon", width: 40 %><%= image_tag "chat.png", width: 50 %><b>Still need some help?</b> Feel free to contact us
      </li>
    <% end %>
    </ul>

  </div>

  <div id="order_box_payment_form"> 

    <div id="order_box_payment_form_line">
      Credit Card
      <div id="order_box_gateway_payment">
          <%= image_tag "cclogos.png", width: 220 %>
      </div>
    </div>

  <% if @order.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.hidden_field :stripe_card_token %> 

    <% if student_signed_in? %>
      <%= f.hidden_field :amount, :value => @course.price*100 %>  
      <%= f.hidden_field :email, :value => current_student.email %> 
      <%= f.hidden_field :level, :value => @course.level %> 
      <%= f.hidden_field :language, :value => @course.language %>
      <%= f.hidden_field :time_start, :value => @course.time_start %>
      <%= f.hidden_field :time_end, :value => @course.time_end %>
      <%= f.hidden_field :course_type, :value => @course.course_type %>
      <%= f.hidden_field :course_start, :value => @course.course_start %>
      <%= f.hidden_field :course_end, :value => @course.course_end %>
      <%= f.hidden_field :time_zone, :value => @course.time_zone %>
      <%= f.hidden_field :mon, :value => @course.mon %>
      <%= f.hidden_field :tue, :value => @course.tue %>
      <%= f.hidden_field :wed, :value => @course.wed %>
      <%= f.hidden_field :thu, :value => @course.thu %>
      <%= f.hidden_field :fri, :value => @course.fri %>
      <%= f.hidden_field :sat, :value => @course.sat %>
      <%= f.hidden_field :sun, :value => @course.sun %>
    <% end %>

    <!--<div class="order_box_field">
      <%= f.text_field :email, placeholder: "Email for invoice" %>
    </div>-->

    <% if @order.stripe_card_token.present? %>
      Credit card has been provided.
    <% else %>

    <div class="order_box_card_and_cvv_wrapper">
      <div class="order_box_card_number">
        <%= label_tag :card_number, "Card Number" %></br>
        <%= text_field_tag :card_number, nil, name: nil, placeholder: "0000 0000 0000 0000" %>
      </div>

      <div class="order_box_ccv">
        <%= label_tag :card_code, "3 Digits CVV code" %></br>
        <%= text_field_tag :card_code, nil, name: nil, placeholder: "000" %>
      </div>
    </div>

    <div class="order_box_field">
      <%= label_tag :card_month, "Card Expiration" %></br>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
    </div>

    <% end %>

  <div class="order_box_name_on_card">
    <%= label_tag :name_on_card, "Your name" %></br>
    <%= f.text_field :name_on_card, placeholder: "Name on card" %>
  </div>

<div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>

  <% if student_signed_in? %>
    <div id="order_box_button">
      <%= f.submit ["Enroll", @course.price,"€"], :class => "pay_button" %>
    </div>
  <% elsif teacher_signed_in?%>
      <div id="order_box_please_sign_in">
        Sing in as student
      </div>
  <% else %>
    <%= link_to student_session_path do %>
      <div id="order_box_please_sign_in">
        Sing in to enroll
      </div>
    <% end %>
  <% end %>

  </div>
  <% end %>

    <div id="order_box_money_back">
      <ul>
        </li><%= image_tag "money_back.jpg", width: 200 %></li>
        <li class="order_box_money_back_title">7-day money back guarantee</li>
        <li>If you don't like our service, we'll be happy to refund your payment. Notify us within 7 days of your enrollment. Risk free. No questions asked.</li>
      </ul>
    </div>

</div>