<% page_title_helper "Contact AviaTrading" %>

<% meta_description_helper "Contact aviatrading.com. We are here to help you to sell your aurcraft quickly. We are looking forward to hearing from you." %>


<% if user_signed_in? %>
  <ul class="usr_prfl_nav">
    <%= link_to user_path(current_user) do %>
      <li>My Adverts</li>
    <% end %>

    <%= link_to subscription_path do %>
      <li>Subscription</li>
    <% end %>

    <%= link_to new_contact_path do %>
      <li>Contact</li>
    <% end %>

    <%= link_to edit_user_registration_path do %>
      <li class="last_child_helper">Settings</li>
    <% end %>
  </ul>
<% end %>

<div id="contact_wrapper">
  <div id="contact">
  	<div id="contact_header">
      <div class="contact_form_logo">
        <span class="icon-propeller"></span>
      </div>
  		Contact AviaTrading

  		<div id="contact_header_small">
  			We are looking forward to hearing from you
  		</div>

  	</div>

  	<div id="contact_form">

  	<%= form_for(@contact) do |f| %>
        <% if @contact.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
          </ul>
        </div>
      <% end %>


    <div class="new_contact">
      <%= f.label :name, "Name*" %>
      <%= f.text_field :name, :class => "new_contact_field" %> 
    </div>

    <div class="new_contact">
      <%= f.label :email, "Email*" %>
      <%= f.text_field :email, :class => "new_contact_field" %> 
    </div>

    <div class="new_contact">
      <%= f.label :message, "Your Message*" %>
      <%= f.text_area :message, :class => "contact_message_field" %> 
    </div>

    <div class="action">
      <%= f.submit "Send Message", :class => "new_contact_create_button" %>
    </div>
  <% end %>

  </div>
  </div>
</div>