<div id="contact_wrapper">
	
	<div id="contact_header">
		CONTACT LINGONAS

		<div id="contact_header_small">
			We are looking forward to hearing from you
		</div>

	</div>

	<div id="contact_form">

	<%= form_for(@contact) do |f| %>
      <% if @contact.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @contact.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
      </div>
    <% end %>


  <div class="new_contact">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "new_contact_field" %> 
  </div>

  <div class="new_contact">
    <%= f.label :email %><br>
    <%= f.text_field :email, :class => "new_contact_field" %> 
  </div>

  <div class="new_contact">
    <%= f.label :message %><br>
    <%= f.text_area :message, :class => "contact_message_field" %> 
  </div>

  <div class="action">
    <%= f.submit "Submit", :class => "new_contact_create_button" %>
  </div>
<% end %>

</div>
</div>