<!--<div class="sticky_nav">
  <div id="sticky_nav_header">
    <ul>

      <a href="#aircraft_information">
        <li>Aircraft information</li>
      </a>

      <a href="#engine_propeller">
        <li>Engine/propeller</li>
      </a>

      <a href="#price_seller">
        <li>Price/seller info</li>
      </a>

      <a href="#images_video_pdf">
        <li>Images/video/PDF</li>
      </a>

      <a href="#other">
        <li>Other</li>
      </a>

    </ul>
  </div>
</div>-->

<%= form_for(@advert) do |f| %>
  <% if @advert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advert.errors.count, "error") %> prohibited this advert from being saved:</h2>

      <ul>
        <% @advert.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

<div class="new_advert_form_wrapper">
  <div class="new_advert_nav">
    <ul class="tabs_links">
      <li class="active"><a href="#tab1">Aircraft information</a></li>
      <li><a href="#tab2">Advertisement details</a></li>
      <li><a href="#tab3">Images / PDF</a></li>
    </ul>
  </div>


<div class="new_advert_wrapper">
  <div id="tab1" class="new_form_wrapper active">
    <div class="new_form_border_helper">

    <div class="new_form_wrapper_header">
      General information
    </div>

    <ul>
        <li class="form_label">
          Manufacturer<span class="required_fields">*</span> / Model<span class="required_fields">*</span><br/>
          <span class="form_label_small">Spaces and special characters are fine.</span>
        </li>

        <li class="new_form_make_model">
          <%= f.text_field :make, :class => "new_form_manufacturer", :placeholder => "Manufacturer" %>
          <%= f.text_field :model, :class => "new_form_model", :placeholder => "Model" %>
        </li>
    </ul>

    <ul>
      <li class="form_label">
        Aircraft type<span class="required_fields">*</span> / usage<span class="required_fields">*</span><br/>
        <span class="form_label_small">Spaces</span>
      </li>

      <li class="new_form_type_usage">
        <span class="new_form_dropdown_list">
          <%= f.select :aircraft_type, ["Airship / Blimp", "Glider / Sailplane", "Jet", "Helicopter", "Light sport", "Single piston", "Multi piston", "TurboProp", "Ultralight", "Hot air balloon"], :prompt => 'Aircraft type'  %>
        </span>

        <span class="new_form_dropdown_list usage new_form_aircraft_usage">
          <%= f.select :aircraft_usage, ["Aerobatic", "Aerial survey", "Agriculture", "Amphibian/Float", "Antique/Classic", "Business/VIP", "Homebuilt", "EMS/SAR/Fire/Police", "Cargo/Freighter", "Passenger", "Warbird/Military"], :prompt => 'Aircraft usage'  %>
        </span>
      </li>
    </ul>

    <ul>
      <li class="form_label">Aircraft location</li>
      <li class="new_form_aircraft_location">
        <span class="new_form_dropdown_list">
          <%= f.select :country, ["Afghanistan", "Aland Islands", "Albania", "Algeria", "American Samoa", "Andorra", "Angola", "Anguilla", "Antarctica", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia, Plurinational State of", "Bosnia and Herzegovina", "Botswana", "Bouvet Island", "Brazil", "British Indian Ocean Territory", "Brunei Darussalam", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Christmas Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo", "Congo, the Democratic Republic of the", "Cook Islands", "Costa Rica", "Cote d'Ivoire", "Croatia", "Cuba", "Cyprus","Czech Republic","Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands (Malvinas)", "Faroe Islands", "Fiji", "Finland", "France", "French Guiana", "French Polynesia", "French Southern Territories", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Heard Island and McDonald Islands", "Holy See (Vatican City State)", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran, Islamic Republic of", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Korea, Democratic People's Republic of", "Korea, Republic of", "Kuwait", "Kyrgyzstan", "Lao People's Democratic Republic", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libyan Arab Jamahiriya", "Liechtenstein", "Lithuania", "Luxembourg", "Macao", "Macedonia, the former Yugoslav Republic of", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mayotte", "Mexico", "Micronesia, Federated States of", "Moldova, Republic of", "Monaco", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "Norfolk Island", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Palestinian Territory, Occupied", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcairn", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion  Réunion", "Romania", "Russian Federation", "Rwanda", "Saint Barthélemy", "Saint Helena", "Saint Kitts and Nevis", "Saint Lucia", "Saint Martin (French part)", "Saint Pierre and Miquelon", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia and the South Sandwich Islands", "Spain", "Sri Lanka", "Sudan", "Suriname", "Svalbard and Jan Mayen", "Swaziland", "Sweden", "Switzerland", "Syrian Arab Republic", "Taiwan, Province of China", "Tajikistan", "Tanzania, United Republic of", "Thailand", "Timor-Leste", "Togo", "Tokelau", "Tonga", "Trinidad and Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks and Caicos Islands", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States", "United States Minor Outlying, Islands", "Uruguay", "Uzbekistan", "Vanuatu", "Venezuela, Bolivarian Republic of", "Viet Nam", "Virgin Islands, British", "Virgin Islands, U.S.", "Wallis and Futuna", "Western Sahara", "Yemen", "Zambia","Zimbabwe"], :prompt => 'Country'  %>
        </span>
          <%= f.text_field :city, :class => "new_form_city", :placeholder => "City" %>
          <%= f.text_field :nearest_airport, :class => "new_form_nearest_airport", :placeholder => "Airport name" %>
          <%= f.text_field :airport_code, :class => "new_form_airport_code", :placeholder => "Airport code" %>
      </li>
    </ul>

    <ul>
        <li class="form_label">Aircraft details</li>
        <li class="new_form_aircraft_details">
          <%= f.text_field :serial_number, :class => "new_form_serial_number", :placeholder => "Serial number" %>
          <%= f.text_field :registration_number, :class => "new_form_registration_number", :placeholder => "Registration number" %>
          <span class="new_form_dropdown_list new_form_built_year">
            <%= f.select :year, options_for_select((Date.today.year-100..Date.today.year+1).step(1).reverse_each), :prompt => 'Built year' %>
          </span>
          <%= f.text_field :aircraft_hours, :class => "new_form_aircraft_hours", :placeholder => "Aircraft hours" %>
          <%= f.text_field :landings, :class => "new_form_landings", :placeholder => "Landings" %>
          <%= f.text_field :number_of_passengers, :class => "new_form_passengers", :placeholder => "Passengers" %>
        </li>
    </ul>

    <ul>
        <li class="form_label">Last inspection</li>
        <li><%= f.date_select :last_inspection, {:order => [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year-100} %>
        </li>
    </ul>
  </div>
<!-- ------------------ -->

<div class="new_form_separator_helper">
  <!-- separator of the categories helper -->
</div>

<div class="new_form_border_helper">
  <div class="new_form_wrapper_header">
    ENGINE / PROPELLER
  </div>

    <ul>
      <li class="form_label">Engine</li>
      <li class="new_form_aircraft_details">
        <%= f.number_field :number_of_engines, :class => "new_form_engines_number", :placeholder => "Engines number" %>

        <span class="new_form_dropdown_list new_form_engine_type">
          <%= f.select :engine_type, ['Prop', "Turbo"], :prompt => 'Engine type' %>
        </span>

        <%= f.text_field :engine_make, :class => "new_form_engines_make", :placeholder => "Manufacturer" %>
        <%= f.text_field :engine_model, :class => "new_form_engines_model", :placeholder => "Model" %>
        <%= f.number_field :engine_hours, :class => "new_form_engine_hours", :placeholder => "Engine hours" %>
        <%= f.number_field :tbo, :class => "new_form_tbo", :placeholder => "Time between overhaul (TBO)" %>
        <%= f.text_field :engine_power, :class => "new_form_engine_power", :placeholder => "Engine power" %>
      </li>
    </ul>

    <ul>
      <li class="form_label">Propeller</li>
      <li class="new_form_propeller">
        <%= f.number_field :number_of_propellers, :class => "new_form_number_of_propellers", :placeholder => "Number of propellers" %>
        <%= f.number_field :propeller_hours, :class => "new_form_propeller_hours", :placeholder => "Propeller hours" %>
        <%= f.text_field :propeller_make, :class => "new_form_propeller_make", :placeholder => "Propeller manufacturer" %>
        <%= f.text_field :propeller_model, :class => "new_form_propeller_model", :placeholder => "Propeller model" %>
      </li>
    </ul>

    <ul>
      <li class="form_label">Extra information</li>
      <li>
        <%= f.text_area :engine_notes, :class => "new_form_engine_notes"%>
      </li>
    </ul>
  </div>
<!-- ----------- -->

<div class="new_form_separator_helper">
  <!-- separator of the categories helper -->
</div>

<div class="new_form_border_helper">
  <div class="new_form_wrapper_header">
    Advertisement details
  </div>

    <ul>
        <li class="form_label">
          Avionics<br/>
          <span class="form_label_small">Spaces and special characters are fine.</span>
        </li>

        <li class="new_form_make_model">
          <%= f.text_area :engine_notes, :class => "new_form_engine_notes"%>
        </li>
    </ul>

    <ul>
        <li class="form_label">
          Interior<br/>
          <span class="form_label_small">Spaces and special characters are fine.</span>
        </li>

        <li class="new_form_make_model">
          <%= f.text_area :engine_notes, :class => "new_form_engine_notes"%>
        </li>
    </ul>

    <ul>
        <li class="form_label">
          Exterior<br/>
          <span class="form_label_small">Spaces and special characters are fine.</span>
        </li>

        <li class="new_form_make_model">
          <%= f.text_area :engine_notes, :class => "new_form_engine_notes"%>
        </li>
    </ul>

    <ul>
        <li class="form_label">
          Additional information<br/>
          <span class="form_label_small">Spaces and special characters are fine.</span>
        </li>

        <li class="new_form_make_model">
          <%= f.text_area :engine_notes, :class => "new_form_engine_notes"%>
        </li>
    </ul>
  </div>
</div>

<!-- ---------------- -->

<!-- Advertisement details -->

  <div id="tab2" class="new_form_wrapper">
    <div class="new_form_border_helper">
      <ul>
        <li class="form_label">Contact person</li>
        <li class="new_form_contact_person">
          <%= f.text_field :name, :placeholder => "Name", :class => "new_form_name" %>
          <%= f.text_field :surname, :placeholder => "Surname", :class => "new_form_surname" %>
          <%= f.text_field :email, :placeholder => "Email", :class => "new_form_email" %>
          <%= f.text_field :phone, :placeholder => "Phone", :class => "new_form_phone" %>
        </li>
      </ul>

      <ul>
        <li class="form_label">Asking Price</li>
        <li>
          <%= f.number_field :price, :placeholder => "Price",  :class => "new_form_price" %>
        <span class="new_form_dropdown_list">
          <%= f.select :currency, ['USD', "EUR"], :prompt => 'Currency' %>
        </span>

        <li class="new_advert_checkboxes_label"></li>
        <li>Price on request</li>
        <li class="eu_vat_paid">
          <div class="new_advert_checkbox">
            <%= f.check_box :price_on_request, {:id => "price_on_request"}, "mon", "" %>
              <label for="price_on_request"></label>
          </div>
        </li>

        <li class="new_advert_checkboxes_label"></li>
        <li>EU VAT paid</li>
        <li class="eu_vat_paid">
          <div class="new_advert_checkbox">
            <%= f.check_box :eu_vat, {:id => "eu_vat"}, "mon", "" %>
              <label for="eu_vat"></label>
          </div>
        </li>
      </ul>
    </div>

</div>

<!-- ------------- -->

<!-- Images / PDF -->

<div id="tab3" class="new_form_wrapper">
  <div class="new_form_border_helper">
    <div class="field">
      <%= f.fields_for :photos do |builder| %>
       
        <%= builder.label :image, "Advert Image" %><br>
        <%= builder.cl_image_upload(:image, :return_delete_token => true, :html => { :multiple => true }) %>
        
        <%= hidden_field_tag :public_token, "", id: "public_token" %>

      <% end %>
    </div>
  -------------------<br/>

   <div class="uploaded_image">
      <ul>
      
      </ul>
   </div>
  -------------------------<br/>

<script>
  $(document).ready(function(){
    var public_token = new Array();

    $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {
      var preview = $(".uploaded_image ul").append('<li>');
        $.cloudinary.image(data.result.public_id, {
          format: data.result.format, width: 250, height: 175, crop: "fit"
        }).appendTo(preview);

        var data_id = data.result.public_id;
        public_token.push(data_id);
        $("#public_token").val(public_token);



        $('<a/>').addClass('delete_by_token').attr({href: '#'}).data({delete_token: data.result.delete_token}).html('&times;').appendTo(preview).click(function(e) {e.preventDefault();

            $.cloudinary.delete_by_token($(this).data('delete_token')).done(function(){
              $('.preview').html('').text("herejnjnj");
              $('#info').html('');
              $("#photo_bytes").val('');
              $(this).text('jsfvjsd');
              $('<li>').remove();
            }).fail(function() {
              $('.status').text("Cannot delete image");
          });
        });
        view_upload_details(data.result);
    });   

    // Update the progress bar.
    $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) {
      var progress = "Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%";
      var preview = $(".uploaded_image ul").append('<li>');
      //progress.appendTo(preview);
      //$(".uploaded_image ul").append('<li>').
      $('.status').text(progress).appendTo(preview);
      //var percent = Math.round((data.loaded * 100.0) / data.total);
      //$('.progress_bar .completed').css('width', percent + '%');
      //if (percent == 100) {
      //  $('.upload_section').removeClass('uploading').addClass('processing');
      //}
    });

  });
</script>

    <div class="field">
      <%= f.label :document, "PDF" %><br>
      <%= f.file_field :document %> 
    </div>
    <div id="public_id"></div>
    <div class="status">
        <ul>
        </ul>
    </div>
    <div class="preview"></div>
    <div class="image_public_id"></div>
  </div>

  <div class="actions">
    <%= f.submit "Advertise" %>
  </div>
</div>

</div>
</div>

<% end %>


