<header>
	<div id="header_dashboard_wrapper">
		<div class="dashboard_nav_left">  
		    <ul>
		    	<%= link_to adverts_path do %>
	        		<li><span class="icon-square_left"></span>About</li>
	        	<% end %>
		    </ul>    
		</div> 

		<div class="dashboard_nav_right">
			<ul>
				<% if !user_signed_in? %>
					<%= link_to pricing_path, data: { no_turbolink: true } do %>
						<li><span class="free_advert_wrapper">SELL AIRCRAFT</span></li>
					<% end %>
				<% end %>

				<% if user_signed_in? %>
					<%= link_to new_advert_path do %>
						<li><span class="free_advert_wrapper">New aircraft</span></li>
					<% end %>
				<% end %>

				<!--<%= link_to adverts_path do %>
					<li>All Aircrafts</li>
				<% end %>	

				<%= link_to new_contact_path, data: { no_turbolink: true } do %>
					<li><span class="icon-mail"></span></li>
				<% end %>-->

				<% if user_signed_in? %>
					<%= link_to user_path(current_user) do %>
						<li>
							<span class="my_aircrafts_link"><%= image_tag current_user.avatar_url(:avatar_small) %>My aircrafts</span>
						</li>
				  	<% end %>
				<% end %>

				<% if !user_signed_in? %>
					<%= link_to sign_in_path do %>
						<li class="dashboard_sign_in_out">
							<span class="icon-login"></span>
						</li>
					<% end %>
				<% end %>

				<% if user_signed_in? %>
					<%= link_to destroy_user_session_path, method: :delete  do %>
					  	<li class="dashboard_sign_in_out">
					  		<span class="icon-logout"></span>
					  	</li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</header>