<div id="advert_search_wrapper">
	<%= search_form_for @q, :id => "adverts_search" do |f| %>
      	<div id="advert_search_container">
		  	<%= link_to root_url, data: { no_turbolink: true } do %>
			    <div id="advert_search_header">
			      <div class="website_search_logo">
			        <span class="icon-propeller_search"></span>
			      </div>

			      <div class="webpage_search_title">
			        AEROOHUB
			      </div>
			    </div>
		  	<% end %>

		    <div id="search_form">
		        <div id="search_form_general">
			        <ul>
			          <li>
			            <span class="search_label">Aircraft Search</span>
			            <%= f.text_field :make_cont, :class => "search_field", :placeholder => "Manufacturer" %>
			          </li>

			          <li>
			            <%= f.text_field :model_cont, :class => "search_field", :placeholder => "Model" %>
			          </li>

			          <li>
			            <div class="dropdown_list">
			              <%= f.select :country_cont, ['American Samoa', "Lithuania"], :prompt => 'Country' %>
			            </div>
			          </li>

			          <li>
			            <div class="dropdown_list">
			              <%= f.select :aircraft_type_cont, ['Cessna', "Airbus"], :prompt => 'Aircraft type' %>
			            </div>
			          </li>

			          <li>
			            <div class="dropdown_list">
			              <%= f.select :aircraft_usage_cont, ['Cessna', "Airbus"], :prompt => 'Aircraft usage' %>
			            </div>
			          </li>
			        </ul>
			        <div class="search_show_more"><a>SHOW MORE <%= image_tag "arrow_down.png" %></a></div>
			        <div class="search_show_less"><a>SHOW LESS <%= image_tag "arrow_up.png" %></a></div>
			    </div>

			    <div id="search_form_price">
			    	<ul>
			          	<li>
			            	<span class="search_label">Price between</span>
			            	<%= f.text_field :price_gteq, :class => "search_field", :placeholder => "Price" %>
			          	</li>

			          	<li>
			            	<%= f.text_field :price_lteq, :class => "search_field" %>
			          	</li>

			          	<li>
				            <div class="dropdown_list">
				              <%= f.select :currency_cont, ['USD', "EUR"], :prompt => 'Currency' %>
				            </div>
				        </li>

				        <li>
				            <div class="dropdown_list">
				              <%= f.select :year_eq, ['1900', "2016"], :prompt => 'Year' %>
				            </div>
				        </li>

			          	<li>
			            	<span class="search_label">Engine</span>
			            	<div class="dropdown_list">
			            		<%= f.select :engine_type_cont, ['Cessna', "Airbus"], :prompt => 'Engine type' %>
			            	</div>
			          	</li>

			          	<li>
			            	<%= f.text_field :engine_model_cont, :class => "search_field", :placeholder => "Engine model" %>
			          	</li>
			        </ul>
			        <div class="search_show_more_price"><a>SHOW MORE <%= image_tag "arrow_down.png" %></a></div>
			        <div class="search_show_less_price"><a>SHOW LESS <%= image_tag "arrow_up.png" %></a></div>
			    </div>

			    <!--<div id="search_form_engine">
			    	<ul>
			          	<li>
			            	<span class="search_label">Engine type</span>
			            	<div class="dropdown_list">
			            		<%= f.select :engine_type_cont, ['Cessna', "Airbus"], :prompt => '' %>
			            	</div>
			          	</li>

			          	<li>
			            	<span class="search_label">Model</span>
			            	<%= f.text_field :engine_model_cont, :class => "search_field" %>
			          	</li>
			        </ul>
			        <div class="search_show_more_price"><a>SHOW MORE <%= image_tag "arrow_down.png" %></a></div>
			        <div class="search_show_less_price"><a>SHOW LESS <%= image_tag "arrow_up.png" %></a></div>
			    </div>-->
			</div>
		</div>
        
        <!--<div id="search_button_wrapper">
          <%= f.submit :class => "search_button" %>
        </div>-->
    <% end %>
</div>

