<div class="home_banner_wrapper">
	<div class="home_banner_phrase">
		Aircraft Market
		<div class="banner_phrase_small">Buy and sell new and used aircrafts</div>
	</div>

</div>

<div class="search_container_wrapper">

	<div class="outline_border_helper">
	<div class="search_container_benchmark">
		<ul>
			<li>
				<%= image_tag "aircraft_type/jet.png", width: 40 %>
				<span class="search_plane_title">Jet</span>
			</li>
			<li>
				<%= image_tag "aircraft_type/piston.png", width: 40 %>
				<span class="search_plane_title">Piston</span>
			</li>
			<li>
				<%= image_tag "aircraft_type/multi_piston.png", width: 40 %>
				<span class="search_plane_title">Multi-piston</span>
			</li>
			<li>
				<%= image_tag "aircraft_type/turbo_prop.png", width: 40 %>
				<span class="search_plane_title">TurboProp</span>
			</li>
			<li>
				<%= image_tag "aircraft_type/helicopter.png", width: 40 %>
				<span class="search_plane_title">Helicopter</span>
			</li>
			<li>
				<%= image_tag "aircraft_type/light_sport.png", width: 40 %>
				<span class="search_plane_title">Light sport</span>
			</li>
			<li>
				<%= image_tag "aircraft_type/ultralight.png", width: 40 %>
				<span class="search_plane_title">Ultralight</span>
			</li>
			<li>
				<%= image_tag "aircraft_type/glider.png", width: 40 %>
				<span class="search_plane_title">Glider</span>
			</li>
			<li>
				<%= image_tag "aircraft_type/airship.png", width: 40 %>
				<span class="search_plane_title">Airship</span>
			</li>
			<li>
				<%= image_tag "aircraft_type/hot_air_balloon.png", width: 40 %>
				<span class="search_plane_title">Balloon</span>
			</li>
		</ul>
	</div>

	<div class="search_container">

		<%= search_form_for @q do |f| %>
		    <ul>
		      <li><%= f.text_field :make_cont, :placeholder => "Manufacturer" %></li>

		      <li><%= f.text_field :model_cont, :placeholder => "Model" %></li>

		      <li>
		      	<div class="dropdown_list">
		      		<%= f.select :aircraft_usage_cont, ['Cessna', "Airbus"], :prompt => 'Aircraft usage' %>
		      	</div>
		     </li>

		      <li>
		      	<div class="dropdown_list">
		      		<%= f.select :country_cont, ['Cessna', "Airbus"], :prompt => 'Country' %>
		      	</div>
		     </li>

		     	<%= f.submit :class => "search_container_button" %>
		    </ul>
		    
		<% end %>
	</div>
	</div>
</div>

<div class="home_wrapper">
	<div class="home_container">
	  <div class="home_box_header">
	  	<ul>
	  		<li><%= image_tag "aircraft_type/jet.png", width: 25 %></li>
	  		<li>Jets</li>
	  	</ul>
	  </div>

<div class="box_home">
	<ul>
		<% @jets.each do |jet| %>
	
  			<li>
			    <%= link_to advert_path(jet), data: { no_turbolink: true } do %>
			      <div class="box_image">

			      	<% jet.photos.each do |photo| %>
			          	<%= image_tag photo.image_url(:advert_image) %>
			        <% end %>

			        <div class="box_price">
			          <%= number_to_currency(jet.price, precision: 0, unit: "") %> <%= jet.currency %>
			        </div>
			      </div>

			 
		      	<div class="box_make">
		        	<%= jet.make %>

		        	<div class="box_model">
		            	<%= jet.model %>
		        	</div>
		      	</div>
			    <% end %>

		      	<div class="box_footer_wrapper">
		        	<div class="box_footer none">
		          		<%= jet.country %>, <%= jet.city %>
		        	</div>
		      	</div>
			</li>
		<% end %>
 	</ul>
</div>

<div class="box_separator_helper">

</div>

  <div class="home_box_header">
    <ul>
  		<li><%= image_tag "aircraft_type/piston.png", width: 25 %></li>
  		<li>Single piston</li>
  	</ul>
  </div>

<div class="box_home">
	<ul>
		<% @single_pistons.each do |single_piston| %>
	
  			<li>
  			
			    <%= link_to advert_path(single_piston), data: { no_turbolink: true } do %>
			      <div class="box_image">
			      	
			        <% if single_piston.advert_image.blank? %>
			          default pic
			        <% else %>
			        	<% single_piston.photos.each do |photo| %>
			          		<%= image_tag photo.image_url(:advert_image) %>
			          	<% end %>
			        <% end %>

			        <div class="box_price">
			          <%= number_to_currency(single_piston.price, precision: 0, unit: "") %> <%= single_piston.currency %>
			        </div>
			      </div>

			 
		      	<div class="box_make">
		        	<%= single_piston.make %>

		        	<div class="box_model">
		            	<%= single_piston.model %>
		        	</div>
		      	</div>
			    <% end %>

		      	<div class="box_footer_wrapper">
		        	<div class="box_footer none">
		          		<%= single_piston.country %>, <%= single_piston.city %>
		        	</div>
		      	</div>
			</li>
		<% end %>
 	</ul>
</div>

<div class="box_separator_helper">

</div>

  <div class="home_box_header">
    <ul>
  		<li><%= image_tag "aircraft_type/multi_piston.png", width: 25 %></li>
  		<li>Multi piston</li>
  	</ul>
  </div>

<div class="box_home">
	<ul>
		<% @multi_pistons.each do |multi_piston| %>
	
  			<li>
  			
			    <%= link_to advert_path(multi_piston), data: { no_turbolink: true } do %>
			      <div class="box_image">

			        <% if multi_piston.advert_image.blank? %>
			          default pic
			        <% else %>
			        	<% multi_piston.photos.each do |photo| %>
			          		<%= image_tag photo.image_url(:advert_image) %>
			          	<% end %>
			        <% end %>

			        <div class="box_price">
			          <%= number_to_currency(multi_piston.price, precision: 0, unit: "") %> <%= multi_piston.currency %>
			        </div>
			      </div>

			 
		      	<div class="box_make">
		        	<%= multi_piston.make %>

		        	<div class="box_model">
		            	<%= multi_piston.model %>
		        	</div>
		      	</div>
			    <% end %>

		      	<div class="box_footer_wrapper">
		        	<div class="box_footer none">
		          		<%= multi_piston.country %>, <%= multi_piston.city %>
		        	</div>
		      	</div>
			</li>
		<% end %>
 	</ul>
</div>


<div class="box_separator_helper">

</div>

  <div class="home_box_header">
    <ul>
  		<li><%= image_tag "aircraft_type/turbo_prop.png", width: 25 %></li>
  		<li>TurboProp</li>
  	</ul>
  </div>

<div class="box_home">
	<ul>
		<% @turbo_props.each do |turbo_prop| %>
	
  			<li>
  			
			    <%= link_to advert_path(turbo_prop), data: { no_turbolink: true } do %>
			      <div class="box_image">

			        <% if turbo_prop.advert_image.blank? %>
			          default pic
			        <% else %>
			        	<% turbo_prop.photos.each do |photo| %>
			          		<%= image_tag photo.image_url(:advert_image) %>
			          	<% end %>
			        <% end %>

			        <div class="box_price">
			          <%= number_to_currency(turbo_prop.price, precision: 0, unit: "") %> <%= turbo_prop.currency %>
			        </div>
			      </div>

			 
		      	<div class="box_make">
		        	<%= turbo_prop.make %>

		        	<div class="box_model">
		            	<%= turbo_prop.model %>
		        	</div>
		      	</div>
			    <% end %>

		      	<div class="box_footer_wrapper">
		        	<div class="box_footer none">
		          		<%= turbo_prop.country %>, <%= turbo_prop.city %>
		        	</div>
		      	</div>
			</li>
		<% end %>
 	</ul>
</div>


<div class="box_separator_helper">

</div>

  <div class="home_box_header">
    <ul>
  		<li><%= image_tag "aircraft_type/helicopter.png", width: 25 %></li>
  		<li>Helicopters</li>
  	</ul> 
  </div>

<div class="box_home">
	<ul>
		<% @helicopters.each do |helicopter| %>
	
  			<li>
  			
			    <%= link_to advert_path(helicopter), data: { no_turbolink: true } do %>
			      <div class="box_image">

			        <% if helicopter.advert_image.blank? %>
			          default pic
			        <% else %>
			        	<% helicopter.photos.each do |photo| %>
			          		<%= image_tag photo.image_url(:advert_image) %>
			          	<% end %>
			        <% end %>

			        <div class="box_price">
			          <%= number_to_currency(helicopter.price, precision: 0, unit: "") %> <%= helicopter.currency %>
			        </div>
			      </div>

			 
		      	<div class="box_make">
		        	<%= helicopter.make %>

		        	<div class="box_model">
		            	<%= helicopter.model %>
		        	</div>
		      	</div>
			    <% end %>

		      	<div class="box_footer_wrapper">
		        	<div class="box_footer none">
		          		<%= helicopter.country %>, <%= helicopter.city %>
		        	</div>
		      	</div>
			</li>
		<% end %>
 	</ul>
</div>
</div>

<div class="home_sidebar">
	<div class="home_sidebar_header">
		Adverts
	</div>
</div>

<div class="home_sidebar">
	<div class="home_sidebar_header">
		Latest adverts
	</div>

	<div class="home_sidebar_content">
		<ul>
			<% @latest_adverts.each do |latest_advert| %>
				<li>
					<%= link_to advert_path(latest_advert), data: { no_turbolink: true } do %> 
						<div class="home_sidebar_img">
							<% latest_advert.photos.each do |photo| %>
								<%= image_tag photo.image_url(:latest_adverts) %>
							<% end %>

							<div class="home_sidebar_price">
								<%= number_to_currency(latest_advert.price, precision: 0, unit: "") %> <%= latest_advert.currency %>
							</div>
						</div>

					
						<div class="home_sidebar_title">
							<div class="home_sidebar_make">
								<%= latest_advert.make %>

								<div class="home_sidebar_model">
									<%= latest_advert.model %>
								</div>
							</div>

							<div class="home_sidebar_location">
								<%= latest_advert.country %><br/><%= latest_advert.city %>
							</div>
						</div>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</div>

<div class="home_sidebar">

</div>

<div class="home_sidebar">

</div>
	
</div>