<%= render "landing_image" %>
<div class="home_wrapper">
	<div class="home_container">
	  <div class="home_box_header">
	  	<ul>
	  		<li><%= image_tag "aircraft_type/jet.png", width: 25 %></li>
	  		<li>Jets</li>
	  	</ul>
	  </div>

<div class="box_home">
	<ul>
		<% @jets.each do |jet| %>
	
  			<li>
  			
			    <%= link_to advert_path(jet), data: { no_turbolink: true } do %>
			      <div class="box_image">

			        <% if jet.advert_image.blank? %>
			          default pic
			        <% else %>
			          <%= image_tag jet.advert_image_url(:advert_image) %>
			        <% end %>

			        <div class="box_price">
			          <%= number_to_currency(jet.price, precision: 0, unit: "") %> <%= jet.currency %>
			        </div>
			      </div>

			 
		      	<div class="box_make">
		        	<%= jet.make %>

		        	<div class="box_model">
		            	<%= jet.model %>
		        	</div>
		      	</div>
			    <% end %>

		      	<div class="box_footer_wrapper">
		        	<div class="box_footer none">
		          		<%= jet.country %>, <%= jet.city %>
		        	</div>
		      	</div>
			</li>
		<% end %>
 	</ul>
</div>

<div class="box_separator_helper">

</div>

  <div class="home_box_header">
    <ul>
  		<li><%= image_tag "aircraft_type/piston.png", width: 25 %></li>
  		<li>Single piston</li>
  	</ul>
  </div>

<div class="box_home">
	<ul>
		<% @single_pistons.each do |single_piston| %>
	
  			<li>
  			
			    <%= link_to advert_path(single_piston), data: { no_turbolink: true } do %>
			      <div class="box_image">

			        <% if single_piston.advert_image.blank? %>
			          default pic
			        <% else %>
			          <%= image_tag single_piston.advert_image_url(:advert_image) %>
			        <% end %>

			        <div class="box_price">
			          <%= number_to_currency(single_piston.price, precision: 0, unit: "") %> <%= single_piston.currency %>
			        </div>
			      </div>

			 
		      	<div class="box_make">
		        	<%= single_piston.make %>

		        	<div class="box_model">
		            	<%= single_piston.model %>
		        	</div>
		      	</div>
			    <% end %>

		      	<div class="box_footer_wrapper">
		        	<div class="box_footer none">
		          		<%= single_piston.country %>, <%= single_piston.city %>
		        	</div>
		      	</div>
			</li>
		<% end %>
 	</ul>
</div>

<div class="box_separator_helper">

</div>

  <div class="home_box_header">
    <ul>
  		<li><%= image_tag "aircraft_type/multi_piston.png", width: 25 %></li>
  		<li>Multi piston</li>
  	</ul>
  </div>

<div class="box_home">
	<ul>
		<% @multi_pistons.each do |multi_piston| %>
	
  			<li>
  			
			    <%= link_to advert_path(multi_piston), data: { no_turbolink: true } do %>
			      <div class="box_image">

			        <% if multi_piston.advert_image.blank? %>
			          default pic
			        <% else %>
			          <%= image_tag multi_piston.advert_image_url(:advert_image) %>
			        <% end %>

			        <div class="box_price">
			          <%= number_to_currency(multi_piston.price, precision: 0, unit: "") %> <%= multi_piston.currency %>
			        </div>
			      </div>

			 
		      	<div class="box_make">
		        	<%= multi_piston.make %>

		        	<div class="box_model">
		            	<%= multi_piston.model %>
		        	</div>
		      	</div>
			    <% end %>

		      	<div class="box_footer_wrapper">
		        	<div class="box_footer none">
		          		<%= multi_piston.country %>, <%= multi_piston.city %>
		        	</div>
		      	</div>
			</li>
		<% end %>
 	</ul>
</div>


<div class="box_separator_helper">

</div>

  <div class="home_box_header">
    <ul>
  		<li><%= image_tag "aircraft_type/turbo_prop.png", width: 25 %></li>
  		<li>TurboProp</li>
  	</ul>
  </div>

<div class="box_home">
	<ul>
		<% @turbo_props.each do |turbo_prop| %>
	
  			<li>
  			
			    <%= link_to advert_path(turbo_prop), data: { no_turbolink: true } do %>
			      <div class="box_image">

			        <% if turbo_prop.advert_image.blank? %>
			          default pic
			        <% else %>
			          <%= image_tag turbo_prop.advert_image_url(:advert_image) %>
			        <% end %>

			        <div class="box_price">
			          <%= number_to_currency(turbo_prop.price, precision: 0, unit: "") %> <%= turbo_prop.currency %>
			        </div>
			      </div>

			 
		      	<div class="box_make">
		        	<%= turbo_prop.make %>

		        	<div class="box_model">
		            	<%= turbo_prop.model %>
		        	</div>
		      	</div>
			    <% end %>

		      	<div class="box_footer_wrapper">
		        	<div class="box_footer none">
		          		<%= turbo_prop.country %>, <%= turbo_prop.city %>
		        	</div>
		      	</div>
			</li>
		<% end %>
 	</ul>
</div>


<div class="box_separator_helper">

</div>

  <div class="home_box_header">
    <ul>
  		<li><%= image_tag "aircraft_type/helicopter.png", width: 25 %></li>
  		<li>Helicopters</li>
  	</ul> 
  </div>

<div class="box_home">
	<ul>
		<% @helicopters.each do |helicopter| %>
	
  			<li>
  			
			    <%= link_to advert_path(helicopter), data: { no_turbolink: true } do %>
			      <div class="box_image">

			        <% if helicopter.advert_image.blank? %>
			          default pic
			        <% else %>
			          <%= image_tag helicopter.advert_image_url(:advert_image) %>
			        <% end %>

			        <div class="box_price">
			          <%= number_to_currency(helicopter.price, precision: 0, unit: "") %> <%= helicopter.currency %>
			        </div>
			      </div>

			 
		      	<div class="box_make">
		        	<%= helicopter.make %>

		        	<div class="box_model">
		            	<%= helicopter.model %>
		        	</div>
		      	</div>
			    <% end %>

		      	<div class="box_footer_wrapper">
		        	<div class="box_footer none">
		          		<%= helicopter.country %>, <%= helicopter.city %>
		        	</div>
		      	</div>
			</li>
		<% end %>
 	</ul>
</div>
</div>

<div class="home_sidebar">
	<div class="home_sidebar_header">
		Latest adverts
	</div>

	<div class="home_sidebar_content">
		<ul>
			<% @latest_adverts.each do |latest_advert| %>
				<li>
					<%= link_to advert_path(latest_advert), data: { no_turbolink: true } do %> 
						<div class="home_sidebar_img">
							<%= image_tag latest_advert.advert_image_url(:latest_adverts) %>

							<div class="home_sidebar_price">
								<%= number_to_currency(latest_advert.price, precision: 0, unit: "") %> <%= latest_advert.currency %>
							</div>
						</div>

					
						<div class="home_sidebar_title">
							<div class="home_sidebar_make">
								<%= latest_advert.make %>

								<div class="home_sidebar_model">
									<%= latest_advert.model %>
								</div>
							</div>

							<div class="home_sidebar_location">
								<%= latest_advert.country %><br/><%= latest_advert.city %>
							</div>
						</div>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</div>

<div class="home_sidebar">
	<div class="home_sidebar_header">
		Adverts
	</div>
</div>

<div class="home_sidebar">

</div>

<div class="home_sidebar">

</div>
	
</div>