<div id="bg_image_wrapper">
  <div class="content">
      <div class="content_title">
          Aircraft market 
          <div class="content_title_small">
              the land of the free 
          </div>
      </div>
  </div>

  <span id="bg_image" role="img" aria-label="Bicycle.">
    <span id="bg_image_inner">
    </span>
  </span>
</div>

<div id="masonry-container" class="centered clearfix">

<% @adverts.each do |advert| %>
  <div class="box">

    <%= link_to advert_path(advert) do %>
      <div class="box_image">

        <% if advert.advert_image.blank? %>
          default pic
        <% else %>
          <%= image_tag advert.advert_image_url(:advert_image) %>
        <% end %>

        <div class="box_price">
          <%= number_to_currency(advert.price, precision: 0, unit: "") %> <%= advert.currency %>
        </div>
      </div>

 
      <div class="box_make">
        <%= advert.make %>

        <div class="box_model">
            <%= advert.model %>
        </div>
      </div>
    <% end %>

      <!--<div class="box_attr">
        <table>
          <tr> 
            <th>Type</th>
            <th>Year</th>
            <th>Airframe</th>
            <th>Engine</th>
            <th>Location</th>
          </tr>
          <tr>
            <td><%= advert.aircraft_type %></td>
            <td><%= advert.year %></td>
            <td>1598h</td>
            <td>2547h</td>
            <td><%= advert.country %>, <%= advert.city %></td>
          </tr>
        </table> 
      </div>-->

      <div class="box_footer_wrapper">
        <div class="box_footer">
          <%= advert.country %>, <%= advert.city %>
        </div>

      </div>
    
  </div>
<% end %>

</div>

<div id="digg_pagination" data-no-turbolink>
  <%= will_paginate @adverts, :page_links => false %>
</div>