<div id="advert_search_container">
  <div id="advert_search_header">
    Welcome
  </div>
    
    <div id="search_form">
      <%= search_form_for @q do |f| %>
        <ul>
          <li>
            <span class="search_label">Manufacturer</span>
            <%= f.text_field :make_cont, :class => "search_field" %>
          </li>

          <li>
            <span class="search_label">Model</span>
            <%= f.text_field :model_cont, :class => "search_field" %>
          </li>

          <li>
            <span class="search_label">Aircraft type</span>
            <div class="dropdown_list">
              <%= f.select :aircraft_type_cont, ['Cessna', "Airbus"], :prompt => '' %>
            </div>
          </li>

          <li>
            <span class="search_label">Aircraft usage</span>
            <div class="dropdown_list">
              <%= f.select :aircraft_usage_cont, ['Cessna', "Airbus"], :prompt => '' %>
            </div>
          </li>

          <li>
            <span class="search_label">Country</span>
            <div class="dropdown_list">
              <%= f.select :country_cont, ['Cessna', "Airbus"], :prompt => '' %>
            </div>
          </li>
        </ul>

        <div id="search_button_wrapper">
          <%= f.submit :class => "search_button" %>
        </div>
      <% end %>
    </div>
</div>

<div id="advert_container">
  <%= render 'index_header' %>
  <div id="masonry-container" class="centered clearfix">

  <% @adverts.each do |advert| %>

    <div class="box">
      <%= link_to advert_path(advert), data: { no_turbolink: true } do %>
        <div class="box_image">

          <% advert.photos.each do |photo| %>
            <%= image_tag photo.image_url(:advert_image) %>
          <% end %>

          <div class="box_price">
            <%= number_to_currency(advert.price, precision: 0, unit: "") %> <%= advert.currency %>
          </div>
        </div>
      <% end %>

      <%= link_to advert_path(advert), data: { no_turbolink: true } do %>
        <div class="box_make">
          <%= advert.make %>

          <div class="box_model">
              <%= advert.model %>
          </div>
        </div>
      <% end %>

        <div class="box_footer_wrapper">
          <div class="box_footer">
            <%= advert.country %>, <%= advert.city %>
          </div>
        </div>

        <!--<div class="box_icons">
          <ul>
            <li><%= image_tag "video.png", width: 25 %></li>
            <li><%= image_tag "video.png", width: 25 %></li>
          </ul>
        </div>-->
    </div>
  <% end %>
  </div>
  
    <div class="digg_pagination" data-no-turbolink>
      <%= will_paginate @adverts, :page_links => false %>
    </div>
</div>

