<div id="landing_page">
	<div id="landing_advert">
		Find, Buy or Sell any type of aviation<br>

		<div id="advert_example">
			<%= image_tag "paper_plane.png", width: 280 %>

			<div id="advert_example_footer">
			<%= image_tag "advert_footer.png", width: 280 %>
			</div>

			<ul class="advert_user_benefit">
				<li>
					Geo location
				</li>

				<li>
					Email seller
				</li>

				<li>
					Ad filtering
				</li>
			</ul>
		</div>

		<span class="landing_big_text">
			Aircraft Market
		</span>

		<span class="landing_small_text">
			Our goal is to connect aircraft sellers and buyers to allow you to find and sell your aircraft not only to your local market but to the worldwide market as well. 
		</span>
		
		<%= search_form_for @q do |f| %>
		
			<div id="landing_search">
				<ul>
					<li>
			          <%= f.select :country_cont, options_from_collection_for_select(@select_for_country, "country", "country", @q.country_cont), :prompt => 'Select a country' %>
			        </li>

			        <li>
			          <%= f.select :model_cont, options_from_collection_for_select(@select_for_model, "model", "model", @q.model_cont), :prompt => 'Select a model' %>
			        </li>
			    </ul>

	    		<%= f.submit :class => "landing_search_button" %>
	    	</div>
	    <% end %>
		
	</div>
</div>

<div class="adverts_wrapper">
	<div class="aircraft_type">
		Jets
	</div>

	<div class="frame">
		<% @jets.each do |advert| %>
		    <div class="bit-4">
		    	<div class="user_ad">
		    		<% if advert.photos.empty? or advert.photos.nil?%>
		    			<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				        	<%= image_tag "paper_plane.png" %>
				        <% end %>
			       	<% else %>
			       		<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				       		<% advert.photos.first(1).each do |photo| %>
				          		<%= image_tag photo.image_url(:advert_image) %>
				       		<% end %>
				       	<% end %>
			       	<% end %>

			       	<div class="user_ad_footer">
		       			<div class="user_ad_avatar">
				          	<%= link_to user_path(advert.user) do %>
				            	<% if advert.user.avatar.blank? or advert.user.avatar.nil? %>
				            	  	<%= image_tag "avatar.png" %>
				            	<% else %>
				              		<%= image_tag advert.user.avatar_url(:avatar_small) %>
				            	<% end %>
				          	<% end %>
				        </div>

				        <%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				          	<div class="user_ad_make">
				            	<%= advert.make %>

				            	<div class="user_ad_model">
				                	<%= advert.model %>
				            	</div>
				          	</div>
				        <% end %>
		       		</div>

		       		<% unless advert.price.nil? or advert.price.blank? %>
	                    <div class="user_ad_price">
	                      <ul>
	                        <li>
	                          <%= number_to_currency(advert.price, precision: 0, unit: "") %> <%= currency_to_symbol_helper(advert.currency) %>
	                        </li>

	                        <li class="user_ad_price_location">
	                          <%= advert.city %>, <%= advert.country %>
	                        </li>
	                      </ul>
	                    </div>
	                 <% end %>
	       		</div>
		    </div>
		<% end %>
	</div>



	<div class="aircraft_type">
		TurboProp
	</div>

	<div class="frame">
		<% @turbo_prop.each do |advert| %>
		    <div class="bit-4">
		    	<div class="user_ad">
		    		<% if advert.photos.empty? or advert.photos.nil?%>
		    			<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				        	<%= image_tag "paper_plane.png" %>
				        <% end %>
			       	<% else %>
			       		<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				       		<% advert.photos.first(1).each do |photo| %>
				          		<%= image_tag photo.image_url(:advert_image) %>
				       		<% end %>
				       	<% end %>
			       	<% end %>

			       	<div class="user_ad_footer">
		       			<div class="user_ad_avatar">
				          	<%= link_to user_path(advert.user) do %>
				            	<% if advert.user.avatar.blank? or advert.user.avatar.nil? %>
				            	  	<%= image_tag "avatar.png" %>
				            	<% else %>
				              		<%= image_tag advert.user.avatar_url(:avatar_small) %>
				            	<% end %>
				          	<% end %>
				        </div>

				        <%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				          	<div class="user_ad_make">
				            	<%= advert.make %>

				            	<div class="user_ad_model">
				                	<%= advert.model %>
				            	</div>
				          	</div>
				        <% end %>
		       		</div>

		       		<% unless advert.price.nil? or advert.price.blank? %>
	                    <div class="user_ad_price">
	                      <ul>
	                        <li>
	                          <%= number_to_currency(advert.price, precision: 0, unit: "") %><%= currency_to_symbol_helper(advert.currency) %>
	                        </li>

	                        <li class="user_ad_price_location">
	                          <%= advert.city %>, <%= advert.country %>
	                        </li>
	                      </ul>
	                    </div>
	                <% end %>
	       		</div>
		    </div>
		<% end %>
	</div>



	<div class="aircraft_type">
		Helicopters
	</div>

	<div class="frame">
		<% @helicopters.each do |advert| %>
		    <div class="bit-4">
		    	<div class="user_ad">
		    		<% if advert.photos.empty? or advert.photos.nil?%>
		    			<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				        	<%= image_tag "paper_plane.png" %>
				        <% end %>
			       	<% else %>
			       		<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				       		<% advert.photos.first(1).each do |photo| %>
				          		<%= image_tag photo.image_url(:advert_image) %>
				       		<% end %>
				       	<% end %>
			       	<% end %>

			       	<div class="user_ad_footer">
		       			<div class="user_ad_avatar">
				          	<%= link_to user_path(advert.user) do %>
				            	<% if advert.user.avatar.blank? or advert.user.avatar.nil? %>
				            	  	<%= image_tag "avatar.png" %>
				            	<% else %>
				              		<%= image_tag advert.user.avatar_url(:avatar_small) %>
				            	<% end %>
				          	<% end %>
				        </div>

				        <%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				          	<div class="user_ad_make">
				            	<%= advert.make %>

				            	<div class="user_ad_model">
				                	<%= advert.model %>
				            	</div>
				          	</div>
				        <% end %>
		       		</div>

		       		<% unless advert.price.nil? or advert.price.blank? %>
	                    <div class="user_ad_price">
	                      <ul>
	                        <li>
	                          <%= number_to_currency(advert.price, precision: 0, unit: "") %><%= currency_to_symbol_helper(advert.currency) %>
	                        </li>

	                        <li class="user_ad_price_location">
	                          <%= advert.city %>, <%= advert.country %>
	                        </li>
	                      </ul>
	                    </div>
	                <% end %>
	       		</div>
		    </div>
		<% end %>
	</div>



	<div class="aircraft_type">
		Single Piston
	</div>

	<div class="frame">
		<% @single_piston.each do |advert| %>
		    <div class="bit-4">
		    	<div class="user_ad">
		    		<% if advert.photos.empty? or advert.photos.nil?%>
		    			<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				        	<%= image_tag "paper_plane.png" %>
				        <% end %>
			       	<% else %>
			       		<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				       		<% advert.photos.first(1).each do |photo| %>
				          		<%= image_tag photo.image_url(:advert_image) %>
				       		<% end %>
				       	<% end %>
			       	<% end %>

			       	<div class="user_ad_footer">
		       			<div class="user_ad_avatar">
				          	<%= link_to user_path(advert.user) do %>
				            	<% if advert.user.avatar.blank? or advert.user.avatar.nil? %>
				            	  	<%= image_tag "avatar.png" %>
				            	<% else %>
				              		<%= image_tag advert.user.avatar_url(:avatar_small) %>
				            	<% end %>
				          	<% end %>
				        </div>

				        <%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				          	<div class="user_ad_make">
				            	<%= advert.make %>

				            	<div class="user_ad_model">
				                	<%= advert.model %>
				            	</div>
				          	</div>
				        <% end %>
		       		</div>

		       		<% unless advert.price.nil? or advert.price.blank? %>
	                    <div class="user_ad_price">
	                      <ul>
	                        <li>
	                          <%= number_to_currency(advert.price, precision: 0, unit: "") %><%= currency_to_symbol_helper(advert.currency) %>
	                        </li>

	                        <li class="user_ad_price_location">
	                          <%= advert.city %>, <%= advert.country %>
	                        </li>
	                      </ul>
	                    </div>
	                <% end %>
	       		</div>
		    </div>
		<% end %>
	</div>



	<div class="aircraft_type">
		Multi Piston
	</div>

	<div class="frame">
		<% @multi_piston.each do |advert| %>
		    <div class="bit-4">
		    	<div class="user_ad">
		    		<% if advert.photos.empty? or advert.photos.nil?%>
		    			<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				        	<%= image_tag "paper_plane.png" %>
				        <% end %>
			       	<% else %>
			       		<%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				       		<% advert.photos.first(1).each do |photo| %>
				          		<%= image_tag photo.image_url(:advert_image) %>
				       		<% end %>
				       	<% end %>
			       	<% end %>

			       	<div class="user_ad_footer">
		       			<div class="user_ad_avatar">
				          	<%= link_to user_path(advert.user) do %>
				            	<% if advert.user.avatar.blank? or advert.user.avatar.nil? %>
				            	  	<%= image_tag "avatar.png" %>
				            	<% else %>
				              		<%= image_tag advert.user.avatar_url(:avatar_small) %>
				            	<% end %>
				          	<% end %>
				        </div>

				        <%= link_to advert_path(advert), data: { no_turbolink: true } do %>
				          	<div class="user_ad_make">
				            	<%= advert.make %>

				            	<div class="user_ad_model">
				                	<%= advert.model %>
				            	</div>
				          	</div>
				        <% end %>
		       		</div>

		       		<% unless advert.price.nil? or advert.price.blank? %>
	                    <div class="user_ad_price">
	                      <ul>
	                        <li>
	                          <%= number_to_currency(advert.price, precision: 0, unit: "") %><%= currency_to_symbol_helper(advert.currency) %>
	                        </li>

	                        <li class="user_ad_price_location">
	                          <%= advert.city %>, <%= advert.country %>
	                        </li>
	                      </ul>
	                    </div>
	                <% end %>
	       		</div>
		    </div>
		<% end %>
	</div>
</div>