<div class="pricing_wrapper">
  <% if flash[:notice] %>
    <h3><%= flash[:notice] %></h3>
  <% end %>
  
  <div class="plan_banner">
    <b>Sell your aircraft</b>
    <div class="plan_small_banner_text">where the buyers are</div>
  </div>

  <div class="plan_text">
    Choose a Plan 

    <div class="plan_text_small">
      We know to sell an aircraft <b>is not easy</b>. Let us quickly introduce your aircraft <b>into the market</b>.  Use one of two plans in order to gain benefits:
    </div>
  </div>

  <ul class="micro_benefits">
    <li>24/7 support</li>
    <li>Branded content</li>
    <li>Switching plans</li>
    <li>Profile customisation</li>
    <li>Global audience</li>
    <li>Unsubscribe anytime</li>
    <li>Image management</li>
  </ul>

  <ul class="plan_wrapper">
    <li>
      <div class="plan_basic">
      	<div class="plan_basic_header">
  		    <div class="plan_title">Basic</div>
            <div class="plan_for_whom">
              Best for personal use
            </div>

            <div class="plan_price">
              <span class="plan_currency">$</span><span class="plan_amount">50.00<span class="plan_old_price_basic">80.00</span></span><span class="plan_month"> /month</span>
            </div>

            <!--<div class="plan_advantages">
              <ul>
                <li>you can <b>upgrade to premium</b> anytime</li>
              </ul>
            </div>-->

            <!--<div class="tri-down"><!--trianle</div>-->
  	    </div>

        <%= link_to sign_up_path(plan: @basic_plan.id) do %>
          <div class="plan_subscribe_link">
            Takeoff
          </div>
        <% end %>
        
        <div class="plan_benefits">
          Limited to 1 advert
        </div>
      </div>
    </li>

    <li>
      <div class="plan_premium">
        <div class="plan_premium_header">
          <div class="plan_title">Premium</div>

          <div class="plan_for_whom">
            Designed for business
          </div>

            <div class="plan_price premium">
              <span class="plan_currency">$</span><span class="plan_amount">150.00<span class="plan_old_price_premium">200.00</span></span><span class="plan_month"> /month</span>
            </div>

            <!--<div class="plan_advantages">
              <ul>
                <li>you can <b>downgrade to basic</b> anytime</li>
              </ul>
            </div>-->

            <!--<div class="tri-down premium"><!--trianle</div>-->
        </div>

        <%= link_to sign_up_path(plan: @premium_plan.id) do %>
          <div class="plan_subscribe_link">
            Takeoff
          </div>
        <% end %>

        <div class="plan_benefits">
          Unlimited number of adverts
        </div>
      </div>
    </li>
    </ul>

    <div class="reassurance_text">
      Subscribe today and start selling instantly. <b><span class="billing_markup">7-day billing info setup.</span></b>
    </div>

    <div class="plan_text">
      Success is in the Air

      <div class="plan_text_small">
        What some of our happy <b>sellers are saying</b>:
      </div>
    </div>

    <div class="testimonials_wrapper">
      <div class="testimonials">
        <%= image_tag "quote.png", width: 16, :class => "quote_img_start" %> I was very curious how GoodUI Datastories would be. After receiving the first issue I can say that it’s a great piece of professional work. I was feeling like sitting right next to Jakub and Vlad while they prepared and ran the tests. It’s a great thing to have everything provided in such detail. Imagine as if you actually ran these tests but it took you just a reading moment and not 3 months. Great isn’t it? ”
      </div>

      <div class="testimonials_seller">
        - <b>John Hutter</b>, Project Manager <%= image_tag "stars.png", width: 100, :class => "rating_stars" %>
      </div>

      <div class="testimonials">
        <%= image_tag "quote.png", width: 16, :class => "quote_img_start" %> I was very curious how GoodUI Datastories would be. After receiving the first issue I can say that it’s a great piece of professional work. I was feeling like sitting right next to Jakub and Vlad while they prepared and ran the tests. Great isn’t it? ”
      </div>

      <div class="testimonials_seller">
        - <b>Bill Wells</b>, Marketer <%= image_tag "stars.png", width: 100, :class => "rating_stars" %>
      </div>

      <div class="testimonials">
        <%= image_tag "quote.png", width: 16, :class => "quote_img_start" %> I was very curious how GoodUI Datastories would be. After receiving the first issue I can say that it’s a great piece of professional work. I was feeling like sitting right next to Jakub and Vlad while they prepared and ran the tests. It’s a great thing to have everything provided in such detail. ”
      </div>

      <div class="testimonials_seller">
        - <b>Tom Carter</b>, Director <%= image_tag "stars.png", width: 100, :class => "rating_stars" %>
      </div>
    </div>

    <div class="message_to_us">
      <%= link_to new_contact_path do %>
        Say few words
      <% end %>
      about us.
    </div>


    <div class="plan_text">
      Questions & Answers

      <div class="plan_text_small">
        Ask any question and we will answer them for you right here, <b>with the most popular first</b>:
      </div>
    </div>

    <ul class="q_and_a columns_2">
      <li>
        <span class="question">What is AviaTrading?</span>
        <span class="answer">AviaTrading is a monthly subscription through which we introduce your aircraft into the market. Use AviaTrading as a channel to promote your business or engage in brand awareness.</span>
      </li>

      <li>
        <span class="question">What plan do I choose?</span>
        <span class="answer">If you have one aircraft to advertise you need to choose Basic plan. If you want to start advertising two and more aircrafts, then you have to choose Premium plan.</span>
      </li>

      <li>
        <span class="question">Can I switch between plans?</span>
        <span class="answer">Yes, you can. You will retain the same billing dates. Unused portion of the old plan will be reflected upcoming month on the new plan invoice.</span>
      </li>

      <li>
        <span class="question">Will my subscription automatically be renewed?</span>
        <span class="answer">Yes, if you subscribe using a credit or a debit card, then you will be re-billed the same day each month untill you cancel subscription.</span>
      </li>

      <li>
        <span class="question">Will my profile and advertisements remain after I cancel subscription?</span>
        <span class="answer">Yes. You profile and advertisements will remain. However, you will need to subscribe again if you want to re-activate your subscriber benefits.</span>
      </li>

      <li>
        <span class="question">Is it safe to enter my credit card details on the site?</span>
        <span class="answer">Yes. All your card details are encrypted for maximum security whilst travelling over the Internet. Further, no credit card details are stored anywhere on our site.

</span>
      </li>
    </ul>

    <div class="message_to_us">
      Got another question?
      <%= link_to new_contact_path do %>
        Ask us anything.
      <% end %>
    </div>

    <div class="repeated_plans_title">
      Choose a plan that suit you and subscribe with all benefits
    </div>

    <ul class="repeated_plans">
      <li>
        <%= link_to sign_up_path(plan: @basic_plan.id) do %>
          <div class="repeated_plans_button">
            Subscribe for <b>Basic Plan</b>
            <span class="repeated_plan_small">
              max. one ad only $50.00 / month
            </span>
          </div>
        <% end %>
      </li>

      <li>
        <%= link_to sign_up_path(plan: @premium_plan.id) do %>
          <div class="repeated_plans_button">
            Subscribe for <b>Premium Plan</b>
            <span class="repeated_plan_small">
              unlimited number of ads only $150.00 / month
            </span>
          </div>
        <% end %>
      </li>
    </ul>

    <div class="unsub_anytime">
      Boost your chances to sell an aircraft right now. Unsubscribe anytime.
    </div>

    <div class="secure_cards">
      <%= image_tag "secure.png" %>
    </div>
    

    <!--<div id="plan_box">
      <ul>
        <li>
          <div class="plan_question">
            <span><%= image_tag "commenter_face.jpg", width: 60 %></span>
            <span>John Powell<span class="commenter_location">New York, United States</span></span>
          </div>

          <div class="plan_answer">
            Watching the Treehouse videos, I was having little “Ahaaa, that makes sense!” moments, the videos are broken down into just the right amount to be able to absorb, without getting too frustrated.
          </div>
        </li>

        <li>
          <div class="plan_question">
            <span><%= image_tag "commenter_face.jpg", width: 60 %></span>
            <span>Paul Wilson<span class="commenter_location">Toronto, Canada</span></span>
          </div>

          <div class="plan_answer">
            Watching the Treehouse videos, I was having little “Ahaaa, that makes sense!” moments, the videos are broken down into just the right amount to be able to absorb, without getting too frustrated.
          </div>
        </li>
        
        <li>
          <div class="plan_question">
            <span><%= image_tag "commenter_face.jpg", width: 60 %></span>
            <span>Daniel Wood<span class="commenter_location">San Francisco, United States</span></span>
          </div>

          <div class="plan_answer">
            Watching the Treehouse videos, I was having little “Ahaaa, that makes sense!” moments, the videos are broken down into just the right amount to be able to absorb, without getting too frustrated.
          </div>
        </li>
      </ul>
    </div>-->
</div>