<div class="advert_show_wrapper">
  <div class="advert_show_image">
    <%= image_tag @advert.advert_image_url(:advert_image_big) %>
    
    <div class="advert_show_image_detail">
      <ul>
        <li class="advert_show_image_price">
          <%= @advert.currency %> <%= number_to_currency(@advert.price, precision: 0, unit: "") %>
        </li>
        <li>
          <%= link_to user_path(@advert.user.id) do %> 
            <%= @advert.name %> <%= @advert.surname %>
          <% end %>
        </li>
        <li>+4925135895</li>
        <li><%= @advert.email %></li>
      </ul> 
    </div>
  </div>

    <div class="advert_show_header">
      <div class="advert_show_header_title_wrapper">
        <div class="advert_show_header_title">
          <%= @advert.year %> <%= @advert.make %> <%= @advert.model %>

          <div class="advert_show_header_location">
            <%= @advert.country %>, <%= @advert.city %>
          </div>
        </div>

        <!--<div class="advert_show_header_media">
          <ul>
            <%= link_to @advert.document_url, :target => "_blank" do %>
              <li><%= image_tag "document.png", width: 25 %></li>
            <% end %>
          </ul>
        </div>-->
      </div>

      <div class="advert_show_header_details">
        <ul>
          <li><%= aircraft_type_helper(@advert.aircraft_type, 50) %></li>
          <li><%= @advert.aircraft_type %></li>
        </ul>

        <ul>
          <li><%= aircraft_usage_helper(@advert.aircraft_usage, 50) %></li>
          <li><%= @advert.aircraft_usage %></li>
        </ul> 

        <ul>
          <li><span class="icon-JetAircrafttype-50px"></span></li>
          <li><%= @advert.aircraft_hours %> aircraft hours</li>
        </ul>

        <ul>
          <li><span class="icon-JetAircrafttype-50px2"></span></li>
          <li><%= @advert.landings %> landings</li>
        </ul>

        <ul>
          <li><span class="icon-JetAircrafttype-200px3"></span></li>
          <li><%= @advert.number_of_passengers %> passengers</li>
        </ul>
      </div>
    </div>

  <div class="advert_show_header_separator">
    <!-- separator -->
  </div>

  <div class="advert_specs_wrapper">
    <div class="advert_specs">
      <div class="advert_specs_title_column">
        <ul>
          <li>Aircraft information</li>
        </ul>
      </div>

      <div class="advert_specs_content_column1">
        <table>
          <tr>
            <td><b>Serial number:</b></td>
            <td><%= @advert.serial_number %></td>
          </tr>

          <tr>
            <td><b>Registration number:</b></td>
            <td><%= @advert.registration_number %></td>
          </tr>
        </table>
      </div>

      <div class="advert_specs_content_column2">
        <table>
          <tr>
            <td><b>Airport name:</b></td>
            <td><%= @advert.nearest_airport %> <%= @advert.airport_code %></td>
          </tr>

          <tr>
            <td><b>Last inspection:</b></td>
            <td><%= @advert.last_inspection %></td>
          </tr>
        </table>
      </div>
    </div>


    <div class="advert_specs">
      <div class="advert_specs_title_column">
        <ul>
          <li>Engine / Propeller</li>
        </ul>
      </div>

      <div class="advert_specs_content_column1">
        <table>
          <tr>
            <td><b>Engine manufacturer:</b></td>
            <td><%= @advert.engine_make %></td>
          </tr>

          <tr>
            <td><b>Engine model:</b></td>
            <td><%= @advert.engine_model %></td>
          </tr>

          <tr>
            <td><b>Engine number:</b></td>
            <td><%= @advert.number_of_engines %></td>
          </tr>

          <tr>
            <td><b>Engine type:</b></td>
            <td><%= @advert.engine_type %></td>
          </tr>

          <tr>
            <td><b>Engine hours:</b></td>
            <td><%= @advert.engine_hours %></td>
          </tr>

          <tr>
            <td><b>Engine TBO:</b></td>
            <td><%= @advert.tbo %></td>
          </tr>

          <tr>
            <td><b>Engine power:</b></td>
            <td><%= @advert.engine_power %></td>
          </tr>
        </table>
      </div>

      <div class="advert_specs_content_column2">
        <table>
          <tr>
            <td><b>Propeller manufacturer:</b></td>
            <td><%= @advert.propeller_make %></td>
          </tr>

          <tr>
            <td><b>Propeller model:</b></td>
            <td><%= @advert.propeller_model %></td>
          </tr>

          <tr>
            <td><b>Number of propellers:</b></td>
            <td><%= @advert.number_of_propellers %></td>
          </tr>

          <tr>
            <td><b>Propeller hours:</b></td>
            <td><%= @advert.propeller_hours %></td>
          </tr>
        </table>
      </div>

      <div class="advert_text_info engine">
        <%= @advert.engine_notes %>
      </div>
    </div>


    <div class="advert_specs">
      <div class="advert_specs_title_column">
        <ul>
          <li>Avionics</li>
        </ul>
      </div>

      <div class="advert_text_info">
        <%= @advert.engine_notes %>
      </div>
    </div>


    <div class="advert_specs">
      <div class="advert_specs_title_column">
        <ul>
          <li>Interior:</li>
        </ul>
      </div>

      <div class="advert_text_info">
        <%= @advert.engine_notes %>
      </div>
    </div>


    <div class="advert_specs">
      <div class="advert_specs_title_column">
        <ul>
          <li>Exterior:</li>
        </ul>
      </div>

      <div class="advert_text_info">
        <%= @advert.engine_notes %>
      </div>
    </div>


    <div class="advert_specs">
      <div class="advert_specs_title_column">
        <ul>
          <li>Additional information:</li>
        </ul>
      </div>

      <div class="advert_text_info">
        <%= @advert.engine_notes %>
      </div>
    </div>
 
  </div>
  <div class="advert_show_footer">
   <%= @advert.user.organisation %>   
  </div>
</div>
