<% if current_teacher.id == 2 %>
	<div id="index_teacher_wrapper">

		<% @teachers.each do |teacher| %>
			<div class="index_teacher">
				<% if teacher.status.blank? %>
					<div class="pending_status"></div>
				<% elsif teacher.status == "rejected" %>
					<div class="rejected_status"></div>
				<% elsif teacher.status == "activated" %>
					<div class="activated_status"></div>
				<% else %>
					<div class="deactivated_status"></div>
				<% end %>
				<table>
					<tr> 
				        <th>Name</th>
				        <th>Email</th>
				        <th>CV</th>
				        <th>Proof(1)</th>
				        <th>Proof(2)</th>
				        <th>Proof(3)</th>
				        <th>Public link</th>
				        <th>Status</th>
				        <th>Activate</th>
				        <th>Reject</th>
				        <th>Deactivate</th>
			      	</tr>

			      <tr>
			        <td><%= teacher.name %> <%= teacher.surname %></td>
			        <td><%= link_to teacher.email, teacher %></td>
			        <td><%= link_to "CV", teacher.cv.url, target: "_blank" %></td>
			        
			        <td>
			        	<% if teacher.language_proficiency_proof.blank? %>
							No
						<% else %>
						<%= link_to "Proof", teacher.language_proficiency_proof.url, target: "_blank" %>
						<% end %>
					</td>

			        <td>
			        	<% if teacher.language_proficiency_proof2.blank? %>
							No
						<% else %>
						<%= link_to "Proof2", teacher.language_proficiency_proof2.url, target: "_blank" %>
						<% end %>
					</td>

			        <td>
			        	<% if teacher.language_proficiency_proof2.blank? %>
							No
						<% else %>
						<%= link_to "Proof2", teacher.language_proficiency_proof2.url, target: "_blank" %>
						<% end %>
					</td>
			        
			        <td>
			        	<% if teacher.public_link.blank? %>
							No link
						<% else %>
							<%= teacher.public_link %>
						<% end %>
					</td>

			        <td>
			        	<% if teacher.status.blank? %>
							Pending
						<% else %>
							<%= teacher.status %>
						<% end %>
					</td>

					<td>
						<%= link_to "Activate", activate_teachers_path(id: teacher) %>
					</td>

					<td>
						<%= link_to "Reject", reject_teachers_path(id: teacher) %>
					</td>

					<td>
			        	<%= link_to "Deactivate", deactivate_teachers_path(id: teacher) %>
					</td>
			      </tr>
				</table>

			</div>
		<% end %>
	</div>
<% else %>
	<div id="index_blank_page">
		Page is blank
	</div>
<% end %>

