<div id="teacher_wrapper_for_footer">
<div id="teacher_wrapper">

  <div id="teacher_profile_social_network">
        <ul>

        <% if current_teacher == @teacher%>
          <li>
            <%= link_to edit_teacher_registration_path do %>
              <%= image_tag "pencil.png", width: 25 %>
            <% end %>
          </li>
        <% end %>

          <li>
            <%= link_to "https://twitter.com/share?url=https%3A%2F%2Flingonas.com#{teacher_path(@teacher)}", :target => "_blank" do %>
              <%= image_tag "tw_grey.png", width: 25 %>
            <% end %>
          </li>

          <%= fb_share('178872632300191', 'https://www.lingonas.com/', { 
                    :name => "Learning foreign language with #{@teacher.name} #{@teacher.surname}",
                    :method => "feed",
                    :description => "Hey! I'm foreign language teacher at Lingonas. I teach #{@teacher.iteach} and I can speak #{@teacher.ispeak}. I live in #{@teacher.location} and if you need help in language learning take a look at my profile!",
                    :link => "https://lingonas.com/#{teacher_path(@teacher)}",
                    :picture => "#{@teacher.avatar_url}",
                    :caption => "lingonas.com. Re-think language learning."
                    }) %>
        <%= link_to $facebook_url do %>
          <li>
            <%= image_tag "f_grey.png", width: 25 %>
          </li>
        <% end %>

      </ul>
    </div>

  <div id="teacher_profile_wrapper">
  	<div id="teacher_profile_image">
      <%= image_tag @teacher.avatar_url(:avatar) %>
  	</div>
  </div>
    
	<div id="teacher_profile_attributes_wrapper">
		<div id="teacher_profile_name">
      <%= @teacher.name %> <%= @teacher.surname %>
    </div>

    <div id="teacher_profile_attribute">
      I teach <%= @teacher.iteach %> & I speak <%= @teacher.ispeak %>
    </div>

    <div id="teacher_profile_attribute">
      Native language: <%= @teacher.native_language %>
    </div>

    <div id="teacher_profile_attribute">
      Location: <%= @teacher.location %>
    </div>

    <div id="teacher_profile_attribute">
      Time Zone: <%= @teacher.time_zone %>
    </div>

    <div id="teacher_profile_attribute">
      Age: <%= @teacher.age %>
    </div>
	</div>

	<div id="teacher_profile_about_me">
    <div id="teacher_profile_about_me_header">
    About Me
    </div>
		<%= @teacher.about_me %>
	</div>
</div>



<% @teacher.courses.reverse_each do |course| %>

<div id="course_post_wrapper">

  <div id="course_post">

  <div id="course_post_header_wrapper">

  <% if current_teacher == @teacher %>
    <div class="box_delete">
        <%= link_to course, method: :delete, data: { confirm: 'Want to delete this course?'  } do %>
          <%= image_tag "remove.png", width: 15 %>
        <% end %>
    </div>

    <div class="box_edit">
      <%= link_to edit_course_path(course) do %>
        <%= image_tag "pencil_white.png", width: 19 %>
      <% end %>
    </div>
  <% end %>

  <% if course.course_start > Time.now %>
    <div id="course_post_header_enroll">
      <%= link_to new_course_order_path(course) do %>enroll<% end %>
    </div>
  <% else %>
    <div id="course_post_header_enroll_expired">
      expired
    </div>
  <% end %>

    <div id="course_post_header_small">
      with <%= course.teacher.name %> <%= course.teacher.surname %>
    </div>

    <div id="course_post_header_title">
      <%= course.language %> <%= course.level %>
    </div>

  </div>

    <table>
      <tr> 
        <th>Course type</th>
        <th>Time zone</th>
        <th>Lesson time</th>
        <th>Days</th>
        <th>Course start</th>
        <th>Course end</th>
        <th>Price</th>
      </tr>
      <tr>
        <td><%= course.course_type %></td>
        <td><%= course.time_zone %></td>
        <td><%= course.time_start %> to <%= course.time_end %></td>
        <td><%= course.mon %> <%= course.tue %> <%= course.wed %> <%= course.thu %> <%= course.fri %> <%= course.sat %> <%= course.sun %></td>
        <td><%= course.course_start.to_formatted_s(:rfc822) %></td>
        <td><%= course.course_end.to_formatted_s(:rfc822) %></td>
        <td><%= course.price %>€</td>
      </tr>
    </table> 
  </div>

  <div id="course_post_icons">
    <ul>
        <%= link_to "https://twitter.com/share?url=https%3A%2F%2Flingonas.com#{teacher_path(course.teacher_id)}", :target => "_blank" do %>
          <li><%= image_tag "tw_grey.png", width: 27 %><br/>tweet</li>

        <% end %>
      
      <%= fb_share('178872632300191', 'https://www.lingonas.com/', { 
                            :name => "Learning #{course.language} #{course.level} with #{course.teacher.name} #{course.teacher.surname}",
                            :method => "feed",
                            :description => "Hey! I teach #{course.language} #{course.level} at Lingonas. I will start this course on #{course.course_start}. Join me!",
                            :link => "https://www.lingonas.com/#{teacher_path(course.teacher_id)}",
                            :picture => "#{course.teacher.avatar_url}",
                            :caption => "Lingonas. Re-think language learning"
                            }) %>
        <%= link_to $facebook_url do %>
          <li><%= image_tag "f_grey.png", width: 27 %><br/>share</li>
        <% end %>

        <%= link_to course.course_pdf_url, :target => "_blank" do %>
          <li><%= image_tag "file_grey.png", width: 20 %><br/>pdf</li>
        <% end %>
      
        <%= link_to new_course_trial_path(course) do %>
          <li><%= image_tag "try.png", width: 13 %><br/>try</li>
        <% end %>
    </ul>

  </div>

</div>

<% end %> 

</div>