<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
      <%= f.label :registration_until %><br>
      <%= f.date_select :registration_until, {start_year: Date.today.year, end_year: Date.today.year+1} %>
    </div>

    <div class="field">
      <%= f.label :course_start %><br>
      <%= f.date_select :course_start, {start_year: Date.today.year, end_year: Date.today.year+1} %>
    </div>

    <div class="field">
      <%= f.label :course_end %><br>
      <%= f.date_select :course_end, {start_year: Date.today.year, end_year: Date.today.year+1} %>
    </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :teacher_name %><br>
    <%= f.text_field :teacher_name %>
  </div>

 
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </div>

  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :course_type %><br>
    <%= f.text_field :course_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
