

  <div class="new_course_form">

    <%= form_for(@course) do |f| %>
      <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
          <% @course.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


  <div class="new_course_field">
    <%= f.label :language %><br>
    <%= f.select :language, ['German', 'English', 'Lithuanian'], :prompt => 'Select a language' %> 
  </div>

  <div class="new_course_field">
    <%= f.label :level, "Level (description of levels.pdf)" %> <br>
    <%= f.select :level, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2'], :prompt => 'Select a level' %> 
  </div>

  <div class="new_course_field_pdf">
    <%= f.label :course_pdf, "PDF file" %><br>
    <%= f.file_field :course_pdf %> 
  </div>

  <div class="new_course_field">
    <%= f.label :course_type, "Type of course (description of types.pdf)" %><br>
    <%= f.select :course_type, ['General course', 'Intensive course', 'Immersion course', 'One-to-one', 'Course for children', 'Course for senior students'], :prompt => 'Select a course'  %>  
  </div>

  <div class="new_course_field">
    <%= f.label :length %><br>
    <%= f.select :duration, ['30 minutes', '45 minutes', '60 minutes', '75 minutes', '90 minutes', '105 minutes', '120 minutes'], :prompt => 'Select length of a lesson' %> 
  </div>

  <div class="new_course_field">
    <%= f.label :price %><br>
    <%= f.number_field :price %> 
  </div>

  <div class="new_course_field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "new_course_area" %> 
  </div>


    <div class="new_course_field_date">
      <%= f.label :registration_until %><br>
      <%= f.date_select :registration_until, {:order => [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year+1 }, {:class => "new_course_date_select"} %>  
    </div>

    <div class="new_course_field_date">
      <%= f.label :course_start %><br>
      <%= f.date_select :course_start, {:order => [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year+1}, {:class => "new_course_date_select"} %>
    </div>

    <div class="new_course_field_date">
      <%= f.label :course_end %><br>
      <%= f.date_select :course_end, {:order => [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year+1}, {:class => "new_course_date_select"} %>
    </div>

  <div class="action">
    <%= f.submit  ({:class => "new_course_create_button"}) %>
  </div>
<% end %>
  
  </div>

