<div id="masonry_container">

       <div class="stamp stamp1">
        <div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-width="250" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    
      <div class="stamp stamp2">

      <div id="stamp_header">
        find courses
      </div>

        <%= search_form_for @q do |f| %>

          <%= f.select :language_cont, ['German', 'English', 'Lithuanian'], :prompt => 'Choose language' %>

          <%= f.select :level_cont, ['A1', 'A2', 'B1', 'B2', 'C1', 'C2'], :prompt => 'Choose language level' %>

          <%= f.submit :class => "search_button" %>
        <% end %>
      </div>

      <% @courses.each do |course| %>
        <div class="box">
            
            <div class="box_course_title">
              <%= link_to course do %>
                <%= course.language %> <%= course.level %>
              <% end %>

               <div class="box_course_price">
                <%= course.price %>€
              </div>

              
              <div class="box_teacher_name">
                with <%= link_to course.teacher, data: { no_turbolink: true }  do %>
                  <%= course.teacher.name %> <%= course.teacher.surname %>
                <% end %>
              </div>
              
  
            </div>

            <div class="box_description">
              <%= course.description %>
            </div>

              <table>

                <tr>
                  <td>Course type:</td>
                  <td><strong><%= course.course_type %></strong></td>
                </tr>

                <tr>
                  <td>Length:</td>
                  <td><strong><%= course.duration %></strong></td>
                </tr>

                <tr>  
                  <td>Enroll until:</td>
                  <td><strong><%= course.registration_until.to_formatted_s(:rfc822) %></strong></td>
                </tr>

                <tr>
                  <td>Class start:</td>
                  <td><strong><%= course.course_start.to_formatted_s(:rfc822) %></strong></td>
                </tr>

                <tr>
                  <td>Class end:</td>
                  <td><strong><%= course.course_end.to_formatted_s(:rfc822) %></strong></td>
                </tr>
                
              </table>

                         


            <div class="box_footer">

              <ul>
                  <li>
                    <%= image_tag "tw_grey.png", width: 25, :class => "box_icon_opacity", :title => "share" %>
                    <%= image_tag "tw_blue.png", width: 25 %>
                  </li>

                  <li>
                    <%= image_tag "f_grey.png", width: 25, :class => "box_icon_opacity", :title => "share" %>
                    <%= image_tag "f_blue.png", width: 25 %>
                  </li>

                  <li>
                    <%= image_tag "file_grey.png", width: 20, :class => "box_icon_file_opacity", :title => "download" %>
                    <%= image_tag "file_red.png", width: 20 %>
                  </li>
                  
              </ul>

            </div>

            <div class="box_button_wrapper">

              <div class="box_button_icon">
                <%= image_tag "button_icon.png", width: 60 %>
              </div>

          
          <%= link_to new_course_trial_path(course) do %>
            <div class="box_button_try">
              FREE TRY
            </div> 
          <% end %>

            
            

            <!--<%= form_for ([course, course.trials.build]) do |f| %>
          <a href="#1" name="1" onclick="return show();">  </a> 

              <div id="benefits" style="display:none;">
                
                      <%= f.label :name %><br/>
                      <%= f.text_field :name %>

                      <p><%= f.submit "Add comment" %></p>
                      <%= course.price %>€
                    
                
                <div id="display_popup_close">
                  <a onclick="return hide();">click here</a>
                </div> 
              </div>
            <% end %>-->
              
              

            <%= link_to new_course_order_path(course) do %>
              <div class="box_button_enroll">
                ENROLL
              </div>
            <% end %>
            </div>

        </div>
      <% end %>
    </div>