<div id="course_post_wrapper">

  <div id="find_course_wrapper">

      <%= search_form_for @q do |f| %>

    <ul>
      <span class="dropdown_list">
          <li><%= f.select :language_cont, ['Arabic', 'Chinese, Mandarin', 'Chinese, Cantonese', 'English', 'French', 'German', 'Hindi', 'Italian', 'Japanese', 'Portuguese', 'Russian', 'Spanish'], :prompt => 'Choose language' %></li>
      </span>
    </ul>

      <ul>
        <span class="dropdown_list">
          <li><%= f.select :level_cont, ['A1 Beginner', 'A2 Elementary', 'B1 Intermediate', 'B2 Upper intermediate', 'C1 Advanced', 'C2 Mastery'], :prompt => 'Choose language level' %></li>
        </span>
      </ul>

      <ul>
        <span class="dropdown_list">
          <li><%= f.select :course_type_cont, ['Private regular', 'Private intensive', 'Group regular', 'Group intensive'], :prompt => 'Choose course type' %></li>
        </span>
      </ul>

      <ul>
        <span class="dropdown_list">
          <li>
            <%= f.select :time_zone_cont, ["American Samoa", "International Date Line West", "Midway Island", "Hawaii", "Alaska", "Pacific Time (US & Canada)", "Tijuana", "Arizona", "Chihuahua", "Mazatlan", "Mountain Time (US & Canada)", "Central America", "Central Time (US & Canada)", "Guadalajara", "Mexico City", "Monterrey", "Saskatchewan", "Bogota", "Eastern Time (US & Canada)", "Indiana (East)", "Lima", "Quito", "Caracas ", "Atlantic Time (Canada)", "Georgetown", "La Paz", "Santiago", "Newfoundland", "Brasilia", "Buenos Aires", "Greenland", "Montevideo", "Mid-Atlantic", "Azores", "Cape Verde Is.", "Casablanca", "Dublin" ,"Edinburgh", "Lisbon", "London", "Monrovia", "UTC +00:00", "Amsterdam", "Belgrade", "Berlin", "Bern", "Bratislava", "Brussels", "Budapest" ,"Copenhagen", "Ljubljana", "Madrid", "Paris", "Prague", "Rome", "Sarajevo", "Skopje", "Stockholm", "Vienna", "Warsaw", "West Central Africa", "Zagreb", "Athens", "Bucharest", "Cairo", "Harare", "Helsinki", "Istanbul", "Jerusalem", "Kyiv", "Pretoria", "Riga", "Sofia", "Tallinn", "Vilnius", "Baghdad", "Kuwait", "Minsk", "Moscow", "Nairobi", "Riyadh", "St. Petersburg", "Volgograd", "Tehran", "Abu Dhabi", "Baku", "Muscat", "Tbilisi", "Yerevan", "Kabul", "Ekaterinburg", "Islamabad", "Karachi", "Tashkent", "Chennai", "Kolkata", "Mumbai", "New Delhi", "Sri Jayawardenepura", "Kathmandu", "Almaty", "Astana", "Dhaka", "Novosibirsk", "Urumqi", "Rangoon", "Bangkok", "Hanoi", "Jakarta", "Krasnoyarsk", "Beijing", "Chongqing", "Hong Kong", "Irkutsk", "Kuala Lumpur", "Perth", "Singapore", "Taipei", "Ulaanbaatar", "Osaka", "Sapporo", "Seoul", "Tokyo", "Yakutsk", "Adelaide", "Darwin", "Brisbane", "Canberra", "Guam", "Hobart", "Magadan", "Melbourne", "Port Moresby", "Sydney", "Vladivostok", "New Caledonia", "Solomon Is.", "Auckland", "Fiji", "Kamchatka", "Marshall Is.", "Wellington", "Chatham Is.", "Nuku'alofa", "Samoa", "Tokelau Is."], :prompt => 'Select timezone' %>
          </li>
        </span>
      </ul>

        
        <%= f.submit :class => "search_button" %>
      <% end %>

    </div>

<% @courses.each do |course| %>

  <div id="course_post">

  <div id="course_post_header_wrapper">

    <div id="course_post_header_enroll">
      <%= link_to new_course_order_path(course) do %>enroll<% end %>
    </div>

    <div id="course_post_header_avatar">
      <%= image_tag course.teacher.avatar_url(:avatar) %>
    </div>

    <div id="course_post_header_small">
      with <%= link_to course.teacher, data: { no_turbolink: true }  do %>
            <%= course.teacher.name %> <%= course.teacher.surname %>
          <% end %>
    </div>

    <div id="course_post_header_title">
      <%= course.language %> <%= course.level %>
    </div>

    <div id="course_post_header_attr">
      I teach <%= course.teacher.iteach %> & I speak <%= course.teacher.ispeak %>
    </div>

    <div id="course_post_header_attr">
      Native language: <%= course.teacher.native_language %>
    </div>

    <div id="course_post_header_attr">
      Location: <%= course.teacher.location %>
    </div>

    <div id="course_post_header_attr">
      Time Zone: <%= course.teacher.time_zone %>
    </div>

  </div>

    <table>
      <tr> 
        <th>Course type</th>
        <th>Time zone</th>
        <th>Lesson time</th>
        <th>Days</th>
        <th>Course start</th>
        <th>Course end</th>
        <th>Price</th>
      </tr>
      <tr>
        <td><%= course.course_type %></td>
        <td><%= course.time_zone %></td>
        <td><%= course.time_start %> to <%= course.time_end %></td>
        <td><%= course.mon %> <%= course.tue %> <%= course.wed %> <%= course.thu %> <%= course.fri %> <%= course.sat %> <%= course.sun %></td>
        <td><%= course.course_start.to_formatted_s(:rfc822) %></td>
        <td><%= course.course_end.to_formatted_s(:rfc822) %></td>
        <td><%= course.price %>€</td>
      </tr>
    </table> 
  </div>

  <div id="course_post_icons">
    <ul>
        <%= link_to "https://twitter.com/share?url=https%3A%2F%2Flingonas.com#{teacher_path(course.teacher_id)}", :target => "_blank" do %>
          <li><%= image_tag "tw_grey.png", width: 27 %><br/>tweet</li>

        <% end %>
      
      <%= fb_share('178872632300191', 'https://www.lingonas.com/', { 
                            :name => "Learning #{course.language} #{course.level} with #{course.teacher.name} #{course.teacher.surname}",
                            :method => "feed",
                            :description => "Hey! I teach #{course.language} #{course.level} at Lingonas. I will start this course on #{course.course_start}. Join me!",
                            :link => "https://www.lingonas.com/#{teacher_path(course.teacher_id)}",
                            :picture => "#{course.teacher.avatar_url}",
                            :caption => "Lingonas. Re-think language learning"
                            }) %>
        <%= link_to $facebook_url do %>
          <li><%= image_tag "f_grey.png", width: 27 %><br/>share</li>
        <% end %>

        <%= link_to course.course_pdf_url, :target => "_blank" do %>
          <li><%= image_tag "file_grey.png", width: 20 %><br/>pdf</li>
        <% end %>
      
        <%= link_to new_course_trial_path(course) do %>
          <li><%= image_tag "try.png", width: 13 %><br/>free try</li>
        <% end %>
    </ul>

  </div>

<% end %> 
</div> 
</a>