<a name="view_courses">
  <div id="masonry_container">

       <div class="stamp stamp1">
        <div class="fb-like-box" data-href="https://lingonas.com/" data-width="250" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    
      <div class="stamp stamp2">

      <div id="stamp_header">
        find courses
      </div>

        <%= search_form_for @q do |f| %>

          <%= f.select :language_cont, ['German', 'English'], :prompt => 'Choose language' %>

          <%= f.select :level_cont, ['A1 Beginner', 'A2 Elementary', 'B1 Intermediate', 'B2 Upper intermediate', 'C1 Advanced', 'C2 Mastery'], :prompt => 'Choose language level' %>

          <%= f.select :course_type_cont, ['Private regular', 'Private intensive', 'Group regular', 'Group intensive'], :prompt => 'Choose course type' %>

          <%= f.select :time_zone_cont, ["American Samoa", "International Date Line West", "Midway Island", "Hawaii", "Alaska", "Pacific Time (US & Canada)", "Tijuana", "Arizona", "Chihuahua", "Mazatlan", "Mountain Time (US & Canada)", "Central America", "Central Time (US & Canada)", "Guadalajara", "Mexico City", "Monterrey", "Saskatchewan", "Bogota", "Eastern Time (US & Canada)", "Indiana (East)", "Lima", "Quito", "Caracas", "Atlantic Time (Canada)", "Georgetown", "La Paz", "Santiago", "Newfoundland", "Brasilia", "Buenos Aires", "Greenland", "Montevideo", "Mid-Atlantic", "Azores", "Cape Verde Is.", "Casablanca", "Dublin", "Edinburgh", "Lisbon", "London", "Monrovia", "UTC", "Amsterdam", "Belgrade", "Berlin", "Bern", "Bratislava", "Brussels", "Budapest", "Copenhagen", "Ljubljana", "Madrid", "Paris", "Prague", "Rome", "Sarajevo", "Skopje", "Stockholm", "Vienna", "Warsaw", "West Central Africa", "Zagreb", "Athens", "Bucharest", "Cairo", "Harare", "Helsinki", "Istanbul", "Jerusalem", "Kyiv", "Pretoria", "Riga", "Sofia", "Tallinn", "Vilnius", "Baghdad", "Kuwait", "Minsk", "Nairobi", "Riyadh", "Tehran", "Abu Dhabi", "Baku", "Moscow", "Muscat", "St. Petersburg", "Tbilisi", "Volgograd", "Yerevan", "Kabul", "Islamabad", "Karachi", "Tashkent", "Chennai", "Kolkata", "Mumbai", "New Delhi", "Sri Jayawardenepura", "Kathmandu", "Almaty", "Astana", "Dhaka", "Ekaterinburg", "Urumqi", "Rangoon", "Bangkok", "Hanoi", "Jakarta", "Novosibirsk", "Beijing", "Chongqing", "Hong Kong", "Krasnoyarsk", "Kuala Lumpur", "Perth", "Singapore", "Taipei", "Ulaanbaatar", "Irkutsk", "Osaka", "Sapporo", "Seoul", "Tokyo", "Adelaide", "Darwin", "Brisbane", "Canberra", "Guam", "Hobart", "Melbourne", "Port Moresby", "Sydney", "Yakutsk", "New Caledonia", "Solomon Is.", "Vladivostok", "Auckland", "Fiji", "Kamchatka", "Magadan", "Marshall Is.", "Wellington", "Chatham Is.", "Nuku'alofa", "Samoa", "Tokelau Is."], :prompt => 'Choose time zone' %>

          <%= f.select :duration_cont, ['30 minutes', '45 minutes', '60 minutes', '75 minutes', '90 minutes', '105 minutes', '120 minutes'], :prompt => 'Choose lesson length' %>

          <%= f.number_field :lesson_per_week_cont, :placeholder => 'Number of lessons per week' %>

          <%= f.submit :class => "search_button" %>
        <% end %>
      </div>

      <% @courses.each do |course| %>
        <div class="box">
            
            <div class="box_course_title">
              <%= link_to course do %>
                <%= course.language %> <%= truncate(course.level, :length => 2, :omission => "") %>
              <% end %>

               <div class="box_course_price">
                <%= course.price %>€
              </div>

              
              <div class="box_teacher_name">
                with <%= link_to course.teacher, data: { no_turbolink: true }  do %>
                  <%= course.teacher.name %> <%= course.teacher.surname %>
                <% end %>
              </div>
            </div>

            <div class="box_description">
              <%= course.description %>
            </div>

              <table>

                <tr>
                  <td>Course level:</td>
                  <td><strong><%= course.level %></strong></td>
                </tr>

                <tr>
                  <td>Course type:</td>
                  <td><strong><%= course.course_type %></strong></td>
                </tr>

                <tr>
                  <td>Time zone:</td>
                  <td><strong><%= course.time_zone %></strong></td>
                </tr>

                <tr>
                  <td>Lesson length:</td>
                  <td><strong><%= course.duration %></strong></td>
                </tr>

                <tr>
                  <td>Lessons per week:</td>
                  <td><strong><%= course.lesson_per_week %></strong></td>
                </tr>

                <tr>
                  <td>Course start:</td>
                  <td><strong><%= course.course_start.to_formatted_s(:rfc822) %></strong></td>
                </tr>

                <tr>
                  <td>Course end:</td>
                  <td><strong><%= course.course_end.to_formatted_s(:rfc822) %></strong></td>
                </tr>
                
              </table>

                         


            <div class="box_footer">

              <ul>
                  <li>
                    <%= link_to "https://twitter.com/share?url=https%3A%2F%2Flingonas.com#{teacher_path(course.teacher_id)}", :target => "_blank" do %>
                      <%= image_tag "tw_blue.png", width: 25 %>
                    <% end %>
                  </li>

                  <%= fb_share('178872632300191', 'https://www.lingonas.com/', { 
                            :name => "#{course.teacher.name} #{course.teacher.surname} - I teach #{course.language} #{course.level}",
                            :method => "feed",
                            :description => "#{course.teacher.about_me}",
                            :link => "https://lingonas.com/#{teacher_path(course.teacher_id)}",
                            :picture => "#{course.teacher.avatar_url}",
                            :caption => "lingonas.com. Re-think language learning."
                            }) %>
                <%= link_to $facebook_url do %>
                  <li>
                    <%= image_tag "f_blue.png", width: 25 %>
                  </li>
                <% end %>

                  <li>
                    <%= link_to course.course_pdf_url, :target => "_blank" do %>
                      <%= image_tag "file_red.png", width: 20 %>
                    <% end %>
                  </li>
                  
              </ul>

            </div>

            <div class="box_button_wrapper">

          
          <%= link_to new_course_trial_path(course) do %>
            <div class="box_button_try">
              FREE TRY
            </div> 
          <% end %>            
              

            <%= link_to new_course_order_path(course) do %>
              <div class="box_button_enroll">
                ENROLL
              </div>
            <% end %>
            </div>

        </div>
      <% end %>
    </div>
</a>