<a name="view_courses">
<div id="find_course_wrapper">

      <%= search_form_for @q do |f| %>

      <ul>
        <div class="custom-dropdown">
          <li><%= f.select :language_cont, ['Arabic', 'Chinese, Mandarin', 'Chinese, Cantonese', 'English', 'French', 'German', 'Hindi', 'Italian', 'Japanese', 'Portuguese', 'Russian', 'Spanish'], :prompt => 'Choose language' %></li>
        </div>
      </ul>

      <ul>
        <div class="custom-dropdown">
          <li><%= f.select :level_cont, ['A1 Beginner', 'A2 Elementary', 'B1 Intermediate', 'B2 Upper intermediate', 'C1 Advanced', 'C2 Mastery'], :prompt => 'Choose language level' %></li>
        </div>
      </ul>

      <ul>
        <div class="custom-dropdown">
          <li><%= f.select :course_type_cont, ['Private regular', 'Private intensive', 'Group regular', 'Group intensive'], :prompt => 'Choose course type' %></li>
        </div>
      </ul>

      <ul>
        <li><div class="custom-dropdown">
          <%= f.select :time_zone_cont, ["American Samoa", "Athens", "Adelaide", "Almaty", "Auckland", "Arizona", "Abu Dhabi", "Astana", "Atlantic Time (Canada)", "Alaska", "Azores", "Amsterdam", "Belgrade", "Brisbane", "Brasilia", "Beijing", "Bogota", "Bern", "Bratislava", "Brussels", "Budapest", "Bucharest", "Bangkok", "Baghdad", "Baku", "Buenos Aires", "Cairo", "Copenhagen", "Canberra", "Chennai", "Chongqing", "Chatham Is.", "Cape Verde Is.", "Caracas", "Chihuahua", "Casablanca", "Central America", "Central Time (US & Canada)", "Dublin", "Dhaka", "Darwin", "Eastern Time (US & Canada)", "Edinburgh", "Ekaterinburg", "Fiji", "Georgetown", "Greenland", "Guam", "Guadalajara", "Harare", "Hobart", "Helsinki", "Hanoi", "Hong Kong", "Hawaii", "Islamabad", "Istanbul", "Irkutsk", "International Date Line West", "Indiana (East)", "Jakarta", "Jerusalem", "Kabul", "Kamchatka",  "Karachi", "Kathmandu", "Kolkata", "Krasnoyarsk", "Kuwait", "Kuala Lumpur", "Kyiv", "La Paz", "Ljubljana", "Lisbon", "London", "Lima", "Madrid", "Marshall Is.", "Magadan", "Mazatlan", "Mountain Time (US & Canada)", "Monrovia", "Mexico City", "Monterrey", "Montevideo", "Mid-Atlantic", "Midway Island", "Minsk", "Moscow", "Muscat", "Mumbai", "Melbourne", "Nairobi", "New Delhi", "New Caledonia", "Newfoundland", "Novosibirsk", "Nuku'alofa", "Osaka", "Pacific Time (US & Canada)", "Paris", "Prague", "Port Moresby", "Perth", "Pretoria", "Quito", "Rangoon", "Riyadh", "Riga", "Saskatchewan", "Samoa", "St. Petersburg", "Sarajevo", "Santiago", "Sapporo", "Seoul", "Solomon Is.", "Sofia", "Sydney", "Singapore", "Skopje", "Stockholm", "Sri Jayawardenepura", "Rome", "Taipei", "Tallinn", "Tashkent", "Tehran",   "Tbilisi", "Tokyo", "Tijuana", "Tokelau Is." "Ulaanbaatar", "Urumqi", "UTC", "Vienna", "Vilnius", "Volgograd", "Vladivostok", "Warsaw", "Wellington", "West Central Africa", "Yakutsk", "Yerevan", "Zagreb"], :prompt => 'Choose time zone' %>
          </div></li>
        </ul>

        
        <%= f.submit :class => "search_button" %>
      <% end %>

    </div>

<% @courses.each do |course| %>

<div id="course_post_wrapper">

  <div id="course_post">

  <div id="course_post_header_wrapper">

    <div id="course_post_header_enroll">
      <%= link_to new_course_order_path(course) do %>enroll<% end %>
    </div>

    <div id="course_post_header_avatar">
      <%= image_tag course.teacher.avatar_url(:avatar) %>
    </div>

    <div id="course_post_header_small">
      with <%= link_to course.teacher, data: { no_turbolink: true }  do %>
            <%= course.teacher.name %> <%= course.teacher.surname %>
          <% end %>
    </div>

    <div id="course_post_header_title">
      <%= course.language %> <%= course.level %>
    </div>

    <div id="course_post_header_attr">
      I teach <%= course.teacher.iteach %> & I speak <%= course.teacher.ispeak %>
    </div>

    <div id="course_post_header_attr">
      Native language: <%= course.teacher.native_language %>
    </div>

    <div id="course_post_header_attr">
      Location: <%= course.teacher.location %>
    </div>

    <div id="course_post_header_attr">
      Time Zone: <%= course.teacher.time_zone %>
    </div>

  </div>

    <table>
      <tr> 
        <th>Course type</th>
        <th>Time zone</th>
        <th>Lesson time</th>
        <th>Days</th>
        <th>Course start</th>
        <th>Course end</th>
        <th>Price</th>
      </tr>
      <tr>
        <td><%= course.course_type %></td>
        <td><%= course.time_zone %></td>
        <td><%= course.time_start %> to <%= course.time_end %></td>
        <td><%= course.mon %> <%= course.tue %> <%= course.wed %> <%= course.thu %> <%= course.fri %> <%= course.sat %> <%= course.sun %></td>
        <td><%= course.course_start.to_formatted_s(:rfc822) %></td>
        <td><%= course.course_end.to_formatted_s(:rfc822) %></td>
        <td><%= course.price %>€</td>
      </tr>
    </table> 
  </div>

  <div id="course_post_icons">
    <ul>
        <%= link_to "https://twitter.com/share?url=https%3A%2F%2Flingonas.com#{teacher_path(course.teacher_id)}", :target => "_blank" do %>
          <li><%= image_tag "tw_grey.png", width: 27 %><br/>tweet</li>

        <% end %>
      
      <%= fb_share('178872632300191', 'https://www.lingonas.com/', { 
                            :name => "Learning #{course.language} #{course.level} with #{course.teacher.name} #{course.teacher.surname}",
                            :method => "feed",
                            :description => "Hey! I teach #{course.language} #{course.level} at Lingonas. I will start this course on #{course.course_start}. Join me!",
                            :link => "https://www.lingonas.com/#{teacher_path(course)}",
                            :picture => "#{course.teacher.avatar_url}",
                            :caption => "Lingonas. Re-think language learning"
                            }) %>
        <%= link_to $facebook_url do %>
          <li><%= image_tag "f_grey.png", width: 27 %><br/>share</li>
        <% end %>

        <%= link_to course.course_pdf_url, :target => "_blank" do %>
          <li><%= image_tag "file_grey.png", width: 20 %><br/>pdf</li>
        <% end %>
      
        <%= link_to new_course_trial_path(course) do %>
          <li><%= image_tag "try.png", width: 13 %><br/>try</li>
        <% end %>
    </ul>

  </div>

</div>

<% end %>  
</a>