<div id="bg_image_wrapper">
    <div class="content">
        <div class="content_title">
            Aircraft market 
        </div>
    </div>

    <div id="search_the_course_opacity">
        <!-- creates opacity for search fields -->
    </div>

    <div id="search_the_course_field">

        <%= search_form_for @q do |f| %>

      <ul>
        <span class="dropdown_list">
            <li><%= f.select :language_cont, ['Arabic', 'Chinese, Mandarin', 'Chinese, Cantonese', 'English', 'French', 'German', 'Hindi', 'Italian', 'Japanese', 'Portuguese', 'Russian', 'Spanish'], :prompt => 'Choose language' %></li>
        </span>
      </ul>

      <ul>
        <span class="dropdown_list">
          <li><%= f.select :level_cont, ['A1 Beginner', 'A2 Elementary', 'B1 Intermediate', 'B2 Upper intermediate', 'C1 Advanced', 'C2 Mastery'], :prompt => 'Choose language level' %></li>
        </span>
      </ul>

      <ul>
        <span class="dropdown_list">
          <li><%= f.select :course_type_cont, ['Private regular', 'Private intensive', 'Group regular', 'Group intensive'], :prompt => 'Choose course type' %></li>
        </span>
      </ul>

      <ul>
        <span class="dropdown_list">
          <li>
            <%= f.select :time_zone_cont, ["American Samoa", "International Date Line West", "Midway Island", "Hawaii", "Alaska", "Pacific Time (US & Canada)", "Tijuana", "Arizona", "Chihuahua", "Mazatlan", "Mountain Time (US & Canada)", "Central America", "Central Time (US & Canada)", "Guadalajara", "Mexico City", "Monterrey", "Saskatchewan", "Bogota", "Eastern Time (US & Canada)", "Indiana (East)", "Lima", "Quito", "Caracas ", "Atlantic Time (Canada)", "Georgetown", "La Paz", "Santiago", "Newfoundland", "Brasilia", "Buenos Aires", "Greenland", "Montevideo", "Mid-Atlantic", "Azores", "Cape Verde Is.", "Casablanca", "Dublin" ,"Edinburgh", "Lisbon", "London", "Monrovia", "UTC +00:00", "Amsterdam", "Belgrade", "Berlin", "Bern", "Bratislava", "Brussels", "Budapest" ,"Copenhagen", "Ljubljana", "Madrid", "Paris", "Prague", "Rome", "Sarajevo", "Skopje", "Stockholm", "Vienna", "Warsaw", "West Central Africa", "Zagreb", "Athens", "Bucharest", "Cairo", "Harare", "Helsinki", "Istanbul", "Jerusalem", "Kyiv", "Pretoria", "Riga", "Sofia", "Tallinn", "Vilnius", "Baghdad", "Kuwait", "Minsk", "Moscow", "Nairobi", "Riyadh", "St. Petersburg", "Volgograd", "Tehran", "Abu Dhabi", "Baku", "Muscat", "Tbilisi", "Yerevan", "Kabul", "Ekaterinburg", "Islamabad", "Karachi", "Tashkent", "Chennai", "Kolkata", "Mumbai", "New Delhi", "Sri Jayawardenepura", "Kathmandu", "Almaty", "Astana", "Dhaka", "Novosibirsk", "Urumqi", "Rangoon", "Bangkok", "Hanoi", "Jakarta", "Krasnoyarsk", "Beijing", "Chongqing", "Hong Kong", "Irkutsk", "Kuala Lumpur", "Perth", "Singapore", "Taipei", "Ulaanbaatar", "Osaka", "Sapporo", "Seoul", "Tokyo", "Yakutsk", "Adelaide", "Darwin", "Brisbane", "Canberra", "Guam", "Hobart", "Magadan", "Melbourne", "Port Moresby", "Sydney", "Vladivostok", "New Caledonia", "Solomon Is.", "Auckland", "Fiji", "Kamchatka", "Marshall Is.", "Wellington", "Chatham Is.", "Nuku'alofa", "Samoa", "Tokelau Is."], :prompt => 'Select timezone' %>
          </li>
        </span>
      </ul>

        <%= f.submit :class => "search_button" %>
      <% end %>

      </div>

    <span id="bg_image" role="img" aria-label="Bicycle.">
        <span id="bg_image_inner">
        </span>
    </span>
  </div>


  <%= render "box" %>



