<% if !signed_in? %>

  <div class="display_wrapper">
      <div class="display_phrase">
        Re-think Language Learning
        <p>Find language course you like, enroll or first try it out for free </p>
      </div>


  <div id="display_howitworks_wrapper">
    <a href="#view_courses">
      <div id="display_view_courses">
        View courses
      </div>
    </a>
  </div>

      <div id="display_login_wrapper">
        
        <%= link_to new_student_session_path do %>
          <div id="display_login_button_student">
            Student
          </div>
        <% end %>

        <%= link_to new_teacher_session_path do %>
          <div id="display_login_button_tutor">
            Teacher
          </div>
        <% end %>

    </div>
  </div>

  <div class="banner_wrapper">
    
    <div class="banner_triangle">
      <%= image_tag "triangle.png", width: 35 %>
    </div>

    <div class="banner_box_wrapper">

      <div class="banner_box_video_title">
        INTRODUCING LINGONAS
      </div>

      <div class="banner_box_video_title_small">
        Take a look at how it works
      </div>

      <div class="banner_video">
        <video id="example_video_1" class="video-js vjs-default-skin"
          controls preload="auto" width="620" height="350"
          poster=""
          data-setup='{"example_option":true}'>
         <source src="https://dl.dropboxusercontent.com/u/60193860/lingonas.webm" type='video/webm' />
         <source src="https://dl.dropboxusercontent.com/u/60193860/lingonas.ogv" type='video/ogg' />
         <source src="https://dl.dropboxusercontent.com/u/60193860/lingonas.mp4" type='video/mp4' />
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>

      <div class="banner_content_wrapper">

      <div class="banner_box">
        <ul>
          <li><%= image_tag "wifi_round.png", width: 100 %></li>
          <li>Learn online</li>
        </ul>
      </div>

      <div class="banner_box">
        <ul>
          <li><%= image_tag "free_try.png", width: 100 %></li>
          <li>Free Try</li>
        </ul>
      </div>

      <div class="banner_box">
        <ul>
          <li><%= image_tag "teacher.png", width: 100 %></li>
          <li>Real Teachers</li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "user_private.png", width: 100 %></li>
          <li>Private Classes</li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "user_group.png", width: 100 %></li>
          <li>Group Classes</li>
        </ul>
      </div>
      

      <div class="banner_box">
        <ul>
          <li><%= image_tag "money.png", width: 100 %></li>
          <li>7-day money back</li>
        </ul>
      </div>

    </div>

    </div>
  </div>

<% end %>

<!--<% if notice || alert %>
  <div class="alert">
   <%= image_tag "tick.png", width: 20 %> <%= notice %>
  </div>
<% end %>-->

 <% if notice %>
      <div class = "alert">
        <%= image_tag "tick.png", width: 20 %> <%= notice %>
      </div>

  <% elsif flash[:error] %>
      <div class = "error">
         <%= flash[:error] %>
      </div>
  <% end %>

<%= render "masonry" %>

<div class="digg_pagination" data-no-turbolink>
  <%= will_paginate @courses, :page_links => false %>
</div>