<!--<div id="bg_image">
  <div class="bg_image_text">

    <div class="bg_image_left">
      Learn foreign language online<br/>
      <span>How it works?</span>
    </div>

    <div class="bg_image_right">
      <%= image_tag "laptop.png", width: 500 %>
    </div>

  </div>

</div>-->

  <div class="banner_image_wrapper">
    <div class="banner_image">
      <div class="banner_image_left">
        Re-think Language Learning
        <p>Find language course you like, enroll or first try it out for free </p>

          <div class="banner_image_button">
            Log in
          </div>
        <!--<p>Find language course you like</p>
        <p>Enroll to this course</p>
        <p>Or try it out for free by sending request to a teacher</p>-->
      </div>

      <!--<div class="banner_image_right">
        <%= image_tag "tablet.png", width: 400 %>
      </div>-->
    </div>
  </div>


  <div class="banner_wrapper">

    <div class="banner_triangle">
      <%= image_tag "triangle.png", width: 35 %>
    </div>

    <div class="banner_box_wrapper">

      <div class="banner_box">
        <div class="banner_box_logo">
          <%= image_tag "wifi.png", width: 80 %>
        </div>
      </div>


      <div class="banner_box">
        <div class="banner_box_logo">
          <%= image_tag "user_face.png", width: 80 %>
        </div>
      </div>


      <div class="banner_box">
        <div class="banner_box_logo">
          <%= image_tag "two_faces.png", width: 125 %>
        </div>
      </div>


      <div class="banner_box">
        <div class="banner_box_logo">
          <%= image_tag "book.png", width: 80 %>
        </div>
      </div>


      <div class="banner_box">
        <div class="banner_box_logo">
          <%= image_tag "gift.png", width: 80 %>
        </div>
      </div>


      <div class="banner_box">
        <div class="banner_box_logo">
          <%= image_tag "time.png", width: 80 %>
        </div>
      </div>

    </div>


    <div class="banner_box_wrapper">
      
      <div class="banner_box_text">
        <div class="banner_box_title">
          Learn online
        </div>
      </div>


    <div class="banner_box_text">
      <div class="banner_box_title">
        Private classes
      </div>
    </div>


    <div class="banner_box_text">
      <div class="banner_box_title">
        Group classes
      </div>
    </div>


    <div class="banner_box_text">
      <div class="banner_box_title">
        Real Teachers
      </div>
    </div>


    <div class="banner_box_text">
      <div class="banner_box_title">
        Free try
      </div>
    </div>


    <div class="banner_box_text">
      <div class="banner_box_title">
        7-day money back
      </div>
    </div>

    </div>



  </div>



<div id="masonry_container">

       <div class="stamp stamp1">
        <div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-width="255" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    
      <div class="stamp stamp2">
        STAMP
      </div>

      <% @courses.each do |course| %>
        <div class="box">
            
            <div class="box_course_title">
              <%= link_to course do %>
                <%= course.language %> <%= course.level %>
              <% end %>

               <div class="box_course_price">
                <%= course.price %>€
              </div>

              <div class="box_teacher_name">
                with <%= course.teacher.name %> <%= course.teacher.surname %>
              </div>
  
            </div>

              <table>

                <tr>
                  <td>Course type:</td>
                  <td><strong><%= course.course_type %></strong></td>
                </tr>

                <tr>
                  <td>Length:</td>
                  <td><strong><%= course.duration %></strong></td>
                </tr>

                <tr>  
                  <td>Enroll until:</td>
                  <td><strong><%= course.registration_until.to_formatted_s(:rfc822) %></strong></td>
                </tr>

                <tr>
                  <td>Class start:</td>
                  <td><strong><%= course.course_start.to_formatted_s(:rfc822) %></strong></td>
                </tr>

                <tr>
                  <td>Class end:</td>
                  <td><strong><%= course.course_end.to_formatted_s(:rfc822) %></strong></td>
                </tr>
                
              </table>

            <div class="box_description">
              <%= course.description %>
            </div>

            <div class="box_button_wrapper">
              <!--<div class="box_button_try">
                Free try
              </div>-->

              <div class="box_button_enroll">
                Enroll
              </div>
            </div>

            <div class="box_footer">

              <ul>
                <!--<li><%= link_to 'Edit', edit_course_path(course) %></li>
                <li><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></li>-->
                  <li>
                    <%= image_tag "tw_grey.png", width: 25, :class => "box_icon_opacity", :title => "share" %>
                    <%= image_tag "tw_blue.png", width: 25 %>
                  </li>

                  <li>
                    <%= image_tag "f_grey.png", width: 25, :class => "box_icon_opacity", :title => "share" %>
                    <%= image_tag "f_blue.png", width: 25 %>
                  </li>
                  
              </ul>

              <div class="box_button_try">
                Free try
              </div>
            </div>

        </div>
      <% end %>
    </div>