<div id="banner_wrapper">
  <div class="banner">
    <div class="banner_box">
      <div class="banner_box_title">
        learn foreign language online
      </div>

      <div class="banner_box_logo">
        <%= image_tag "globe.png", width: 40 %>
      </div>

      <div class="banner_box_content">
        <table>
          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Convinient & effective way of learning</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Find a native speaker</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Choice in prices</td>
          </tr>
          
        </table>
      </div>
    </div>

    <div class="banner_box">
      <div class="banner_box_title">
        private classes
      </div>

      <div class="banner_box_logo">
        <%= image_tag "private.png", width: 35 %>
      </div>

      <div class="banner_box_content">
        <table>
          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Effective way to improve skills</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Face-to-face classes</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Flexible schedule</td>
          </tr>
          
        </table>
      </div>
    </div>

    <div class="banner_box">
      <div class="banner_box_title">
        group classes
      </div>

      <div class="banner_box_logo">
        <%= image_tag "group.png", width: 45 %>
      </div>

      <div class="banner_box_content">
        <table>
          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Students from all over the world</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Only up to 5 students per class</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Schedule of upcoming classes</td>
          </tr>
          
        </table>
      </div>
    </div>

    <div class="banner_box_last">
      <div class="banner_box_title">
        certified teachers
      </div>

      <div class="banner_box_logo">
        <%= image_tag "hat.png", width: 60 %>
      </div>

      <div class="banner_box_content">
        <table>
          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Teachers from all over the world</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Experienced in teaching</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Want to be a <%= link_to "teacher at FLS?", courses_path, data: { no_turbolink: true } %></td>
          </tr>
          
        </table>
      </div>
    </div>

  </div>

</div>



<div id="masonry_container">
    
      <div class="stamp">
        <%= image_tag "student.jpg", width: 464 %>
      </div>

      <% @courses.each do |course| %>
        <div class="box">
          
            <%= link_to course do %>
              <div class="course_title">
                <%= course.language %> <%= course.level %>
              </div>
            <% end %>

            <div class="box_content">

            <table>

              <tr>
                <td>Course type:</td>
                <td><%= course.course_type %></td>
              </tr>

              <tr>
                <td>Registration until:</td>
                <td><%= course.registration_until %></td>
              </tr>

              <tr>
                <td>Start:</td>
                <td><%= course.course_start %></td>
              </tr>

              <tr>
                <td>End:</td>
                <td><%= course.course_end %></td>
              </tr>

              <tr>
                <td>Duration:</td>
                <td><%= course.duration %></td>
              </tr>

              <tr>
                <td>Description:</td>
                <td><%= course.description %></td>
              </tr>
              
            </table>

            </div>

            <div class="box_teacher">

              <tr>
                <td><%= link_to 'Edit', edit_course_path(course) %></td><br/>
                <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            </div>

            <div class="box_price">
              <%= course.price %>€
            </div>

        </div>
      <% end %>
    </div>