<!--<div id="bg_image">
  <div class="bg_image_text">

    <div class="bg_image_left">
      Learn foreign language online<br/>
      <span>How it works?</span>
    </div>

    <div class="bg_image_right">
      <%= image_tag "laptop.png", width: 500 %>
    </div>

  </div>

</div>-->


<% if !signed_in? %>
<div id="banner_wrapper">
  <div class="banner">
    <div class="banner_box">
      
      <div class="banner_box_logo">
        <%= image_tag "wifi.png", width: 50 %>
      </div>

      <div class="banner_box_title">
        Learn foreign language online
      </div>

      <div class="banner_box_content">
        <table>
          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Convinient & effective way of learning</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Find a native speaker</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Choice in prices</td>
          </tr>
          
        </table>
      </div>
    </div>

    <div class="banner_box">

      <div class="banner_box_logo">
        <%= image_tag "user_face.png", width: 50 %>
      </div>

      <div class="banner_box_title">
        Private classes
      </div>

      <div class="banner_box_content">
        <table>
          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Effective way to improve skills</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Face-to-face classes</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Flexible schedule</td>
          </tr>
          
        </table>
      </div>
    </div>

    <div class="banner_box">

      <div class="banner_box_logo">
        <%= image_tag "two_faces.png", width: 80 %>
      </div>

      <div class="banner_box_title">
        Group classes
      </div>

      <div class="banner_box_content">
        <table>
          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Students from all over the world</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Only up to 5 students per class</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Schedule of upcoming classes</td>
          </tr>
          
        </table>
      </div>
    </div>

    <div class="banner_box_last">

      <div class="banner_box_logo">
        <%= image_tag "book.png", width: 50 %>
      </div>

      <div class="banner_box_title">
        Certified teachers
      </div>

      <div class="banner_box_content">
        <table>
          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Teachers from all over the world</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Experienced in teaching</td>
          </tr>

          <tr>
            <td><%= image_tag "tick.png", width: 12 %></td>
            <td>Want to be a <%= link_to "teacher at FLS?", courses_path, data: { no_turbolink: true } %></td>
          </tr>
          
        </table>
      </div>
    </div>

  </div>

</div>
<% end %>



<div id="masonry_container">
    
      <div class="stamp">
        <!--<%= image_tag "student.jpg", width: 464 %>-->
        STAMP
      </div>

      <% @courses.each do |course| %>
        <div class="box">
            
            <div class="box_course_title">
              <%= link_to course do %>
                <%= course.language %> <%= course.level %>
              <% end %>
            </div>

            <div class="box_course_price">
              <%= course.price %>€
            </div>  

              <table>

                <tr>
                  <td>Course type:</td>
                  <td><strong><%= course.course_type %></strong></td>
                </tr>

                <tr>  
                  <td>Registration until:</td>
                  <td><strong><%= course.registration_until %></strong></td>
                </tr>

                <tr>
                  <td>Start:</td>
                  <td><strong><%= course.course_start %></strong></td>
                </tr>

                <tr>
                  <td>End:</td>
                  <td><strong><%= course.course_end %></strong></td>
                </tr>

                <tr>
                  <td>Duration:</td>
                  <td><strong><%= course.duration %></strong></td>
                </tr>
                
              </table>

            <div class="box_footer">
              <tr>
                <td><%= link_to 'Edit', edit_course_path(course) %></td><br/>
                <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            </div>

        </div>
      <% end %>
    </div>