<!--<div id="bg_image">
  <div class="bg_image_text">

    <div class="bg_image_left">
      Learn foreign language online<br/>
      <span>How it works?</span>
    </div>

    <div class="bg_image_right">
      <%= image_tag "laptop.png", width: 500 %>
    </div>

  </div>

</div>-->

<% if !signed_in? %>

  <div class="display_wrapper">
      <div class="display_phrase">
        Re-think Language Learning
        <p>Find language course you like, enroll or first try it out for free </p>
      </div>


      <div id="display_login_wrapper">
        
        <%= link_to new_student_session_path do %>
          <div id="display_login_button_student">
            Student
          </div>
        <% end %>

        <%= link_to new_teacher_session_path do %>
          <div id="display_login_button_tutor">
            Tutor
          </div>
        <% end %>

    </div>
  </div>

<div id="parallax_container">
  <div class="banner_wrapper">

    <div class="banner_triangle">
      <%= image_tag "triangle.png", width: 35 %>
    </div>

    <div class="banner_box_wrapper">

      <div class="banner_box">
        <ul>
          <li><%= image_tag "wifi_round.png", width: 100 %></li>
          <li>Learn online</li>
          <li><p>Live classes via conferencing platform (Adobe Connect, Skype etc.)</p></li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "user_private.png", width: 100 %></li>
          <li>Private Classes</li>
          <li><p>The most effective way to improve your language skills</p></li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "user_group.png", width: 100 %></li>
          <li>Group Classes</li>
          <li><p>Students from all over the world, typically no more than 5 students per class </p></li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "teacher.png", width: 100 %></li>
          <li>Real Teachers</li>
          <li><p>Experienced teachers from all over the world</p></li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "free_try.png", width: 100 %></li>
          <li>Free Try</li>
          <li><p>Make free lesson before you enroll to a course</p></li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "money.png", width: 100 %></li>
          <li>7-day money back</li>
          <li><p>All courses come with a 7-day money back guarantee </p></li>
        </ul>
      </div>

    </div>

  </div>

<% end %>

<%= render "masonry" %>
  </div>

<div class="digg_pagination" data-no-turbolink>
  <%= will_paginate @courses, :page_links => false %>
</div>