 <% if notice %>
      <div class = "alert">
        <%= image_tag "tick.png", width: 20 %> <%= notice %>
      </div>

  <% elsif flash[:error] %>
      <div class = "error">
         <%= flash[:error] %>
      </div>
  <% end %>

<%= render "masonry" %>

<div class="digg_pagination" data-no-turbolink>
  <%= will_paginate @courses, :page_links => false %>
</div>