<% if !signed_in? %>

  <div class="display_wrapper">
      <div class="display_phrase">
        Re-think Language Learning
        <p>Find language course you like, enroll or first try it out for free </p>
      </div>

    <%= link_to courses_path do %>
      <div id="display_howitworks">
        How it works?
      </div>
    <% end %>


      <div id="display_login_wrapper">
        
        <%= link_to new_student_session_path do %>
          <div id="display_login_button_student">
            Student
          </div>
        <% end %>

        <%= link_to new_teacher_session_path do %>
          <div id="display_login_button_tutor">
            Tutor
          </div>
        <% end %>

    </div>
  </div>

  <div class="banner_wrapper">
    

    <div class="banner_triangle">
      <%= image_tag "triangle.png", width: 35 %>
    </div>

    <div class="banner_box_wrapper">
      <div class="banner_content_wrapper">

      <div class="banner_box">
        <ul>
          <li><%= image_tag "wifi_round.png", width: 100 %></li>
          <li>Learn online</li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "user_private.png", width: 100 %></li>
          <li>Private Classes</li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "user_group.png", width: 100 %></li>
          <li>Group Classes</li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "teacher.png", width: 100 %></li>
          <li>Real Teachers</li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "free_try.png", width: 100 %></li>
          <li>Free Try</li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "money.png", width: 100 %></li>
          <li>7-day money back</li>
        </ul>
      </div>

    </div>

    <div class="banner_video">
      <iframe width="540" height="315" src="//www.youtube.com/embed/QPF8JmvXGw0" frameborder="0" allowfullscreen></iframe>
    </div>

    </div>
  </div>

<% end %>

<!--<% if notice || alert %>
  <div class="alert">
   <%= image_tag "tick.png", width: 20 %> <%= notice %>
  </div>
<% end %>-->

 <% if notice %>
      <div class = "alert">
        <%= image_tag "tick.png", width: 20 %> <%= notice %>
      </div>

  <% elsif flash[:error] %>
      <div class = "error">
         <%= flash[:error] %>
      </div>
  <% end %>

<%= render "masonry" %>

<div class="digg_pagination" data-no-turbolink>
  <%= will_paginate @courses, :page_links => false %>
</div>