<!--<div id="bg_image">
  <div class="bg_image_text">

    <div class="bg_image_left">
      Learn foreign language online<br/>
      <span>How it works?</span>
    </div>

    <div class="bg_image_right">
      <%= image_tag "laptop.png", width: 500 %>
    </div>

  </div>

</div>-->

<% if !signed_in? %>

  <div class="banner_image_wrapper">
    <div class="banner_image">
      <div class="banner_image_left">
        Re-think Language Learning
        <p>Find language course you like, enroll or first try it out for free </p>

          <div class="banner_image_button">
            Log in
          </div>
        <!--<p>Find language course you like</p>
        <p>Enroll to this course</p>
        <p>Or try it out for free by sending request to a teacher</p>-->
      </div>

      <!--<div class="banner_image_right">
        <%= image_tag "tablet.png", width: 400 %>
      </div>-->
    </div>
  </div>


  <div class="banner_wrapper">

    <div class="banner_triangle">
      <%= image_tag "triangle.png", width: 35 %>
    </div>

    <div class="banner_box_wrapper">

      <div class="banner_box">
        <ul>
          <li><%= image_tag "wifi_round.png", width: 100 %></li>
          <li>Learn online</li>
          <li><p>Live classes via conferencing platform (Adobe Connect, Skype etc.)</p></li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "user_private.png", width: 100 %></li>
          <li>Private Classes</li>
          <li><p>The most effective way to improve your language skills</p></li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "user_group.png", width: 100 %></li>
          <li>Group Classes</li>
          <li><p>Students from all over the world, typically no more than 5 students per class </p></li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "teacher.png", width: 100 %></li>
          <li>Real Teachers</li>
          <li><p>Experienced teachers from all over the world</p></li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "free_try.png", width: 100 %></li>
          <li>Free Try</li>
          <li><p>Make free lesson before you enroll to a course</p></li>
        </ul>
      </div>


      <div class="banner_box">
        <ul>
          <li><%= image_tag "money.png", width: 100 %></li>
          <li>7-day money back</li>
          <li><p>All courses come with a 7-day money back guarantee </p></li>
        </ul>
      </div>

    </div>

  </div>

<% end %>

<div id="masonry_container">

       <div class="stamp stamp1">
        <div class="fb-like-box" data-href="https://www.facebook.com/FacebookDevelopers" data-width="255" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
      </div>
    
      <div class="stamp stamp2">
        STAMP
      </div>

      <% @courses.each do |course| %>
        <div class="box">
            
            <div class="box_course_title">
              <%= link_to course do %>
                <%= course.language %> <%= course.level %>
              <% end %>

               <div class="box_course_price">
                <%= course.price %>€
              </div>

              <div class="box_teacher_name">
                with <%= course.teacher.name %> <%= course.teacher.surname %>
              </div>
  
            </div>

            <div class="box_description">
              <%= course.description %>
            </div>

              <table>

                <tr>
                  <td>Course type:</td>
                  <td><strong><%= course.course_type %></strong></td>
                </tr>

                <tr>
                  <td>Length:</td>
                  <td><strong><%= course.duration %></strong></td>
                </tr>

                <tr>  
                  <td>Enroll until:</td>
                  <td><strong><%= course.registration_until.to_formatted_s(:rfc822) %></strong></td>
                </tr>

                <tr>
                  <td>Class start:</td>
                  <td><strong><%= course.course_start.to_formatted_s(:rfc822) %></strong></td>
                </tr>

                <tr>
                  <td>Class end:</td>
                  <td><strong><%= course.course_end.to_formatted_s(:rfc822) %></strong></td>
                </tr>
                
              </table>


            <!--<div class="box_footer">

              <ul>
                <li><%= link_to 'Edit', edit_course_path(course) %></li>
                <li><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></li>-->
                  <!--<li>
                    <%= image_tag "tw_grey.png", width: 25, :class => "box_icon_opacity", :title => "share" %>
                    <%= image_tag "tw_blue.png", width: 25 %>
                  </li>

                  <li>
                    <%= image_tag "f_grey.png", width: 25, :class => "box_icon_opacity", :title => "share" %>
                    <%= image_tag "f_blue.png", width: 25 %>
                  </li>
                  
              </ul>

            </div>-->

            <div class="box_button_wrapper">

              <div class="box_button_icon">
                <%= image_tag "button_icon.png", width: 60 %>
              </div>

              <div class="box_button_try">
                FREE TRY
              </div>

              <div class="box_button_enroll">
                ENROLL
              </div>
            </div>

        </div>
      <% end %>
    </div>