<div id="course_content_wrapper">

	<div class="course_lesson_wrapper">

		<div class="course_lesson_list">
			Lessons
		</div>
	
		<% @course.lessons.each do |lesson| %>
			<%= link_to course_lesson_path(@course, lesson) do %>
				<div class="course_lesson">
					<%= lesson.title %>
				</div>
			<% end %>
		<% end %>
	</div>

	<div class="course_content">
	 	<%= image_tag "teacher.jpg", width: 695 %>
		
		<% if teacher_signed_in? %>

			<%= link_to new_course_lesson_path(@course) do %>
				<div class="enroll_button">
					NEW LESSON
				</div>
			<% end %>

		<% else %>
			<%= link_to new_course_order_path(@course) do %>
				<div class="enroll_button">
					ENROLL
				</div>
			<% end %>
		<% end %>
		
	</div>

	<div class="course_content">

		<div class="course_content_title">
			<%= @course.language %> <%= @course.level %>
		</div>

		<div class="course_content_left">
			<p>
			  <strong>Title:</strong>
			  <%= @course.title %>
			</p>

			<p>
			  <strong>Teacher name:</strong>
			  <%= @course.teacher_name %>
			</p>

			<p>
			  <strong>Description:</strong>
			  <%= @course.description %>
			</p>

			<p>
			  <strong>Price:</strong>
			  <%= @course.price %>
			</p>

			<p>
			  <strong>Level:</strong>
			  <%= @course.level %>
			</p>

			<p>
			  <strong>Language:</strong>
			  <%= @course.language %>
			</p>

			<p>
			  <strong>Duration:</strong>
			  <%= @course.duration %>
			</p>

			<p>
			  <strong>Course type:</strong>
			  <%= @course.course_type %>
			</p>
		</div>

		<div class="course_content_right">
			right
		</div>
		
	</div>

</div>