<div class="login_form_wrapper">
  <div class="registration_form_header">
    <div class="registration_form_logo">
      <span class="icon-propeller"></span>
    </div>

    Change your password
  </div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

 <div class="sign_up_form_wrapper">
  <div class="auth_form">
    <%= f.label :password, "New password", :class => "auth_label" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "auth_field" %>
  </div>

  <div class="auth_form">
    <%= f.label :password_confirmation, "Confirm new password", :class => "auth_label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "auth_field" %>
  </div>
</div>
    <%= f.submit "Change my password", :class => "registration_submit_button" %>
<% end %>

<div class="registration_form_links">
  <%= render "users/shared/links" %>
</div>
</div>