<div class="login_form_wrapper">
  <div class="registration_form_header">
    <div class="registration_form_logo">
      <span class="icon-propeller-big"></span>
    </div>

    New password instructions
  </div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

 <div class="sign_up_form_wrapper">
  <div class="auth_form">
    <%= f.label :email, :class => "auth_label" %><br />
    <%= f.email_field :email, autofocus: true, :class => "auth_field" %>
  </div>
</div>
    <%= f.submit "Send me reset password instructions", :class => "registration_submit_button" %>
<% end %>

<div class="registration_form_links">
	<%- if controller_name != 'sessions' %>
	  <%= link_to "Log in", new_session_path(resource_name) %><br />
	<% end -%>
</div>
</div>
