<div id="student_login">
	  <div id="student_login_header">Teacher's Sign In Form</div>
	  	<div id="student_login_form">

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div><%= f.label :email %><br />
			  <%= f.email_field :email, autofocus: true, :class => "student_login_field" %></div>

			  <div><%= f.label :password %><br />
			    <%= f.password_field :password, autocomplete: "off", :class => "student_login_field" %></div>

			  <% if devise_mapping.rememberable? -%>
			    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
			  <% end -%>

			  <div><%= f.submit "Log In", :class => "login_submit_button" %></div>
			<% end %>
		</div>
	</div>
	
	<div id="teacher_authentication_links">
		<span><%= render "teachers/shared/links" %></span>

		<span>
			<%= link_to new_teacher_registration_path do %>
			   Teacher's Sign Up Form
			<% end %>
		</span>
	</div>