<div id="tab4" class="new_form_wrapper">
  <div class="new_form_border_helper">

    <div id="progress_bar">
      <div class="bar_wrapper">
        <div class="full_bar">
          <div class="bar"></div>
        </div>
      </div>

      <div id="upload_image_button_in_progress">
        <label class="upload_image">
          <%= cl_image_upload_tag("images[]", :return_delete_token => true, :html => { :multiple => true }) %>
          <span><%= image_tag "cloud_upload.png", width: 20 %> Add Images</span>
        </label>
      </div>
    </div>

    <div id="upload_image_wrapper">
      <div id="upload_image">
        <span id="upload_image_icon"><%= image_tag "108.png",width: 45 %></span>
        <span id="big_text">Add an image or two!</span>
        <span id="small_text">Or three, or more! Buyers love images that highlight features of your aircraft.</span>
      </div>

      <div id="upload_image_button">
        <label class="upload_image">
          <%= cl_image_upload_tag("images[]", :return_delete_token => true, :html => { :multiple => true }) %>
          <span><%= image_tag "cloud_upload.png", width: 20 %> Add Images</span>
        </label>
      </div>
    </div>

    <div class="uploaded_image">
      <ul>
        <% if current_page?(edit_advert_path(@advert)) %>
          <% @advert.photos.each do |image| %>
            <li>
              <%= image_tag image.image_url(:upload_images) %>

              <span class="delete">
                <%= link_to photo_path(image), :method => :delete, :remote => true, :class => "delete_image_button" do %>
                  <%= image_tag "delete_image.png" %>
                <% end %>
              </span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
   
      <div class="status"><!--removes image--></div>

    <% if (current_user.plan_id == 1 || current_user.plan_id == 0) && current_user.adverts.size >= 1 && current_page?(controller: 'adverts', action: 'new') %>
      <%= link_to subscription_path do %>
      <div class="sub_button">
        <%= f.submit "Show plans", :class => "new_advert_submit_button" %>
      </div>
      <% end %>
    <% else %>
      <div class="sub_button">
        <%= f.submit "Advertise", :class => "new_advert_submit_button" %>
      </div>
    <% end %>
</div>

  <script>
    $('.delete').click(function() {
      $(this).parent().hide(150);
    });
  </script>


  <script>
  $(document).ready(function() { $(".cloudinary-fileupload").fileupload({ 
        // Uncomment the following lines to enable client side image resizing and valiation.
        // Make sure cloudinary/processing is included the js file
        //disableImageResize: false,
        //imageMaxWidth: 800,
        //imageMaxHeight: 600,
        //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|bmp|ico)$/i,
        //maxFileSize: 20000, // 20MB
        //dropZone: "#direct_upload",
        progressall: function (e, data) {
          $('#upload_image_wrapper').hide();
          $('#progress_bar').show();
          var progress = Math.round((data.loaded * 100.0) / data.total);
            $('#progress_bar .bar').css('width', progress + '%');
              //if (progress == 100) {
                //$('#progress_bar').removeClass('bar').addClass('processing');}
        },
        fail: function (e, data) {
          $(".status").text("Upload failed");
        }
      })
      .off("cloudinarydone").on("cloudinarydone", function (e, data) {
            var preview = $('<li></li>').prependTo('.uploaded_image ul');
            $.cloudinary.image(data.result.public_id, {
              format: data.result.format, width: 800, height: 380, crop: "fill"
            }).appendTo(preview);


        $('<a/>').attr({href: '#'}).
          data({delete_token: data.result.delete_token}).
          addClass('delete_image_button img').html('<%= escape_javascript(image_tag "delete_image.png") %>').appendTo(preview).
            click(function(e) {
            e.preventDefault();
            $.cloudinary.delete_by_token($(this).data('delete_token')).done(function(){
              $('input[name="photo[image]"]').remove();

                $(this).parent().hide();
            

            }).fail(function() {
              $('.status').text("Cannot delete image");
          });
            $(this).parent().hide();
        });  
      });
    });
</script>

  