<div class="nav_link">
  Engine / Propeller
</div>

  <div class="new_form_wrapper">
    <div class="form_subheader">
      Aircraft engine
    </div>

        <ul class="form">
          <li class="form_field">
            <div class="form_label">
              Manufacturer <span class="required_fields asterix"></span>
            </div>  
            <%= f.text_field :engine_make, :class => "new_field" %>
          </li>
          
          <li class="form_field"> 
            <div class="form_label">
              Model <span class="required_fields asterix"></span>
            </div> 
            <%= f.text_field :engine_model, :class => "new_field" %>
          </li>

          <li class="form_field select_field">
            <div class="form_label">
              Engine type <span class="required_fields asterix"></span>
            </div>
            <%= f.select :engine_type, ['In-line engine', "V-type engine", "Horizontally opposed engine", "Radial engine", "Turboprop", "Turboshaft", "Turbojet", "Turbofan", "Other"], :prompt => ' ' %>
          </li>

          <li class="form_field">
            <div class="form_label">
              Number of engines <span class="required_fields asterix"></span>
            </div>
            <%= f.number_field :number_of_engines, :class => "new_field" %>
          </li>

          <li class="form_field">  
            <div class="form_label">
              Number of engines <span class="required_fields asterix"></span>
            </div>
            <%= f.number_field :engine_hours, :class => "new_field" %>
          </li>

          <li class="form_field">
            <div class="form_label">
              Time between overhaul (TBO) <span class="required_fields asterix"></span>
            </div>
            <%= f.number_field :tbo, :class => "new_field" %>
          </li>

          <li class="form_field">
            <div class="form_label">
              Engine power <span class="required_fields asterix"></span>
            </div>
            <%= f.text_field :engine_power, :class => "new_field" %>
          </li>

          <li class="form_field select_field">
            <div class="form_label">
              Engine power unit <span class="required_fields asterix"></span>
            </div>
            <%= f.select :engine_power_unit, ['kW', "HP", "BHP", "SHP", "kN", "RPM", "lbs"], :prompt => ' ' %>
          </li>
        </ul>

        <div class="form_subheader">
          Aircraft propeller
        </div>

        <ul class="form">
          <li class="form_field">
            <div class="form_label">
              Propeller manufacturer <span class="required_fields asterix"></span>
            </div>
            <%= f.text_field :propeller_make, :class => "new_field" %>
          </li>

          <li class="form_field">
            <div class="form_label">
              Propeller model <span class="required_fields asterix"></span>
            </div>
            <%= f.text_field :propeller_model, :class => "new_field" %>
          </li>
          
          <li class="form_field">
            <div class="form_label">
              Number of blades <span class="required_fields asterix"></span>
            </div>
            <%= f.number_field :number_of_propellers, :class => "new_field" %>
          </li>

          <li class="form_field">
            <div class="form_label">
              Propeller hours <span class="required_fields asterix"></span>
            </div>
            <%= f.number_field :propeller_hours, :class => "new_field" %>
          </li>
        </ul>

        <ul class="form">
          <li class="form_field one_column">
            <div class="form_label">
              Extra information <span class="required_fields asterix"></span>
            </div>
            <%= f.text_area :engine_notes, :class => "new_field_text"%>
          </li>
        </ul>

        <a id="additional_info" class="nav_link"></a>
  </div>