  <div id="tab1" class="new_form_wrapper active">
    <div class="new_form_border_helper">
      <% if @advert.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @advert.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div class="new_advert_header">
      <div class="new_advert_logo">
        <span class="icon-propeller"></span>
      </div>

      Create new Advert

      <!--<div class="registration_form_tagline">
        Nice phrase that makes sense  
      </div>-->
    </div>

    <% if (current_user.plan_id == 1 || current_user.plan_id == 0) && current_user.adverts.size >= 1 && current_page?(controller: 'adverts', action: 'new') %>
      <div class="new_advert_note">
        Please subscribe to Premium plan to be able to post more adverts.
      </div>
    <% end %>


    <ul class="form">
      
      <li class="form_label">
        Advertiser info <span class="required_fields">Required fields*</span>
      </li>  

      <li class="form_field one_column">
        <%= f.text_field :name, :placeholder => "Name Surname*", :class => "new_field" %>
      </li>  

      <li class="form_field email_helper">
        <%= f.text_field :email, :placeholder => "Email address*", :class => "new_field" %>
      </li>

      <li class="form_field phone_helper">
        <%= f.text_field :phone, :placeholder => "Phone number", :class => "new_field" %>
      </li>
    </ul>

    <ul class="form">
      <li class="form_label">
        Aircraft details
      </li>

      <li class="form_field one_column">
        <%= f.text_field :make, :class => "new_field", :placeholder => "Make*" %>
      </li>

      <li class="form_field one_column">
        <%= f.text_field :model, :class => "new_field", :placeholder => "Model*" %>
      </li>   

      <li class="form_field select_field">
        <%= f.select :aircraft_type, ["Airship / Blimp", "Glider / Sailplane", "Jet", "Helicopter", "Light sport", "Single piston", "Multi piston", "TurboProp", "Ultralight", "Hot air balloon", "Other"], :prompt => 'Aircraft type*' %>
      </li>

      <li class="form_field select_field">
        <%= f.select :aircraft_usage, ["Aerobatic", "Aerial survey", "Agriculture", "Amphibian/Float", "Antique/Classic", "Business/VIP", "Homebuilt", "EMS/SAR/Fire/Police", "Cargo/Freighter", "Passenger", "Warbird/Military", "Other" ], :prompt => 'Aircraft usage*'  %>
      </li>

      <li class="form_field four_columns">
        <%= f.text_field :aircraft_hours, :class => "new_field", :placeholder => "Airframe time (TTAF)*" %>
      </li>

      <li class="form_field four_columns">
        <%= f.text_field :landings, :class => "new_field", :placeholder => "Nr. of landings*" %>
      </li>

      <li class="form_field four_columns">
        <%= f.text_field :number_of_passengers, :class => "new_field", :placeholder => "Nr. of seats*" %>
      </li>

      <li class="form_field select_field four_columns">
        <%= f.select :year, options_for_select((Date.today.year-100..Date.today.year+1).step(1).reverse_each), :prompt => 'Built year*' %>
      </li>

      <li class="form_field four_columns">
        <%= f.text_field :registration_number, :class => "new_field", :placeholder => "Registration number" %>
      </li>

      <li class="form_field four_columns">
        <%= f.text_field :serial_number, :class => "new_field", :placeholder => "Serial number" %>
      </li>
    </ul>

    <ul class="form">
      <li class="form_label">
        Aircraft price
        <span class="form_label_small">If you don't wish to show aircraft price please select "Price options". To show aircraft price again please select "Show aircraft price" option.</span>
      </li>

      <li class="form_field four_columns">
        <%= f.number_field :price, :placeholder => "Price", :class => "new_field" %>
      </li>   
      
      <li class="form_field select_field four_columns">
        <%= f.select :currency, select_for_currencies_helper %>
      </li>   

      <li class="form_field select_field">
        <%= f.select :vat, ["incl. VAT", "excl. VAT"], :prompt => 'Select VAT' %>
      </li>

      <li class="form_field select_field">
        <%= f.select :price_options, ["Contact seller", "Sold", "Charter", "Lease", "Share", "Rental" ], :prompt => 'Price options', :include_blank => 'Show aircraft price'  %>
      </li>
    </ul>

    <ul class="form">
      <li class="form_label">
        Aircraft location
      </li>

      <li class="form_field select_field">
        <%= f.select :country, select_for_countries_helper, :prompt => 'Country*'  %>
      </li>

       <li class="form_field">
        <%= f.text_field :city, :class => "new_field", :placeholder => "City*" %>
      </li>

      <li class="form_field">
        <%= f.text_field :nearest_airport, :class => "new_field", :placeholder => "Airport name*  " %>
      </li>

      <li class="form_field">
        <%= f.text_field :airport_code, :class => "new_field", :placeholder => "Airport code" %>
      </li>
    </ul>

    <!--<ul class="form">
      <li class="form_label">
        Aircraft details
      </li>

      <li class="form_field four_columns">
        <%= f.text_field :aircraft_hours, :class => "new_field", :placeholder => "Aircraft hours" %>
      </li>

      <li class="form_field four_columns">
        <%= f.text_field :landings, :class => "new_field", :placeholder => "Nr. of landings" %>
      </li>

      <li class="form_field four_columns">
        <%= f.text_field :number_of_passengers, :class => "new_field", :placeholder => "Nr. of passengers" %>
      </li>

      <li class="form_field select_field four_columns">
        <%= f.select :year, options_for_select((Date.today.year-100..Date.today.year+1).step(1).reverse_each), :prompt => 'Built year' %>
      </li>

      <li class="form_field">
        <%= f.text_field :serial_number, :class => "new_field", :placeholder => "Serial number" %>
      </li>

      <li class="form_field">
        <%= f.text_field :registration_number, :class => "new_field", :placeholder => "Registration number" %>
      </li>
    </ul>-->

    <!--<ul class="form">
        <li class="form_label">
          Last inspection
        </li>
        <li class="form field">
          <%= f.date_select :last_inspection, {:order => [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year-100} %>
        </li>
    </ul>-->
  </div>
</div>