<% unless current_user.adverts.size >= 1 %>
  <ul class="registration_steps step2">
    <li>
      <span><!--line--></span>
      <b>Step 1</b> Register
    </li>

    <li>
      <span class="active"><!--line--></span>
      <b>Step 2</b> Create an advert
    </li>
  </ul>
<% end %>

<% if current_user.id == @advert.user_id or current_user %>

<%= form_for(@advert, :html => { multipart: true }) do |f| %>
  <div class="new_advert_form_wrapper">
  <div class="new_advert_page">
      <div class="new_advert_nav">
        <ul class="tabs_links">
          <li class="active"><a href="#tab1">General details</a></li>
          <li><a href="#tab2">Engine / Propeller</a></li>
          <li><a href="#tab3">Additional info</a></li>
          <li><a href="#tab4">Images / Submit</a></li>
        </ul>
      </div>

    <div class="new_advert_wrapper">
      <%= render "adverts/new_form/general_details",  f: f %>
      <%= render "adverts/new_form/engine_propeller",  f: f %>
      <%= render "adverts/new_form/additional_info",  f: f %>
      <%= render "adverts/new_form/add_images",  f: f %>
    </div>
  </div>
</div>

  
<% end %>

<% else %>
  <script type="text/javascript">
    window.location.href="/adverts"  // put your correct path in a string here
  </script>
<% end %>