<div id="adverts">
  <div class="user_grid_wrapper">
    <div class="user_grid_container">
      <div class="frame">
        <% @adverts.each do |advert| %>
            <div class="bit-4">
              <div class="user_ad">
                <% if advert.photos.empty? or advert.photos.nil?%>
                  <%= link_to advert_path(advert), data: { no_turbolink: true } do %>
                      <%= image_tag "paper_plane.png" %>
                    <% end %>
                  <% else %>
                    <%= link_to advert_path(advert), data: { no_turbolink: true } do %>
                      <% advert.photos.first(1).each do |photo| %>
                          <%= image_tag photo.image_url(:advert_image) %>
                      <% end %>
                    <% end %>
                  <% end %>

                  <% unless advert.price.nil? %>
                      <div class="user_ad_price">
                          <%= number_to_currency(advert.price, precision: 0, unit: "") %> <%= advert.currency %>
                      </div>
                  <% end %>

                  <div class="user_ad_footer">
                    <div class="user_ad_avatar">
                        <%= link_to user_path(advert.user) do %>
                          <% if advert.user.avatar.blank? or advert.user.avatar.nil? %>
                              <%= image_tag "avatar.png" %>
                          <% else %>
                              <%= image_tag advert.user.avatar_url(:avatar_small) %>
                          <% end %>
                        <% end %>
                    </div>

                    <%= link_to advert_path(advert), data: { no_turbolink: true } do %>
                        <div class="user_ad_make">
                          <%= advert.make %>

                          <div class="user_ad_model">
                              <%= advert.model %>
                          </div>
                        </div>
                    <% end %>
                  </div>
                </div>
            </div>
        <% end %>
      </div>
        <div class="pagination">
          <%= will_paginate @adverts, :previous_label => 'Previous', :next_label => 'Next', :page_links => false %>

          <div class="page_spr_hlp">
          <!-- workaround to visualy separate pagination links -->
          </div>
      </div>
    </div>
  </div>
</div>

