<div class="slide_menu">

	<div class="slide_menu_header">
		Find your aircraft
	</div>

	<div class="slide_menu_search_wrapper">

		<div class="search_bar_close_button">
			<%= image_tag "close_search.png", width: 25 %>
		</div>

		<%= search_form_for @q do |f| %>
		    <ul>
		      <li><%= f.text_field :make_cont, :placeholder => "Manufacturer" %></li>

		      <li><%= f.text_field :model_cont, :placeholder => "Model" %></li>

		      <li>
		      	<div class="dropdown_list">
		      		<%= f.select :aircraft_type_cont, ['Cessna', "Airbus"], :prompt => 'Aircraft type' %>
		      	</div>
		      </li>

		      <li>
		      	<div class="dropdown_list">
		      		<%= f.select :aircraft_usage_cont, ['Cessna', "Airbus"], :prompt => 'Aircraft usage' %>
		      	</div>
		     </li>

		      <li>
		      	<div class="dropdown_list">
		      		<%= f.select :country_cont, ['Cessna', "Airbus"], :prompt => 'Country' %>
		      	</div>
		     </li>
		      
		      <li><%= f.submit :class => "search_button" %></li>
		    </ul>
		<% end %>
	</div>
</div>

<div class="screen_shadow">
</div>