<!DOCTYPE html>
<html>
<head>
  <title>School</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>

  <!-- FAVICON -->
  	<%= favicon_link_tag 'favicon.ico' %>

  <!-- GOOGLE FONTS -->
  	<link href='https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Open+Sans:300|Alegreya+Sans+SC|Julius+Sans+One|Josefin+Sans|Lato|Roboto' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- FACEBOOK -->
<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=178872632300191&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<!--<% if !signed_in? %>

<div id="bg_image">

	<div id="header_wrapper">
	<div class="header">

		<%= link_to root_url, data: { no_turbolink: true } do %>
			<div class="header_logo"> 
				<div class="webpage_title">
					Foreign Language School
				</div>
			</div>
		<% end %>

  		<div class="header_navigation">
				<ul>
					<li><%= link_to courses_path, data: { no_turbolink: true } do %>
						HOME
						<% end %>
					</li>

					<% if student_signed_in? %>

				  		<li><%= link_to edit_student_registration_path do %>
				  			DASHBOARD
				  		<% end %>
						</li>

					<% end %>

					<% if teacher_signed_in? %>

						<li><%= link_to new_course_path do %>
								NEW COURSE
							<% end %>
						</li>

				  		<li><%= link_to edit_teacher_registration_path do %>
				  			DASHBOARD
				  		<% end %>
						</li>

					<% end %>

				</ul>
			</div>
	</div>
</div>

  <div class="bg_image_text">

    <div class="bg_image_left">
      Learn foreign language online<br/>
      <span>How it works?</span><br/>

    <div class="bg_steps">
    	<table>
    		<tr>
    			<td><%= image_tag "arrow.png", width: 18 %></td> 
    			<td>Find a language course</td>
    		</tr>

    		<tr>
	      		<td><%= image_tag "arrow.png", width: 18 %></td>
	      		<td>Enroll to this course</td>
	      	</tr>

	      	<tr>
	      		<td><%= image_tag "arrow.png", width: 18 %></td>
	      		<td>Teacher will call you</td>
	      	</tr>
      	</table>
	</div>
    </div>

    <%= link_to new_student_session_path do %>
	    <div class="bg_image_sign_student">
	      <%= image_tag "key.png", width: 30 %> Student 
	    </div>
	<% end %>

    <%= link_to new_teacher_session_path do %>
	    <div class="bg_image_sign_teacher">
	      <%= image_tag "key.png", width: 30 %> Teacher
	    </div>
	<% end %>

    <div class="bg_image_right">
      <%= image_tag "tablet.png", width: 500 %>
    </div>

  </div>
</div>
<% end %>-->


<!--<div class="header_login_wrapper">
	<div class="header_login">
		<div class="header_login_nav">

			<%= image_tag "lock.png", width: 12 %>
			  <% if student_signed_in? %>
			    <%= link_to "Sign out", destroy_student_session_path, :method => :delete %>
			  		
			  		<% elsif teacher_signed_in? %>
			  			<%= link_to "Sign out", destroy_teacher_session_path, :method => :delete %>

			  				<% else %>
			    				<%= link_to "Student", new_student_session_path %> | <%= link_to "Teacher", new_teacher_session_path %>
			  <% end %>
		</div>
	</div>
</div>-->


<div id="header_wrapper2">
	<div class="header2">

		<%= link_to root_url, data: { no_turbolink: true } do %>
			<div class="header_logo2"> 
				<div class="webpage_title">
					<%= image_tag "quill.png", width: 50 %> Foreign Language School
				</div>
			</div>
		<% end %>

  		<div class="header_navigation2">
				<ul>
					<% if !signed_in? %>
						<%= link_to courses_path, data: { no_turbolink: true } do %>
							<li>COURSES</li>
						<% end %>

						<%= link_to new_student_session_path do %>
						      <li>Login</li>
						<% end %>

					<% end %>
					

					<% if student_signed_in? %>
				  		<%= link_to edit_student_registration_path do %>
				  			<li>DASHBOARD</li>
				  		<% end %>

				  	<%= link_to destroy_student_session_path, :method => :delete do %>
					  		<li><%= image_tag "key.png", width: 25 %></li>
					  	<% end %>
					<% end %>


					<% if teacher_signed_in? %>

						<%= link_to new_course_path do %>
							<li>NEW COURSE</li>
						<% end %>
						

				  		<%= link_to edit_teacher_registration_path do %>
				  			<li>DASHBOARD</li>
				  		<% end %>

				  		<%= link_to destroy_teacher_session_path, :method => :delete do %>
			  				<li><%= image_tag "key.png", width: 25 %></li>
			  			<% end %>

			  		<% end %>

				</ul>
			</div>

	</div>
</div>

<%= yield %>

	<div class="footer">
        <div class="footer-left">
        </div>

        <div class="footer-image">
          <%= image_tag "rails.png", data: {pin_no_hover: "true"}, width: 30 %>
        </div>

        <div class="footer-right">
        </div>
    </div>

<!-- ---------------------------------------->

<!-- MASONRY WORKS WHEN IS BELOW YIELD-->
    <script src="assets/masonry/masonry.pkgd.js"></script> 
    	<script>
     		var $container = $('#masonry_container');
     			$(window).load(function(){

				  $container.imagesLoaded(function(){
				    $container.masonry({
				      itemSelector: '.box',
				      stamp: ".stamp"
				    });
				  });

			});
		</script>

 <!-- JQUERY -->   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>
</html>
