<!DOCTYPE html>
<!-- FACEBOOK APP -->
<html xmlns:fb="http://ogp.me/ns/fb#">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# learn-language: http://ogp.me/ns/fb/chocolate-by-post#">
  <title>School</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>

  <!-- FAVICON -->
  	<%= favicon_link_tag 'favicon.ico' %>

  <!-- GOOGLE FONTS -->
  	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300|Alegreya+Sans+SC|Lato|Roboto' rel='stylesheet' type='text/css'>

  <!-- HTML5 VIDEO PLAYER -->
  	<link href="//vjs.zencdn.net/4.10.10.0/video-js.css" rel="stylesheet">
	<script src="//vjs.zencdn.net/4.10.10.0/video.js"></script>

</head>
<body>

<!-- FACEBOOK -->
<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=178872632300191&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>


<!-- NOTICE MESSAGE -->
<script>
	$(function () {
	  var alert = $('.alert');
	  if (alert.length > 0) {
	    alert.show();
	    window.setTimeout(function() {
	      alert.fadeOut();
	    }, 4000);
	  }
	});
</script>

<header>
<div id="header_wrapper">
	<div class="header">


		<%= link_to root_url, data: { no_turbolink: true } do %>
			<div class="header_logo"> 

				<div class="webpage_logo">
					<%= image_tag "logo 75x75.png", width: 35 %>
				</div>

				<div class="webpage_title">
					Lingonas
				</div>
			</div>
		<% end %>

  		<div class="header_navigation">
				<ul>
					<% if !signed_in? %>

						<%= link_to new_contact_path do %>
						      <li>CONTACT</li>
						<% end %>

						<%= link_to new_student_registration_path do %>
						      <li>SIGN UP</li>
						<% end %>
					<% end %>



					<% if teacher_signed_in? %>
						<%= link_to courses_path, data: { no_turbolink: true } do %>
							<li>COURSES</li>
						<% end %>

						<%= link_to new_course_path do %>
							<li>NEW COURSE</li>
						<% end %>

						<%= link_to teacher_path(current_teacher), data: { no_turbolink: true } do %>
							<li>MY COURSES</li>
						<% end %>
					
						<%= link_to edit_teacher_registration_path, data: { no_turbolink: true } do %>
							<li>SETTINGS</li>
						<% end %>

						<%= link_to destroy_teacher_session_path, :method => :delete do %>
			  				<li>SIGN OUT</li>
			  			<% end %>
					<% end %>
					

					<% if student_signed_in? %>
						<%= link_to courses_path, data: { no_turbolink: true } do %>
							<li>COURSES</li>
						<% end %>

				  		<%= link_to student_path(current_student), data: { no_turbolink: true } do %>
				  			<li>HISTORY</li>
				  		<% end %>

				  		<%= link_to edit_student_registration_path, data: { no_turbolink: true } do %>
							<li>SETTINGS</li>
						<% end %>

				  		<%= link_to destroy_student_session_path, :method => :delete do %>
					  		<li>SIGN OUT</li>
					  	<% end %>
					<% end %>

				</ul>
			</div>

	</div>
</div>
</header>

<%= yield %>

	<div class="footer">
        <div class="footer-left">
        </div>

        <div class="footer-image">
          <%= image_tag "logo_footer.png", width: 30 %>
        </div>

        <div class="footer-right">
        </div>
    </div>

<!-- ---------------------------------------->

 <!-- JQUERY -->   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>
</html>
