<!DOCTYPE html>
<html>
<head>
  <title>Aircraft Market</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <!-- Cloudinary config params in view -->
  <%= cloudinary_js_config %>
  <!-- ---------------------- --> 

  <!-- Magnific Popup core CSS file -->
  <link rel="stylesheet" href="/assets/gallery/magnific-popup.css"> 

  <!-- GOOGLE ANALYTICS -->
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-44443978-1', 'auto');
	  ga('send', 'pageview');

	</script>

  <!-- FAVICON -->
  	<%= favicon_link_tag 'favicon.ico' %>
    <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />-->

  <!-- GOOGLE FONTS -->
  	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Alegreya+Sans+SC|Lato:300,400,700,900|Roboto|PT+Sans+Narrow|PT+Sans|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

	<!-- required for page to scale properly inside any screen size, particularly in the mobile viewport. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 

</head>
<body>
<!-- NOTICE MESSAGE -->
<script>
	$(function () {
	  var alert = $('.alert');
	  if (alert.length > 0) {
	    alert.show();
	    window.setTimeout(function() {
	      alert.fadeOut();
	    }, 4000);
	  }
	});
</script>

<%= render "layouts/header" unless @header %>

<%= yield %>

<%= render "layouts/footer" unless @footer %>

   <!-- MASONRY --> 
   <script src="/assets/masonry/masonry.pkgd.min.js"></script>

    <script>
   		$(document).ready(function(){
   			var $container = $('#masonry-container');
   				// initialize
   			$container.masonry({
   				// options 
				  itemSelector: '.box',
          isFitWidth: true	  
   			});
   		});
	</script>

  <!-- Magnific Popup core JS file -->
  <script src="/assets/gallery/jquery.magnific-popup.js"></script>

	</body>
</html>
