<div class="teacher_edit">
  <div class="teacher_edit_box_title">
      Profile Settings
  </div>

  <div class="teacher_edit_box">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password, "New password" %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation, "New password confirmation" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  </div>


    <div class="teacher_edit_box_title">
      Save Changes
    </div>

    <div class="teacher_edit_box">
      <div><%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Update", {:class => "teacher_save_changes_button"} %></div>
  <% end %>
  </div>
 

  <div class="teacher_edit_box_title">
    Cancel Account
  </div>

  <div class="teacher_edit_box">
    <div class="teacher_edit_box_cancel">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
  </div>
</div>