<div id="student_login">
	  <h1>Student's Sign Up Form</h1>
	  	<div id="student_login_form">

			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

			  <div><%= f.label :email %><br />
			  <%= f.email_field :email, autofocus: true %></div>

			  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
			    <%= f.password_field :password, autocomplete: "off" %></div>

			  <div><%= f.label :password_confirmation %><br />
			    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

			  <div><%= f.submit "Sign up" %></div>
			<% end %>
		</div>
	</div>
	
	<div id="student_login_links">
		<%= render "students/shared/links" %>

		<%= link_to new_teacher_session_path do %>
		   Teacher's Log In Form
		<% end %>
	</div>


