<div id="student_login">
	  <div id="student_login_header">Student's Sign Up Form</div>
	  	<div id="student_login_form">

			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

			  <div><%= f.label :email %><br />
			  <%= f.email_field :email, autofocus: true, :class => "student_login_field" %></div>

			  <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
			    <%= f.password_field :password, autocomplete: "off", :class => "student_login_field" %></div>

			  <div><%= f.label :password_confirmation %><br />
			    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "student_login_field" %></div>
			
				<div class="terms_and_conditions">
					<%= f.check_box :terms_conditions, {:id => "term_and_conditions_input"}, "accepted" %>
					<label for="term_and_conditions_input"></label>
				</div>

				<div class="terms_link">
					By signing up you agree to <%= link_to "terms & conditions", "https://lingonas.com/terms_and_conditions/terms%20and%20conditions.pdf", :target => "_blank" %>
				</div> 

			  <div class="action"><%= f.submit "Sign up", :class => "login_submit_button" %></div>
			<% end %>
		</div>
	</div>
	
	<div id="student_login_links">
		<%= render "students/shared/links" %>

		<%= link_to new_teacher_session_path do %>
		   Teacher's Log In Form
		<% end %>
	</div>


