<% page_title_helper "Profile settings | AviaTrading" %>

<% meta_description_helper "Edit profile information. Update your latest information. This will help you to attract more visitors and sell aircraft faster." %>

<%= render 'user_navigation_panel' %>

<div class="settings_container_wrapper">
  <div class="settings_container">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="user_profile_wrapper">  
    <div class="user_profile_form_header">
      Profile Settings
    </div>

    <%= devise_error_messages! %>

    <div class="user_profile_form_wrapper">
      <% if @user.account_type == "Company" %>
        <ul>
          <li class="user_profile_form_label">
            Company

            <span class="user_profile_label_small">
              Spaces and special characters are fine.
            </span>
          </li>

          <li class="one_column">
            <%= f.text_field :organisation, :placeholder => "Company name" %>
          </li>

          <li class="one_column">
            <%= f.text_field :web_url, :placeholder => "Website URL" %>
          </li>
        </ul>
      <% end %>

      <% if @user.account_type == "Company" %>
        <ul>
          <li class="user_profile_form_label">
            Office address
          </li>

          <li class="one_column select_field">
          <%= f.select :country, select_for_countries_helper, :prompt => 'Country'  %>
        </li>

          <li class="two_columns">
            <%= f.text_field :state, :placeholder => "State"  %> 
          </li>

          <li class="two_columns">
            <%= f.text_field :city, :placeholder => "City"  %>
          </li>

          <li class="two_columns">
            <%= f.text_field :street, :placeholder => "Street" %>
          </li>

          <li class="two_columns">
            <%= f.text_field :postal_code, :placeholder => "Postal code" %>
          </li>
        </ul>
      <% end %>

      <ul>
        <li class="user_profile_form_label">
          Account email / phone
        </li>

        <li class="one_column">
          <%= f.email_field :email, autofocus: false %>
        </li>

        <li class="one_column">
          <%= f.text_field :phone, :placeholder => "Phone" %>
        </li>
      </ul>

      <ul>
        <li class="user_profile_form_label">
          About

          <span class="user_profile_label_small">
            Up to 1,000 characters.
          </span>
        </li>

        <li class="one_column">
          <%= f.text_area :about, :class => "user_profile_about" %>
        </li>
      </ul>

      <ul>
        <li class="user_profile_form_label">
          Account type

          <span class="user_profile_label_small">
            Change account type
          </span>
        </li>

        <% [ 'Personal', 'Company' ].each do |account_type| %>
          <li class="account_type">
            <%= f.radio_button :account_type, account_type, :class => "type_#{account_type}" %><br>
            <%= f.label account_type %>
          </li>
        <% end %>
      </ul>

      <ul>
        <li class="user_profile_form_label">
          <%= f.label :avatar, "User image" %><br/>
          <span class="user_profile_label_small">JPEG, JPG, GIF or PNG, 1MB max. Best size 440px wide and 150px tall.</span>
          <div class="status_avatar"></div>
        </li>

        <label class="myLabel">
          <li>
            <%= f.cl_image_upload(:avatar, :return_delete_token => true, :html => {:class => "avatar_upload"}) %>
          </li>
          <span><%= image_tag "cloud_upload.png", width: 20 %> Upload image</span>
        </label>
        
        <li class="preview_avatar preview_logo">
          <%= image_tag @user.avatar_url(:avatar) %> 
        </li>
      </ul>
    </div>
  </div>


  <!-- ---------------- -->


  <div class="user_profile_change_password_wrapper">
    <div class="user_profile_form_header">
      Change Password 
    </div>

    <div class="user_profile_form_wrapper">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <ul>
        <li class="user_profile_form_label">
          <%= f.label :password, "New password" %><br/>
          <span class="user_profile_label_small">Leave blank if you don't want to change it.</span>
        </li>
        <li class="one_column"><%= f.password_field :password, autocomplete: "off" %></li>
      </ul>

      <ul>
        <li class="user_profile_form_label">
          <%= f.label :password_confirmation, "New password confirmation" %><br/>
          <span class="user_profile_label_small"></span>
        </li>
        <li class="one_column"><%= f.password_field :password_confirmation, autocomplete: "off" %></li>
      </ul>
    </div>
  </div>


  <!-------------- -->


  <div class="user_profile_save_changes_wrapper">
    <div class="user_profile_form_header">
      Save Account Changes 
    </div>

    <div class="user_profile_form_wrapper">
      <ul>
        <li class="user_profile_form_label">
          <%= f.label :current_password %>

          <span class="user_profile_label_small">
            We need your current password to save your changes.
          </span>
        </li>

        <li class = "one_column">
          <%= f.password_field :current_password, autocomplete: "off" %>
        </li>
      </ul>
    </div>

    <div class="button_wrapper">
      <%= f.submit "Save changes", :class => "user_form_update_button"  %>
    </div>
  </div>
<% end %>

    <div class="delete_user_account_button_wrapper">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "delete_user_account_button" %>
    </div>
  </div>
</div>