<% page_title_helper "Sign Up for AviaTrading" %>

<% meta_description_helper "Sign up to aviatrading.com. Place and edit advert to sell aircraft quickly." %>

<ul class="registration_steps">
  <li>
    <span class="active"><!--line--></span>
    <b>Step 1</b> Register
  </li>

  <li>
    <span><!--line--></span>
    <b>Step 2</b> Create an advert
  </li>
</ul>

<div class="registration_form_wrapper">
      <div class="registration_form_header">
        <div class="registration_form_logo">
          <span class="icon-propeller"></span>
        </div>

        <% if params[:plan] == "1" %>
        	Subscribe for Basic Plan
        <% elsif params[:plan] == "2" %>
        	Subscribe for Premium Plan
        <% end %>

        <div class="registration_form_tagline">
        	<% if params[:plan] == "1" %>
          		<b><%= link_to "Subscribe for premium plan", sign_up_path(plan: 2) %></b> to sell more aircrafts 
          	<% elsif params[:plan] == "2" %>
          		you can <b><%= link_to "downgrade to basic", sign_up_path(plan: 1) %></b> plan anytime
          	<% end %>
        </div>
      </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

      <%= devise_error_messages! %>

        <%= hidden_field_tag 'plan', params[:plan] %>

        <div class="auth_form">
          <%= f.label :email, "Email*", :class => "auth_label" %><span class="registr_required_fields">Required fields*</span>
          <%= f.email_field :email, :class => "auth_field" %>
        </div>

        <div class="auth_form">
          <%= f.label :password, "Password*", :class => "auth_label" %>
          <%= f.password_field :password, :class => "auth_field" %>
        </div>

        <div class="auth_form">
          <%= f.label :password_confirmation, "Password Confirmation*", :class => "auth_label" %>
          <%= f.password_field :password_confirmation, :class => "auth_field" %>
        </div>

        <div class="auth_form">
          <%= f.label :coupon, "Coupon number", :class => "auth_label" %>
          <%= f.text_field :coupon, :class => "auth_field" %>
        </div>

        <div class="auth_form">
          <%= f.label :account_type, "Account type*", :class => "auth_label" %>
            <ul class="account_type">
              <% [ 'Personal', 'Company' ].each do |account_type| %>
                <li>
                  <%= f.radio_button :account_type, account_type, :class => "type_#{account_type}" %>
                  <%= f.label account_type %>
                </li>
              <% end %>
            </ul>
        </div>

        <div class="sign_up_section company">

  <div class="auth_form">
    <%= f.label :organisation, "Company name", :class => "auth_label" %>
    <%= f.text_field :organisation, :class => "auth_field" %>
  </div>

  <div class="auth_form">
    <%= f.label :web_url, "Website URL", :class => "auth_label" %>
    <%= f.text_field :web_url, :class => "auth_field" %>
  </div>

  <div class="auth_form">
    <%= f.label :avatar, "Company logo", :class => "auth_label" %>
    <span class="user_profile_label_small">JPEG, JPG, GIF or PNG, 1MB max. Best size 440px wide and 150px tall.</span>
    <div class="status_avatar sign_up"></div>
  </div>

    <label class="myLabel">
      <%= f.cl_image_upload(:avatar, :return_delete_token => true, :html => {:class => "avatar_upload"}) %>
      <span><%= image_tag "cloud_upload.png", width: 20 %> Upload logo</span>
    </label>
    
    <!--<li class="preview_logo">
      <%= image_tag @user.avatar_url(:avatar) %> 
    </li>-->

  <div class="preview_avatar sign_up_logo">
    <%= image_tag @user.avatar_url(:avatar) %>
  </div>

  <div class="auth_form">
    <ul>
      <li class="select_field">
        <%= f.label :country, "Country", :class => "auth_label" %>
        <%= f.select :country, select_for_countries_helper, :prompt => 'Select a country'  %>
      </li>
    </ul>
  </div>

  <ul class="sign_up_form">
    <li>
      <%= f.label :state, "State", :class => "auth_label" %>
      <%= f.text_field :state, :class => "auth_field" %>
    </li>

    <li>
      <%= f.label :city, "City", :class => "auth_label" %>
      <%= f.text_field :city, :class => "auth_field" %>
    </li>
  
    <li>
      <%= f.label :street, "Street", :class => "auth_label" %>
      <%= f.text_field :street, :class => "auth_field" %>
    </li>

    <li>
      <%= f.label :postal_code, "Postal code", :class => "auth_label" %>
      <%= f.text_field :postal_code, :class => "auth_field" %>
    </li>
  </ul>
</div>

    <%= f.submit "Continue", :class => "registration_submit_button" %>
      <% end %>

      <div class="registration_form_links">
        Already signed up? <%= link_to "Sing in", sign_in_path %>
      </div>
</div>

