<div class="registration_form_wrapper">
  <div class="registration_form_block">
      <div class="registration_form_header">
        <div class="registration_form_logo">
          <span class="icon-propeller-big"></span>
        </div>

        <% if params[:plan] == "1" %>
        	Subscribe for Basic Plan
        <% elsif params[:plan] == "2" %>
        	Subscribe for Premium Plan
        <% end %>

        <div class="registration_form_tagline">
        	<% if params[:plan] == "1" %>
          		<b><%= link_to "Subscribe for premium plan", sign_up_path(plan: 2) %></b> to sell aircraft faster 
          	<% elsif params[:plan] == "2" %>
          		you can <b><%= link_to "downgrade to basic", sign_up_path(plan: 1) %></b> plan anytime
          	<% end %>
        </div>
      </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

      <%= devise_error_messages! %>

        <%= hidden_field_tag 'plan', params[:plan] %>

      <div class="sign_up_form_wrapper">
        <div class="auth_form">
          <%= f.label :email, :class => "auth_label" %>
          <%= f.email_field :email, :class => "auth_field" %>
        </div>

        <div class="auth_form">
          <%= f.label :password, :class => "auth_label" %>
          <%= f.password_field :password, :class => "auth_field" %>
        </div>

        <div class="auth_form">
          <%= f.label :password_confirmation, :class => "auth_label" %>
          <%= f.password_field :password_confirmation, :class => "auth_field" %>
        </div>
      </div>

          <%= f.submit "Continue", :class => "registration_submit_button" %>
      <% end %>

      <div class="registration_form_links">
        Already signed up? <%= link_to "Sing in", sign_in_path %>
      </div>
    </div>

    <div class="plan_details_block_basic">
      <div class="plan_details_header">
        
      </div>

      <div class="plan_details_benefits">
          <ul>
            <li>
              Saves your money
              <span class="plan_details_explain">Basic plan is FREE.</span>
            </li>
            <li>
              Reaching global audience
              <span class="plan_details_explain">Manage you content without limits.</span>
            </li>
            <li>
              Changes can be made on the fly
              <span class="plan_details_explain">Manage you content without limits.</span>
            </li>
            <li>
              Increased visibility
              <span class="plan_details_explain">Paid adverts have distinguishable elements against unpaid adverts.</span>
            </li>
            <li>
              <%=link_to "Branded content", adverts_path %>
              <span class="plan_details_explain">We help our brand partners to develop and deliver great content to reach their audiences.</span>
            </li>
          </ul>
        </div>
    </div>
</div>