<%= render 'user_navigation_panel' %>

<div class="subscription_wrapper">
  <div class="subscription_container">
    <div class="subscription_header">
      <div class="subscription_form_logo">
        <span class="icon-propeller"></span>
      </div>

      <% if @user.plan_id == 2 && @user.setup_billing %>
        Downgrade to Basic
          <div class="subscription_title_small">
            You have been subscribed to a <b>Premium plan</b>
          </div>
      <% elsif @user.plan_id == 1 && @user.setup_billing %>
        Upgrade to Premium
          <div class="subscription_title_small">
            You have been subscribed to a <b>Basic plan</b>
          </div>
      <% elsif (@user.plan_id == 1 or @user.plan_id == 2) && !@user.setup_billing %>
        Setup Billing
          <div class="subscription_title_small">
            Setup billing info until <span class="trial_end_highlight"><%= @user.trial_end.strftime("%b %d, %Y") %></span>
          </div>
      <% elsif @user.plan_id == 0 && !@user.setup_billing %>
        Subscribe to a Plan
          <div class="subscription_title_small">
            Choose a plan that's right for you
          </div>
      <% end %>
    </div>

    <div class="subscription_form_wrapper">
      <% if @user.plan_id == 1 && @user.setup_billing %>
        <%= render "users/registrations/subscription_partial/upgrade_to_premium" %>
      <% elsif @user.plan_id == 2 && @user.setup_billing %>
        <%= render "users/registrations/subscription_partial/downgrade_to_basic" %>
      <% elsif (@user.plan_id == 1 or @user.plan_id == 2) && !@user.setup_billing %>
        <%= render "users/registrations/subscription_partial/setup_billing" %>
      <% elsif @user.plan_id == 0 && !@user.setup_billing %> 
        <%= render "users/registrations/subscription_partial/choose_plan" %>
      <% end %>
    </div>
  </div>
</div>