<div class="subscription_wrapper">
  <div id="flash">
    <% if flash[:notice] %>
      <h3><%= flash[:notice] %></h3>
    <% end %>

    <% if flash[:error] %>
      <h3><%= flash[:error] %></h3>
    <% end %> 
  </div>
  <%= render 'user_navigation_panel' %>

  <div class="subscription_content">
    <div class="subscription_header">
      <div class="subscription_form_logo">
        <span class="icon-propeller-big"></span>
      </div>

      <% if @user.plan_id == 1 %>
        Setup billing for Basic plan
      <% elsif @user.plan_id == 2 %>
        Downgrade to Basic
      <% else %>
        Subscribe to a plan
      <% end %>
    </div>

  <div class="subscription_payment">
    <%= devise_error_messages! %>
      <% if @user.errors.any? %>  
        <div id="errorExplanation">  
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>  
          <ul>  
          <% @user.errors.full_messages.each do |msg| %>  
            <li><%= msg %></li>  
          <% end %>  
          </ul>  
        </div>  
      <% end %>

  <% if @user.plan_id == 1 && @user.paid %>
    <%= render "users/registrations/subscription_partial/upgrade_to_premium" %>
  <% elsif @user.plan_id == 2 && @user.paid %>
    <%= render "users/registrations/subscription_partial/downgrade_to_basic" %>
  <% elsif (@user.plan_id == 1 or @user.plan_id == 2) && !@user.paid %>
    <%= render "users/registrations/subscription_partial/setup_billing" %>
  <% elsif @user.plan_id == 0 && !@user.paid %> 
    <%= render "users/registrations/subscription_partial/subscribe_to_plan" %>
  <% end %>

    </div>
  </div>

  <div class="subscription_details">
    Plan Details
  </div>
</div>